<a href="https://colab.research.google.com/github/thainhf/proj-me-db-data/blob/main/Clean_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install --upgrade -q gspread
!pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
! pip install urllib2
! pip install urllib
! pip install python_decouple

In [ ]:
!pip install selenium
!apt-get update 
!apt install firefox-geckodriver
!pip install geckodriver-autoinstaller
!apt install chromium-chromedriver
!cp /usr/lib/chromium-browser/chromedriver /usr/bin
from selenium.webdriver.firefox.options import Options as FirefoxOptions

In [1]:
! pip install --upgrade gspread
! pip install python-dotenv
! pip install python-decouple

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (5.7.1)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (0.4.6)
Requirement already satisfied: google-auth>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from gspread) (2.14.1)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (1.15.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (5.2.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (1.25.11)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2022.9.24)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.7/dist-packages (0.21.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting python-decouple
  Using cached python_decouple-3.6-py3-none-any.whl (9.9 kB)
Installing collected packages: python-decouple
Successfully installed python-decouple-3.6

In [2]:
import gspread as gs
import pandas as pd
import numpy as np
from google.colab import auth
auth.authenticate_user()
from google.auth import default
from pathlib import Path  
import re
from pandas_profiling import ProfileReport

import requests
import json
import urllib
from decouple import config,Config, RepositoryEnv

In [294]:
df = pd.read_excel('/content/drive/MyDrive/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/Copy of 650411_ฐานข้อมูลเครือข่ายนักประเมิน_จากลิ้ง.xlsx', index_col=0, header=2)

# แก้ option ตอน read ให้เป็น utf-8

In [295]:
df.columns

Index(['คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'นามสกุล', 'ชื่อ-นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา', 'Unnamed: 11',
       'Unnamed: 12', 'หน่วยงานที่สังกัด', 'ความสนใจด้านการประเมินผล',
       'การทำงานด้านการประเมินผล', 'ประสบการณ์ด้านการประเมินผล',
       'ระดับประสบการณ์ด้านการประเมินผล',
       'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ',
       'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล',
       'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล',
       'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.',
       'ฐานะผู้ประเมิน', 'เคยประเมินผลให้กับหน่วยงานอื่น', 'ความเชี่ยวชาญ',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'ปัญหาและอุปสรรคจากการประเมินฯ',
       'ข้อเสนอแนะต่อการประเมินฯ', 'ข้อเสนอแนะต่อการพัฒนาศักยภาพนักประเมินฯ',
       'ฐาน สสส.', 'รวมโดย M&E', 'อบรมนักประเมิน', 'DE', 'เครือข่ายหมอพงค์เทพ',
       'เครือข่ายหมอปิยะ', 'ตอบแบบสอบถาม', 'ไม่พบที่อยู่', 'ไม่ตอบ',
       'ตอบแบบสอบถาม.1', 'ไม่พบที่อยู่.1', 'ไม่ตอบ.1'],
      dtype='object')

## **1. Changing columns name**

In [296]:
recol_df = df.copy()
n=0
for key in df.columns:
  if not recol_df.iloc[:1,n:n+1].isnull().values.any() :
    #print(df.columns[n], '->', df.iloc[0,n])
    if 'Unnamed' not in recol_df.columns[n] :
      print(recol_df.columns[n], '->', recol_df.columns[n]+ ' ' +recol_df.iloc[0,n])
      recol_df = recol_df.rename(columns={recol_df.columns[n]:recol_df.columns[n]+ ' ' +recol_df.iloc[0,n]})

    else:
      a=n
      while 'Unnamed' in recol_df.columns[a]:
        a -= 1
      else:
        print(recol_df.columns[n], '->', recol_df.columns[a].split()[0]+ ' ' +recol_df.iloc[0,n])
        recol_df = recol_df.rename(columns={recol_df.columns[n]:recol_df.columns[a].split()[0]+ ' ' +recol_df.iloc[0,n]})
        
    #new_df = df.rename(columns={df.columns[n]:df.iloc[0,n]})
  n += 1

ด้านการศึกษา -> ด้านการศึกษา ระดับการศึกษา
Unnamed: 11 -> ด้านการศึกษา สาขาที่จบ (สูงสุด)
Unnamed: 12 -> ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)
ความเชี่ยวชาญ -> ความเชี่ยวชาญ ด้านประเด็น
Unnamed: 26 -> ความเชี่ยวชาญ กลุ่มเป้าหมาย
Unnamed: 27 -> ความเชี่ยวชาญ พื้นที่ดำเนินการ
Unnamed: 28 -> ความเชี่ยวชาญ ทักษะ skill and competency
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ
Unnamed: 30 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study
Unnamed: 31 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study
Unnamed: 32 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study

In [297]:
recol_df.columns

Index(['คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'นามสกุล', 'ชื่อ-นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา ระดับการศึกษา',
       'ด้านการศึกษา สาขาที่จบ (สูงสุด)',
       'ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)', 'หน่วยงานที่สังกัด',
       'ความสนใจด้านการประเมินผล', 'การทำงานด้านการประเมินผล',
       'ประสบการณ์ด้านการประเมินผล', 'ระดับประสบการณ์ด้านการประเมินผล',
       'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ',
       'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล',
       'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล',
       'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.',
       'ฐานะผู้ประเมิน', 'เคยประเมินผลให้กับหน่วยงานอื่น',
       'ความเชี่ยวชาญ ด้านประเด็น', 'ความเชี่ยวชาญ กลุ่มเป้าหมาย',
       'ความเชี่ยวชาญ พื้นที่ดำเนินการ',
       'ความเชี่ยวชาญ ทักษะ skill and competency',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study',
       'ปัญหาและอุปสรรคจากการประเมินฯ', 'ข้อเสนอแนะต่อการประเมินฯ',
       'ข้อเสนอแนะต่อการพัฒนาศักยภาพนักประเมินฯ', 'ฐาน สสส.', 'รวมโดย M&E',
       'อบรมนักประเมิน', 'DE', 'เครือข่ายหมอพงค์เทพ', 'เครือข่ายหมอปิยะ',
       'ตอบแบบสอบถาม', 'ไม่พบที่อยู่', 'ไม่ตอบ', 'ตอบแบบสอบถาม.1',
       'ไม่พบที่อยู่.1', 'ไม่ตอบ.1'],
      dtype='object')

## **2. Selecting important columns & row**

In [408]:
new_df = recol_df.iloc[1:622,:32]
new_df = new_df.reset_index(drop=True)
#new_df = new_df.drop(columns=['ชื่อ-นามสกุล', 'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.', 'ฐานะผู้ประเมิน'], axis=1)
new_df = new_df.drop(columns=['ชื่อ-นามสกุล', 'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.'], axis=1)
new_df

,คำนำหน้า,ตำแหน่ง,ชื่อ,นามสกุล,ที่อยู่,โทรศัพท์,โทรศัพท์มือถือ,อีเมล์,ด้านการศึกษา ระดับการศึกษา,ด้านการศึกษา สาขาที่จบ (สูงสุด),...,ฐานะผู้ประเมิน,เคยประเมินผลให้กับหน่วยงานอื่น,ความเชี่ยวชาญ ด้านประเด็น,ความเชี่ยวชาญ กลุ่มเป้าหมาย,ความเชี่ยวชาญ พื้นที่ดำเนินการ,ความเชี่ยวชาญ ทักษะ skill and competency,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study
0,นาง,NaN,กนกพร,ตันวัฒนะ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,น.ส.,NaN,กนกภรณ์,ชูเชิด,เลขที่ 119/36 ซอยท่าอิฐ หมู่บ้านมณียา ถนนรัตนา...,NaN,0899241928,chucherd_k@lycos.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,สาขาพัฒนาสังคม คณะมนุษยศาสตร์และสังคมศาสตร์ มห...,NaN,0816237579,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,ภาควิชาวิจัยและจิตวิทยาการศึกษา คณะครุศาสตร์ จ...,NaN,0836157722,ksriklaub@gmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,ภาควิชาอนามัยครอบครัว คณะสาธารณสุขศาสตร์ มหาวิ...,02-3548536,0816511353,kanittha.cha@mahidol.ac.th,ปริญญาเอก,ปร.ด. (สังคมศาสตร์การแพทย์),...,ผู้ประเมินภายนอก,1. สำนักอนามัยการเจริญพันธุ์ กระทรวงสาธารณสุข\...,"กลุ่มโรคไม่ติดต่อ, ระบบสุขภาพ, สุขภาวะทางเพศ","กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), กลุ่มวัยทำ...",NaN,NaN,มาก,มากที่สุด,มากที่สุด,มากที่สุด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,5/231 ม.ประชานิเวศน์ 2ระยะ 3 ซ. สามัคคี 65 ถ.ส...,0869792160,0869792160,O_SUKSAI@hotmail.com,ปริญญาเอก,Ph.D. ( Communication),...,ผู้ประเมินภายนอก,Thai PBS,"ระบบสุขภาพ, สุขภาพจิต, อุบัติเหตุ, รู้เท่าทันส...","เด็กปฐมวัย (0-5ปี), เด็กวัยเรียน (5-14ปี), กลุ...",NaN,NaN,มากที่สุด,มาก,มาก,มาก
617,คุณ,NaN,อุษา,อติโภคบูรณ์,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,ผศ.ดร.,อุษา,อ้นทอง,เลขที่ 140 ถนนกาญจนวานิช ต.เขารูปช้าง อ.เมือง ...,NaN,"0869614556, 0819654556",usaonthong@hotmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,น.ส.,ดร.,อุษารดี,ภู่มาลี,คณะวนศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ 50 ถนนงามวง...,0930238420,0930238420,ploy_ku59@hotmail.com,ปริญญาเอก,ปร.ด (อุทยาน นันทนาการ และการท่องเที่ยว),...,"ผู้ประเมินภายใน, ผู้ประเมินภายนอก",กรมส่งเสริมคุณภาพสิ่งแวดล้อม กรมทรัพยากรทะเลแล...,"สิ่งแวดล้อม, การพัฒนาชุมชน","กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), กลุ่มวัยทำ...",NaN,NaN,มาก,มากที่สุด,มากที่สุด,มาก
620,น.ส.,NaN,อุสมะห์,ลาเฮศักดิ์สิทธิ์,เลขที่ 8 ซอยวิภาวดีรังสิต แขวงลาดยาว เขตจตุจัก...,NaN,0817385289,"u.sama12@hotmail.com, usama_saksit@hotmail.com",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **3. Split data**

In [374]:
new_df.isnull().sum()

คำนำหน้า                                                                191
ตำแหน่ง                                                                 312
ชื่อ                                                                      0
นามสกุล                                                                   0
ที่อยู่                                                                 206
โทรศัพท์                                                                462
โทรศัพท์มือถือ                                                          208
อีเมล์                                                                  158
ด้านการศึกษา ระดับการศึกษา                                              417
ด้านการศึกษา สาขาที่จบ (สูงสุด)                                         423
ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)                               423
หน่วยงานที่สังกัด                                                       589
ความสนใจด้านการประเมินผล                                                423
การทำงานด้านการประเมินผล                                                423
ประสบการณ์ด้านการประเมินผล                                              425
ระดับประสบการณ์ด้านการประเมินผล                                         593
การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ                                423
กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล                429
รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล                 429
ฐานะผู้ประเมิน                                                          460
เคยประเมินผลให้กับหน่วยงานอื่น                                          465
ความเชี่ยวชาญ ด้านประเด็น                                               427
ความเชี่ยวชาญ กลุ่มเป้าหมาย                                             428
ความเชี่ยวชาญ พื้นที่ดำเนินการ                                          592
ความเชี่ยวชาญ ทักษะ skill and competency                                590
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ                          425
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study     424
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study      424
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study    425
dtype: int64

In [411]:
new_df = recol_df.iloc[1:622,:32]
new_df = new_df.reset_index(drop=True)
new_df = new_df.drop(columns=['ชื่อ-นามสกุล', 'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.'], axis=1)

new_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล'] = new_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'] = new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
#new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'] = new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ ด้านประเด็น'] = new_df['ความเชี่ยวชาญ ด้านประเด็น'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'] = new_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = new_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.split(pat="( , )|(, )|( ,)")
new_df['ระดับประสบการณ์ด้านการประเมินผล'] = new_df['ระดับประสบการณ์ด้านการประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = new_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.split(pat="( , )|(, )|( ,)")
#new_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = new_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.split(pat="[\d\.]+")
new_df['อีเมล์'] = new_df['อีเมล์'].str.split(pat="( , )|(, )|( ,)")
new_df['โทรศัพท์'] = new_df['โทรศัพท์'].str.split(pat="( , )|(, )|( ,)")
new_df['โทรศัพท์มือถือ'] = new_df['โทรศัพท์มือถือ'].str.split(pat="( , )|(, )|( ,)")


new_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = new_df['ความเชี่ยวชาญ ทักษะ skill and competency'].str.split(pat="( , )|(, )|( ,)")

#new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ'].replace(dic)
#new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study'].replace(dic)
#new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study'].replace(dic)


#skill_df = new_df[['ความเชี่ยวชาญ ทักษะ skill and competency']]
#Quali_df = new_df[['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ']]
#QuatiDes_df = new_df[['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study']]
#QuatiAna_df = new_df[['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study']]
#QuatiExp_df = new_df[['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study']]

In [372]:
[x for x in new_df['อีเมล์'] if x!= np.nan]

#### Assign ID Function ( assign_id() )

คำนำหน้ารหัส



1. 'USER' -> นักประเมิน
2. 'EVL' -> การประเมิน
3. 'CONTC' -> ข้อมูลติดต่อ
4. 'APP' -> รูปแบบการประเมิน
5. 'EXP' -> ระดับประสบการณ์
6. 'FW' -> กรอบการประเมิน
7. 'LOCT' -> ที่อยู่
8. 'SKIL' -> ทักษะ
9. 'EVLEP' -> ประเด็นความเชี่ยวชาญ 
10. 'EVLTA' -> กลุ่มเป้าหมาย
11. 'EVLAR' -> พื้นที่ดำเนินการ

In [467]:
prefix = ['USER', 'EVL', 'CONTC', 'APP', 'EXP', 'FW', 'LOCT', 'SKIL', 'EVLEP', 'EVLTA', 'EVLAR']

def assign_id(df):
  id = []
  key = 999
  for i in range(len(df)):
    key = key+1
    id_txt = prefix[0] + str(key)
    id.append(id_txt)
  try:
    return df.insert(loc=0, column='ID', value=id)
  except:
    df = df.drop(columns='ID')
    return df.insert(loc=0, column='ID', value=id)

def assign_id_tb(df, prefix):
  id = []
  key = 999
  for i in range(len(df)):
    key = key+1
    id_txt = prefix + str(key)
    id.append(id_txt)

  df[df.columns[0]] = pd.DataFrame(id)
  return df

In [414]:
assign_id(new_df)

### Split Tables

In [415]:
member_df = new_df.iloc[:,:15]

member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ']
member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study']
member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study']
member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study']


member_df.sample(5)

,ID,คำนำหน้า,ตำแหน่ง,ชื่อ,นามสกุล,ที่อยู่,โทรศัพท์,โทรศัพท์มือถือ,อีเมล์,ด้านการศึกษา ระดับการศึกษา,ด้านการศึกษา สาขาที่จบ (สูงสุด),ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด),หน่วยงานที่สังกัด,ความสนใจด้านการประเมินผล,การทำงานด้านการประเมินผล,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study
537,USER1537,น.ส.,NaN,สุภาวดี,วรมาลี,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,USER1020,น.ส.,ผศ.,กาญจน์สิริรักษา,บุญเอี่ย,มหาวิทยาลัยการกีฬาแห่งชาติ วิทยาเขตสุโขทัย (คณ...,[0898575944],[0635539295],[Por126@hotmail.com],ปริญญาเอก,การศึกษา(แขนงวิชาการพัฒนาทรัพยากรมนุษย์),มหาวิทยาลัยนเรศวร,NaN,สนใจ,เคย,มาก,มาก,มาก,มาก
100,USER1100,คุณ,NaN,ชูเวช,เดชดิษฐรักษ์,9/650 หมู่ 8 ซอย 3 ถ.พุทธมณฑลสาย 4 ต.กระทุ่ม...,[02-8885090],[0846270627],[chuveath@gmail.com],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,USER1089,นาง,NaN,ชรัมพร,อัยสานนท์,เลขที่ 55/9 ซอยศรีวิจารณ์ แขวงวงศ์สว่าง เขตบาง...,NaN,[0816125431],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
465,USER1465,NaN,ผศ.ดร.,ศุภชัย,ศรีสุชาติ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [417]:
try:
  member_df['คำนำหน้า'].replace('นาง ', 'นาง', inplace=True)
  member_df.insert(loc=4, column='gender', value=member_df['คำนำหน้า'])
except:
  member_df = member_df.drop(columns='gender')
  member_df['คำนำหน้า'].replace('นาง ', 'นาง', inplace=True)
  member_df.insert(loc=4, column='gender', value=member_df['คำนำหน้า'])

member_df['gender'].replace('น.ส.','หญิง',inplace=True)
member_df['gender'].replace('นาง','หญิง',inplace=True)
member_df['gender'].replace('นาง','หญิง',inplace=True)
member_df['gender'].replace('นาย','ชาย',inplace=True)
member_df['gender'].replace(['คุณ', np.nan],'ไม่ระบุ',inplace=True)

set(member_df['gender'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [497]:
def stack_dat(dat):
  dat = dat.explode(dat.columns[1])
  check = dat[dat.columns[1]]
  dat = dat[(check.str.contains(',|None|\([\w+\)]|^[ก-ฮ]{1}\.$|^เขต\d+|^\d$', regex=True) == False) & (check != '') & (check != '-') & (check != 'etc') & (check != 'etc.') & (check != 'ฯลฯ') & (check != '/') & (check != 'กลุ่ม') & (check != 'และ') & (check != 'ภาค') & (check != 'ของ') & (check != 'สำนักงาน')]
  #dat[dat.columns[1]] = dat[dat.columns[1]].str.replace(r'^ +', '', regex=True)
  dat[dat.columns[1]] = dat[dat.columns[1]].str.strip()
  dat = dat.dropna().reset_index(drop=True)
  return dat

def stack_dat_multicols(dat, col):
  dat = dat.explode(col)
  check = dat[col]
  #dat[col] = dat[(check.str.contains(',|None|\([\w+\)]|^[ก-ฮ]{1}\.$|^เขต\d+|^\d$', regex=True) == False) & (check != '') & (check != '-') & (check != 'etc') & (check != 'etc.') & (check != 'ฯลฯ') & (check != '/') & (check != 'กลุ่ม') & (check != 'และ') & (check != 'ภาค') & (check != 'ของ') & (check != 'สำนักงาน')]
  dat[col] = dat[col].str.strip()
  #dat = dat.dropna().reset_index(drop=True)
  return dat

def stack_dat_multicols_split(dat, col):
  #dat = dat.explode(col)
  check = dat[col]
  #dat[col] = dat[(check.str.contains(',|None|\([\w+\)]|^[ก-ฮ]{1}\.$|^เขต\d+|^\d$', regex=True) == False) & (check != '') & (check != '-') & (check != 'etc') & (check != 'etc.') & (check != 'ฯลฯ') & (check != '/') & (check != 'กลุ่ม') & (check != 'และ') & (check != 'ภาค') & (check != 'ของ') & (check != 'สำนักงาน')]
  dat[col] = dat[col].str.strip()
  #dat = dat.dropna().reset_index(drop=True)
  return dat

In [419]:
# split ตามวรรค ไปก่อน, เอาตัวย่อในวงเล็บออก แล้วเปลี่ยนตัวย่อนอกวงเล็บ เป็นชื่อเต็ม 


evaFrame_df = new_df[['ID', 'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล']]
evaAppo_df = new_df[['ID', 'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล']]
issue_df = new_df[['ID', 'ความเชี่ยวชาญ ด้านประเด็น']]
target_df = new_df[['ID', 'ความเชี่ยวชาญ กลุ่มเป้าหมาย']]
area_df = new_df[['ID', 'ความเชี่ยวชาญ พื้นที่ดำเนินการ']]
contact_df = new_df[['ID','โทรศัพท์',"โทรศัพท์มือถือ",'อีเมล์']]

#new_df['โทรศัพท์'].str.replace('(\u200b)|(\-)','')
#new_df['โทรศัพท์มือถือ'].str.replace('(\u200b)|(\-)|()|(\xa0)','')

skill_df = new_df[['ความเชี่ยวชาญ ทักษะ skill and competency']]

level_df = new_df[['ID', 'ระดับประสบการณ์ด้านการประเมินผล']]
unit_df = new_df[['ID', 'เคยประเมินผลให้กับหน่วยงานอื่น']]

evaFrame_df = stack_dat(evaFrame_df)
#issue_df['ความเชี่ยวชาญ ด้านประเด็น'] = issue_df['ความเชี่ยวชาญ ด้านประเด็น'].str.split(pat="/|\\u200b")

evaAppo_df = stack_dat(evaAppo_df)

issue_df = stack_dat(issue_df)
issue_df['ความเชี่ยวชาญ ด้านประเด็น'] = issue_df['ความเชี่ยวชาญ ด้านประเด็น'].str.split(pat="/|\\u200b")
issue_df = stack_dat(issue_df)

target_df = stack_dat(target_df)
target_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'] = target_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'].str.split(pat="/|\\u200b")
target_df = stack_dat(target_df)

area_df = stack_dat(area_df)
area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.replace(r' \(วัด/โบสถ์/มัสยิด\)', '')
area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.split(pat="/")
area_df = stack_dat(area_df)

level_df = stack_dat(level_df)

unit_df = stack_dat(unit_df)
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('มหาิท', 'มหาวิท')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กระทรง', 'กระทรวง')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ม พายัพ', 'มหาวิทยาลัยพายัพ')
#unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ม.', 'มหาวิทยาลัย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('\u200b| ฯลฯ| เป็นต้น|(\d\.)|/|\(\w+\.\)|\( \w+\)|\)', '')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.split(pat=" / |\n |\n|(กรม\S+)|(กระทรวง\S+)|(สมาคม\S+)|(สำนัก\S+)|(มหาวิท\S+)|(องค์กร\S+)|(\sกองทุน\S+)|(\S+\.)|(\s[ก-ฮ]{2,4}\s)| และ |(\sสภา\S+)")
unit_df = stack_dat(unit_df)
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].replace('มหิดล', 'มหาวิทยาลัยมหิดล')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].replace('มหาวิทยาลัยต่างๆ', 'มหาวิทยาลัย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].replace('และสธ.', 'สธ.')
unit_df = stack_dat(unit_df)

contact_df = stack_dat_multicols(contact_df, contact_df.columns[1])
contact_df['โทรศัพท์'] = contact_df['โทรศัพท์'].str.replace('-', '')
contact_df = stack_dat_multicols(contact_df, contact_df.columns[1])

contact_df = stack_dat_multicols(contact_df, contact_df.columns[2])
contact_df['โทรศัพท์มือถือ'] = contact_df['โทรศัพท์มือถือ'].str.replace('(-)|(\u200b)|(\xa0)|( \(jazz2550@hotmail.com \(เลขา\)\))', '')
contact_df = stack_dat_multicols(contact_df, contact_df.columns[2])

contact_df = stack_dat_multicols(contact_df, contact_df.columns[3])
contact_df['อีเมล์'] = contact_df['อีเมล์'].str.replace('\u200b', '')
contact_df['อีเมล์'] = contact_df['อีเมล์'].replace('alicha.treer.cmu.ac.th', 'alicha.treer@cmu.ac.th')
contact_df = stack_dat_multicols(contact_df, contact_df.columns[3])


#print(len(set(unit_df[unit_df.columns[1]])))

#issue_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:44: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:57: FutureWarning: The default value of regex will change from True to False in a future version.

In [420]:

#[x for x in contact_df[~contact_df[contact_df.columns[3]].isna()][contact_df.columns[3]]]

In [421]:
check = unit_df[unit_df.columns[1]]
print(len(set(unit_df[check.str.contains('^[ก-ฮ]{1,5}\.|^[ก-ฮ]{1,5}$', regex=True)][unit_df.columns[1]])))
set(unit_df[check.str.contains('^[ก-ฮ]{1,5}\.|^[ก-ฮ]{1,5}$', regex=True)][unit_df.columns[1]])

36

{'ก.พม.',
 'ก.มท.',
 'ก.ยธ.',
 'กทม.',
 'กปร.',
 'ปปช.',
 'ปปส',
 'ปปส.',
 'พอช.',
 'มสธ.',
 'รพ.สร.',
 'วช',
 'วช.',
 'ศอบต',
 'ส.กพ.',
 'สกว',
 'สกว.',
 'สกศ',
 'สกสว.',
 'สจรส.ม.อ.',
 'สจรส.มอ.',
 'สช',
 'สช.',
 'สทศ.',
 'สธ.',
 'สปสช',
 'สปสช.',
 'สพฉ',
 'สพฐ.',
 'สวช.',
 'สวรส',
 'สวรส.',
 'สสปท.',
 'สสวท.',
 'อบจ',
 'อปท.'}

In [422]:
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ก.พม.', 'คณะกรรมการพัฒนาและส่งเสริมองค์การมหาชน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ก.ยธ.', 'การยางแห่งประเทศไทย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('วช|วช.', 'สำนักงานการวิจัยแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('พอช.', 'สถาบันพัฒนาองค์กรชุมชน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กทม.', 'กรุงเทพมหานคร')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กปร.', 'สำนักงานคณะกรรมการพิเศษเพื่อประสานงานโครงการอันเนื่องมาจากพระราชดำริ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ปปช.', 'คณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ปปส|ปปส.', 'คณะกรรมการป้องกันและปราบปรามยาเสพติด')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('มสธ.', 'มหาวิทยาลัยสุโขทัยธรรมาธิราช')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('รพ.สร.', 'โรงพยาบาลสุรินทร์')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('วช|วช.', 'สำนักงานการวิจัยแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ศอบต', 'ศูนย์อำนวยการบริหารจังหวัดชายแดนภาคใต้')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ส.กพ.', 'สำนักงานคณะกรรมการข้าราชการพลเรือน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกว|สกว.', 'สำนักงานกองทุนสนับสนุนการวิจัย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สจรส.ม.อ.|สจรส.มอ.', 'สถาบันการจัดการระบบสุขภาพ มหาวิทยาลัยสงขลานครินทร์')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกสว.', 'สำนักงานคณะกรรมการส่งเสริมวิทยาศาสตร์ วิจัยและนวัตกรรม')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สช|สช.', 'สำนักงานคณะกรรมการส่งเสริมการศึกษาเอกชน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สทศ.', 'สถาบันทดสอบทางการศึกษาแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกศ.', 'สำนักงานเลขาธิการสภาการศึกษา')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สธ.', 'กระทรวงสาธารณสุข')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สปสช|สปสช.', 'สำนักงานหลักประกันสุขภาพแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สพฉ', 'สถาบันการแพทย์ฉุกเฉินแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สพฐ.', 'สำนักงานคณะกรรมการการศึกษาขั้นพื้นฐาน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สวช.', 'สำนักงานโครงการสอบวัดทักษะวิชาการระดับชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สวรส', 'สถาบันวิจัยระบบสาธารณสุข')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สสปท.', 'สถาบันส่งเสริมความปลอดภัย อาชีวอนามัย และสภาพแวดล้อมในการทำงาน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สสวท.', 'สถาบันส่งเสริมการสอนวิทยาศาสตร์และเทคโนโลยี')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('อบจ', 'องค์การบริหารส่วนจังหวัด')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('อปท.', 'องค์กรปกครองส่วนท้องถิ่น')
unit_df = stack_dat(unit_df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: FutureWarning: The default value of regex will change from True to False in a future version.

In [423]:
set(area_df[area_df.columns[1]])

{'ชุมชน',
 'บริษัทเอกชน',
 'มหาวิทยาลัย',
 'รพสต.',
 'ระดับนโยบาย',
 'ศูนย์สุขภาพชุมชน',
 'ศูนย์เด็กเล็ก',
 'ศูนย์เรียนรู้ฯ',
 'สถานประกอบการ',
 'สถานพยาบาลอื่นๆ',
 'สถานศึกษาอื่นๆ',
 'สถานีอนามัย',
 'หน่วยงานรัฐอื่นๆ',
 'องค์กร',
 'อปท.',
 'อาชีวะ',
 'โรงงาน',
 'โรงพยาบาล',
 'โรงเรียน'}

In [499]:
level_df = new_df[['ID', 'ระดับประสบการณ์ด้านการประเมินผล', 'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ']]
#level_df = stack_dat_multicols_split(level_df, level_df.columns[1])
#level_df = stack_dat_multicols_split(level_df, level_df.columns[2])

level_df

,ID,ระดับประสบการณ์ด้านการประเมินผล,การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ
0,USER1000,NaN,NaN
1,USER1001,NaN,NaN
2,USER1002,NaN,NaN
3,USER1003,NaN,NaN
4,USER1004,NaN,เคย
...,...,...,...
616,USER1616,NaN,เคย
617,USER1617,NaN,NaN
618,USER1618,NaN,NaN
619,USER1619,NaN,เคย
620,USER1620,NaN,NaN

In [510]:
type(level_df['ระดับประสบการณ์ด้านการประเมินผล'][6])

list

In [508]:
level_df['ระดับประสบการณ์ด้านการประเมินผล'][5]

nan

In [511]:
[x for x in level_df['ระดับประสบการณ์ด้านการประเมินผล'] if type(x) == list]

[['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['Output',
  None,
  ', ',
  None,
  'Outcome',
  None,
  ', ',
  None,
  'Impact',
  None,
  ', ',
  None,
  'ความคุ้มค่า'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['ความคุ้มค่า'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['Outcome', None, ', ', None, 'ความคุ้มค่า'],
 ['Output',
  None,
  ', ',
  None,
  'Outcome',
  None,
  ', ',
  None,
  'Impact',
  None,
  ', ',
  None,
  'ความคุ้มค่า'],
 ['Output',
  None,
  ', ',
  None,
  'Outcome',
  None,
  ', ',
  None,
  'Impact',
  None,
  ', ',
  None,
  'ความคุ้มค่า'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['Impact'],
 ['Output', None, ', ', None, 'Outcome'],
 ['Output', None, ', ', None, 'Outcome'],
 ['Outcome', None, ', ', None, 'Impact'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['Output', None, ', ', None, 'Outcome'],
 ['Output',
  None,
  ', ',
  None,
  'Outcome',
  None,
  ', ',
  None,
  'Impact',
  None,
  ', ',
  None,
  'ความคุ้มค่า'],
 ['Outcome'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'ความคุ้มค่า'],
 ['Outcome', None, ', ', None, 'Impact'],
 ['Output', None, ', ', None, 'Outcome'],
 ['Output', None, ', ', None, 'Outcome', None, ', ', None, 'Impact'],
 ['Outcome', None, ', ', None, 'ความคุ้มค่า'],
 ['Output',
  None,
  ', ',
  None,
  'Outcome',
  None,
  ', ',
  None,
  'Impact',
  None,
  ', ',
  None,
  'ความคุ้มค่า'],
 ['Outcome'],
 ['Output', None, ', ', None, 'Outcome'],
 ['Output', None, ', ', None, 'Outcome']]

## **Get Latitude & Longitude**

In [424]:
member_df['ที่อยู่'].to_list()

[nan,
 'เลขที่ 119/36 ซอยท่าอิฐ หมู่บ้านมณียา ถนนรัตนาธิเบศร์ ต.ไทรม้า อ.เมือง จ.นนทบุรี 11000',
 'สาขาพัฒนาสังคม คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยนเรศวร วิทยาอ.หนองอ้อ อ.เมือง จ.พิษณุโลก 56000',
 'ภาควิชาวิจัยและจิตวิทยาการศึกษา คณะครุศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 'ภาควิชาอนามัยครอบครัว คณะสาธารณสุขศาสตร์ มหาวิยาลัยมหิดล',
 nan,
 'สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ อาคารคลังพัสดุ ชั้น 2 กระทรวงสาธารณสุข ซอย 6 ถนนติวานนท์ ตำบลตลาดขวัญ อำเภอเมือง จังหวัดนนทบรี 11000',
 'คณะเภสัชศาสตร์ มหาวิทยาลัยขอนแก่น เลขที่ 123  ถนนมิตรภาพ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40002',
 'เลขที่ 2044/23 ซอยเพชรบุรีตัดใหม่ แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10310',
 'คณะครุศาสตร์ มรภ.สวนสุนันทา เลขที่ 1 ถ.อู่ทองนอก แขวงวชิระ เขตดุสิต กทม.10300',
 nan,
 nan,
 '98/16 ม.18 ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี',
 '83/132 ไอ คอนโด ศาลายา',
 'เลขที่ 188 หมู่ที่ 2 ต.เมืองปัก อ.ปักธงชัย จ.นครราชสีมา 30150',
 nan,
 'สถาบันวิจัยประชากรและสังคม ม.มหิดล',
 '78/153 บ้านฟ้าปิยรมย์ เพส 6 ซอย 17 ถนนลำลูกกา ตำบลบึงคำพร้อย อำเภอลำลูกกา จังหวัดปทุมธานี 12120',
 nan,
 'อาคารเฉลิมพระเกียรติ มหาวิทยาลัยราชภัฏพระนคร เลขที่ 9  แขวงอนุสาวรีย์ เขตบางเขน กรุงเทพฯ 10220',
 'มหาวิทยาลัยการกีฬาแห่งชาติ วิทยาเขตสุโขทัย (คณะศึกษาศาสตร์) เลขที่ 1 หมู่ 7 ถนนสุโขทัย-กำแพงเพชร ตำบลบ้านกล้วย อำเภอเมือง จังหวัดสุโขทัย รหัสไปรษณีย์ 64000',
 '38/1 หมู่ 3 ต.ตากแดด อ.เมืองพังงา จ.พังงา 82000',
 nan,
 '15/14 ม.7 ต.แม่เหียะ อ.เมือง จ.พะเยา',
 nan,
 '34/197  รามอินทรา 14  บางเขน  กทม. 10230',
 'มหาวิทยาลัยกรุงเทพ วิทยาเขตกล้วยน้ำไท  ถนนพระราม 4 แขวงคลองเตย เขตคลองเตย กรุงเทพฯ 10110',
 'ภาควิชาอนุรักษวิทยา คณะวนศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ 50 ถ พหลโยธิน แขวงลาดยาว เขตจตุจักร กทม 10900',
 'คณะเศรษฐศาสตร์ มหาวิทยาลัยธรรมศาสตร์',
 nan,
 nan,
 'คณะเศรษฐศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 'บัณฑิตวิทยาลัย มหาวิทยาลัยราชภัฎนครศรีธรรมราช  ต.ท่างิ้ว อ.เมือง จ.นครศรีธรรมราช 80280',
 'เลขที่ 85 ต.นครปฐม อ.เมือง จ.นครปฐม 73000',
 nan,
 '29 ม.13 ต.พานพร้าว อ.ศรีเชียงใหม่ จ.หนองคาย',
 'เลขที่ 188/55 แขวงบ้านช่างหล่อ เขตบางกอกน้อย กรุงเทพฯ 10700',
 'เลขที่ 2  ซอยเสรี 10 หมู่บ้านเสรี แขวงสวนหลวง เขตสวนหลวง กรุงเทพฯ 10250',
 nan,
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยขอนแก่น อำเภอเมือง จังหวัดขอนแก่น 40002',
 nan,
 '141/199 ม.1 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'สำนักระบาดวิทยา กระทรวงสาธารณสุข เลขที่ 88/24  ถนนติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 nan,
 '302/13 หมู่บ้านซื่อตรง ซอยประดิษฐ์มนูธรรม 10 วังทองหลาง กทม.10310',
 '120 ม.1 ต.โคกกรวด อ.เมือง จ.นครราชสีมา 30280',
 nan,
 nan,
 'HITAP อาคาร 6 ชั้น 6 กรมอนามัย กระทรวงสาธารณสุข นนทบุรี 11000',
 nan,
 'เลขที่ 16/506 หมู่ที่ 8 ถนนพิบูลสงคราม 16 ต.บางเขน อ.เมือง จ.นนทบุรี 11000',
 '107/6 หมู่บ้านประภาวรรณ 1 ถนนบึงขวาง แขวงแสนแสบ เขตมีนบุรี กทม 10510',
 '88/119\u200b หมู่3\u200b ต.คลองสาม\u200b อ.คลองหลวง\u200b จ.ปทุมธานี',
 'ศูนย์วิจัยและพัฒนาระบบสุขภาพชุมชน คณะพยาบาลศาสตร์ มหาวิทยาลัยขอนแก่น เลขที่ 123  ถนนมิตรภาพ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000',
 'โรงพยาบาลคลองท่อม จังหวัดกระบี่',
 nan,
 'อาคารวิชาการ 3 ชั้น 3 สาขาวิชามนุษยนิเวศศาสตร์ มหาวิทยาลัยสุโขทัยธรรมาธิราช ถ แจ้งวัฒนะ ต บางพูด อ ปากเกร็ด จ นนทบุรี 11120',
 '139/52 หมู่บ้านสิรีนเฮ้าส์ ซ.ร่วมมิตรพัฒนา ท่าแร้ง บางเขน กทม. 10220',
 nan,
 'สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ \nอาคารคลังพัสดุ ชั้น 2 สาธารณสุขซอย 6 \nต.ตลาดขวัญ อ.เมือง นนทบุรี 11000\n',
 nan,
 nan,
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยสงขลาครินทร์ ต.รูสะมิแล อ.เมืองปัตตานี จ.ปัตตานี 94000',
 'มหาวิทยาลัยศรีปทุม ชลบุรี 79 หมู่ 1 ถนนบางนาตราด ต.คลองตำหรุ อ.เมือง จ.ชลบุรี',
 'สำนักวิจัยนโยบายสร้างเสริมสุขภาพ สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ',
 'ภาควิชาเวชศาสตร์ป้องกันและสังคม คณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 'สำนักงานสาธารณสุขจังหวัดสุรินทร์ ต.ในเมือง อ.เมือง จ.สุรินทร์ 32000',
 '18/32 ถนนมหิดล ตำบลสุเทพ อำเภอเมือง ชม.',
 nan,
 '123/706 ถ.มิตรภาพ อ.เมือง จ.ขอนแก่น 40002',
 nan,
 nan,
 'เลขที่ 34/1 หมู่ที่ 5 ต.พานพร้าว อ.ศรีเชียงใหม่ จ.หนองคาย 43130',
 nan,
 nan,
 '180/154 ม.1 ต.ขุนทะเล อ.เมือง จ.สุราษฎร์ธานี 84130',
 'หมู่บ้านเสนานิเวศน์ โครงการ 1 เลขที่ 71/21 ถนนเสนานิคม 1 แขวงจรเข้บัว เขตลาดพร้าว กรุงเทพฯ 10230',
 nan,
 '420/1 ภาควิชาบริหารงานสาธารณสุข \nคณะสาธารณสุขศาสตร์มหาวิทยาลัยมหิดล ถนนราชวิถีเขตราชเทวี แขวงทุ่งพญาไท กรุงเทพฯ',
 '59/23 ถ.ประชาชื่น แขวงทุ่งสองห้อง หลักสี่ กรุงเทพ 10210',
 'สถาบันวิจัยประชากรและสังคม มหาวิทยาลัยมหิดล ศาลายา นครปฐม 7370',
 'คณะรัฐศาสตร์  มหาวิทยาลัยอุบลราชธานี 13/1 ถนนแสงอรุณ ต วารินชำราบ อ วารินชำราบ จ อุบลราชธานี 43190',
 '109 ม.19 ต.พรหมสวัสดิ์ อ.พยุห์ จ.ศรีสะเกษ 33230',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยพะเยา',
 nan,
 nan,
 'คณะแพทย์ศาสตร์ จุฬาลงกรณ์หาวิทยาลัย',
 'คณะเศรษฐศาสตร์ มหาวิทยาลัยแม่โจ้ เลขที่ 63 หมู่ที่ 4 ต.หนองหาร อ.สันทราย จ.เชียงใหม่ 50290',
 nan,
 'เลขที่ 55/9 ซอยศรีวิจารณ์ แขวงวงศ์สว่าง เขตบางซื่อ กรุงเทพฯ 10800',
 nan,
 'มหาวิทยาลัยรชภัฏอุตรดิตถ์ ถ.อินใจมี ต.ท่าอิฐ อ.เมือง จ.อุตรดิตถ์ 53000',
 '11 ซอย สามัคคี 58/18 ต.ท่าทราย อ.เมืองนนทบุรี นนทบุรี 11000',
 'บัณฑิตวิทยาลัย มหาวิทยาลัยศรีนครินทรวิโรฒ',
 '86 หมู่ 8 ต.บ้านยาง อ.คีรีรัฐนิคม จ.สุราษฎร์ธานี 84180',
 'สถาบันรับรองคุณภาพสถานพยาบาล (องค์การมหาชน) 88/39 กระทรวงสาธารณสุข  ซ. 6 อาคารสุขภาพแห่งชาติ ชั้น 5 ถ.ติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 'เลขที่ 98/143 ซ กุศลศิลป์ บางนา กทม 10260',
 'สถาบันวิจัยประชากรและสังคม มหาวิทยาลัยมหิดล ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 nan,
 '222 ต.ท่าศาลา อ.ท่าศาลา จ.นครศรีธรรมราช 80160',
 '9/650 หมู่ 8 ซอย 3  ถ.พุทธมณฑลสาย 4  ต.กระทุ่มล้ม  อ.สามพราน  จ.นครปฐม  73220',
 'เลขที่ 272 ถนนพระรามหก แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 'สถาบันสุขภาพจิตเด็กและวัยรุ่น',
 'สำนักงานเทศบาลตำบลนาตาล่วง อ.เมืองตรัง จ.ตรัง',
 'สถาบันการจัดการระบบสุขภาพ ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90110',
 'เลขที่ 11(3/1689) ซอยพหลโยธิน 48 แยก 2 ถนนพหลโยธิน แขวงอนุสาวรีย์ เขตบางเขน กรุงเทพฯ 10220',
 '199/56 หมู่ 6 หมู่บ้านธรรมชาติ ซ.ไทรม้า ต.\nไทรม้า อ.เมือง จ.นนทบุรี 11000',
 nan,
 'ึ72/11 ซอยงามวงศ์วาน 54 แยก 11 ถนนงามวงศ์วาน ลาดยาว จตุจักร กทม.10900',
 nan,
 nan,
 'คณะศิลปศาสตร์ มหาวิทยาลัยเทคโนโลยีราชมงคลรัตนโกสินทร์ เลขที่ 96 หมู่ที่ 3 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'คณะสาธารณสุขศาสตร์ มหาวิทยาลัยนเรศวร ต.ท่าโพธิ์ อ.เมือง จ.พิษณุโลก 65000',
 'ภาควิชาประเมินผลและวิจัยทางการศึกษา คณะศึกษาศาสตร์ มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตปัตตานี ต.รูสะมิแล อ.เมืองปัตตานี จ.ปัตตานี 94000',
 nan,
 'วิทยาลัยวิทยาศาสตร์สาธารณสุข จุฬาลงกรณ์มหาวิทยาลัย',
 nan,
 nan,
 nan,
 nan,
 nan,
 'เลขที่ 17/219 หมู่ที่ 4 กรุงเทพฯ',
 nan,
 'อาคารสาธารณสุขศาสตร์ มหาวิทยาลัยราชภัฏอุตรดิตถ์ ลำรางทุ่งกะโล่ ต.ป่าเซ่า อ.เมือง จ. อุตรดิตถ์',
 nan,
 '35/549 ศุภาลัยวิสต้า แยกติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี',
 '352 ซ.ร่วมจิตร 2 ถ.นครไชยศรี เขตดุสิต กทม 10300',
 nan,
 'รพ.กาญจนดิษฐ์ 76 หมู่ 9 ตำบลพลายวาส อำเภอกาญจนดิษฐ์ จังหวัดสุราษฎร์ธานี 84160',
 'มูลนิธินโยบายสุขภาวะ 87/495 หมู่บ้านภัสสร รัตนาธิเบศร์  ถ บางกรวย-ไทรน้อย อ บางบัวทอง จ นนทบุรี 11000',
 '20/2 ม.1 ต.แม่หล่าย อ.เมือง จ.แพร่ 54000',
 'วิทยาลัยการสาธารณสุขสิรินธรจังหวัดขอนแก่น อ.เมือง จ.ขอนแก่น',
 'คณะทันตปพทยศาสตร์ มหาลับเชียงใหม่',
 'กระทรวงสาธารณสุข ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยราชภัฎสกลนคร อ.เมือง จ.สกลนคร 47000',
 nan,
 '69/10 หมู่ 10 ต.วัดจันทร์ อ.เมืองพิษณุโลก จ.พิษณุโลก 65000',
 'อาคารคลังพัสดุ กระทรวงสาธารณสุข ชั้น 3 เลขที่ 88/20 หมู่ที่ 4 ซอยสาธารณสุข 6 ถนนติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 'เลขที่ 1 ซอยรามอินทรา 46/1 แยก 1-4 ถนนรามอืนทรา แขวงรามอินทรา เขตคันนายาว กรุงเทพฯ 10230',
 'คณะสาธารณสุขศาสตร์ มหาวิทยาลัยมหิดล 420/1 ถ.ราชวิถี เขตราชเทวี กทม 10400',
 'สถาบันวิจัยเพื่อพัฒนาสังคม เลขที่ 205  ถนนพุทธมณฑลสาย 2 แขวงบางแคเหนือ เขตบางแค กรุงเทพฯ 10160',
 '165/10 ซ.สุขุมวิท 101/1 ถ.สุขุมวิท แขวงบางจาก เขตพระโขนง กทม. 10260',
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยราชภัฏวไลยอลงกรณ์ฯ อ.คลองหลวง จ.ปทุมธานี 13180',
 nan,
 'ภาควิชาสรีรวิทยา คณะเภสัชศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย 254 ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กทม. 10330',
 'อาคารพร้อมพันธุ์ 2 เลขที่ 407-408 ซอยลาดพร้าว 3 แขวงจอมพล เขตจตุจักร กรุงเทพฯ 10900',
 nan,
 'คณะเศรษฐศาสตร์ มหาวิทยาลัยเกษตรศาสตร์',
 'ภาควิชาสุขศึกษาและพฤติกรรมศาสตร์ คณะสาธารณสุขศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 420/1 ถนนราชวิถี แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 '357 ม.1 ต.แม่ต้าน อ.ท่าสองยาง จ.ตาก ',
 nan,
 '21 นิมมานเหมินท์ ซอย 17 ต.สุเทพ อ.เมือง เชียงใหม่ 50200',
 nan,
 'มหาวิทยาลัยศรีปทุม วิทยาอ.ชลบุรี เลขที่ 79 หมู่ที่ 1 ถนนบางนา-ตราด ต.คลองตำหรุ อ.เมือง จ.ชลบุรี 20000',
 '885/559 รีเจ้นโฮมบางซ่อนเฟส 28 แขวงบางซื่อ เขตบางซื่อ กรุงเทพมหานคร 10800',
 nan,
 'คณะเศรษฐศาสตร์ จุฬาฯ',
 nan,
 'คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 999 ถนนพุทธมณฑลสาย 4 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'สถาบันวิจัยประชากรและสังคม มหาวิทยาลัยมหิดล',
 '177 หมู่ 1 ต.บ้านทำเนียบ อ.คีรีรัฐนิคม จ.สุราษฎร์ธานี 84180',
 '1873 ภาควิชาเวชศาสตร์ป้องกันและสังคม ชั้น 19 อาคารอปร. ถนนพระรามที่ 4 ปทุมวัน กทม.10330',
 '47 ม.6 ต.แช่ช้าง อ.สันกำแพง จ.เชียงใหม่',
 'สำนักงานวิจัยและพัฒนาเพื่อการแปรงานวิจัยสุขภาพสู่การปฏิบัติ คณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 nan,
 '8 หมู่ 3 ต.ดอนทอง อ.เมือง จ.พิษณุโลก 65000',
 'เอแบคโพลล์ เลขที่ 592/3 ซอยรามคำแหง 24 แขวงหัวหมาก เขตบางกะปิ กรุงเทพฯ 10240',
 'คณะเศรษฐศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย ปทุมวัน กรุงเทพ 10330',
 '933 หมู่ 3 ต.กำแพง อ.ละงู จ.สตูล',
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยราชภัฏลำปาง ตำบลชมพู อำเภอเมือง จังหวัดลำปาง 52100',
 '231 หมู่ที่ 2 ตำบลท่าแพ อำเภอท่าแพ จังหวัดสตูล 91150',
 'คณะบริหารธุรกิจและการจัดการ ม.ราชภัฏอุบลราชธานี',
 nan,
 nan,
 nan,
 '77/1 หมู่ 5 ต.สุเทพ อ.เมือง จ.เชียงใหม่',
 '8/3 หมู่ 2 ต.โคกเคียน อ.เมืองนราธิวาส จ.นราธิวาส 96000',
 nan,
 '109/14 หมู่ 5 ถ.แจ้งวัฒนะ ต./อ. ปากเกร็ด จ.นนทบุรี 11120',
 'คณะสังคมสงเคราะห์ศาสตร์และสวัสดิการสังคม ม.หัวเฉียวเฉลิมพระเกียรติ อ.บางพลี จ.สมุทรปราการ',
 nan,
 nan,
 nan,
 'คณะสาธาสรณสุขศาสตร์ มหาวิทยาลัยมหิดล 420/1 ถนนราชวิถี เขตราชเทวี กทม. 10400',
 '842 ถนนวงศ์สว่าง บางซื่อ กทม 10800',
 'สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ กระทรวงสาธารณสุข  ถ.ติวานนท์ จ.นนทบุรี  ',
 'สถาบันการจัดการแบบองค์รวม 81/50 ถ สวนผัก ซอย 1 (ศิริวัฒน์) เขตตลิ่งชัน กทม 10170',
 '140/33 ม2 ต กะลุวอเหนือ อ.เมือง จ.นราธิวาส 96000',
 nan,
 'เอส.เอ็ม เขตพญาไท กรุงเทพฯ 10400',
 nan,
 '219 ม.9 ต.ป่าหุ่ง อ.พาน จ.เชียงราย 57120',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยศรีนครินทรวิโรฒ\n63 หมู่ 1 ต.องครักษ์ อ.องครักษ์ จ.นครนายก 26120',
 '11/15 หมู่ 1 ถ.ริมคลองชลประทาน ต.ช้างเผือก อ.เมือง จ.เชียงใหม่ 50300',
 'เลขที่ 205 ถนนพุทธมณฑลสาย 2 แขวงบางแคเหนือ เขตบางแค กรุงเทพฯ 10160',
 'ต.หนองหาร อ.สันทราย จ.เชียงใหม่ 50290',
 'สาขาวิชานิเทศศาสตร์ คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏพระนคร เลขที่ 9 ถนนแจ้งวัฒนะ แขวงอนุสาวรีย์ เขตบางเขน กทม. 10220',
 nan,
 nan,
 'เลขที่ 999 หมู่ที่ 5 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 nan,
 'ภาควิชาเวชศาสตร์ชุมชน คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี มหาวิทยาลัยมหิดล เลขที่ 270 ถนนราชวิถี แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 nan,
 nan,
 nan,
 'สถาบันวิจัยสังคม มหาวิทยาลัยเชียงใหม่ 239 ถ.ห้วยแก้วต.สุเทพ อ.เมือง จ.เชียงใหม่ 50200',
 nan,
 'เลขที่ 13 หมู่ที่ 1 ต.บางกระบือ อ.เมือง จ.สิงห์บุรี 16000',
 'เลขที่ 83 หมู่ที่ 29 ต.บ้านผือ อ.จอมพระ จ.สุรินทร์ ',
 'เลขที่ 565 ซอยรามคำแหง 39 (เทพลีลา) แขวงพลับพลา เขตวังทองหลาง กรุงเทพฯ 10310',
 '47/36 ม. 17 ต. บางพลีใหญ่ อ. บางพลี จ.สมุทรปราการ 10540',
 nan,
 nan,
 '222 (ห้อง4115)  ซ.งามวงศ์วาน 22 (ซ.ไมตรี )  ถ.งามวงศ์วาน  แขวงบางเขน  เขตเมืองนนทบุรี   จ.นนทบุรี   11001  ',
 nan,
 nan,
 '256 หมู่ 1 ต.เจ๊ะเห อ.ตากใบ จ.นราธิวาส 96110',
 '164/18 อาคารลุมพินีเพลส พระรามสี่-สาทร ช่องนนทรี ยานนาวา กทม.',
 nan,
 nan,
 nan,
 'เลขที่ 191/4 หมู่ที่ 1 ซอยร่วมใจสามัคคี ถนนประวีณ ต.บางกระบือ อ.เมือง จ.สิงห์บุรี 16000',
 '128/31 ม.12 ซ.อาจารย์ไพรินทร์ ต.สะเตงนอก อ.เมืองยะลา จ.ยะลา 95000',
 nan,
 'สถาบันพัฒนาสุขภาพอาเซียน มหาวิทยาลัยมหิดล',
 'คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 999 ถนนพระรามหก ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'เลขที่ 441 ถนนเจริญกรุง จรัญฯ 57 แขวงบางบำหรุ เขตบางพลัด กรุงเทพฯ 10700',
 nan,
 '119/1 หมู่ 1 ต.บางรักใหญ่ อ.บางบัวทอง จ.นนทบุรี',
 '684/4 ถนนพหลโยธิน ตำบลเวียง อำเภอเมืองพะเยา จังหวัดพะเยา 56000',
 nan,
 '59/3 ถนนประเสริฐมนูกิจ แขวงเสนานิคม เขตจตุจัตร กทม. 10900',
 nan,
 '10/193 ลุมพินีคอนโดทาวน์ ถ.รามอินทรา แขวงอนุสาวรีย์ เขตบางเขน กรุงเทพฯ',
 'เลขที่ 9/3 ซอยกิ่งชำนาญอักษร ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400',
 'โครงการประเมินเทคโนโลยีและนโยบายด้านสุขภาพ (HITAP) \nอาคาร 6 ชั้น 6 กรมอนามัย กระทรวงสาธารณสุข',
 nan,
 nan,
 'วิทยาลัยประชากรศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย เลขที่ 254 แขวงปทุมวัน เขตปทุมวัน กรุงเทพฯ 10330',
 'สายวิชาศิลปศาสตร์ คณะศิลปศาสตร์และวิทยาศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาอ.กำแพงแสน  ถนนมาลัยแมน อ.กำแพงแสน จ.นครปฐม 73140',
 'ภาควิชาศึกษาศาสตร์ คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล',
 nan,
 nan,
 'เลขที่ 5 ซอยรามคำแหง 30 แขวงหัวหมาก เขตบางกะปิ กรุงเทพฯ 10240',
 'สำนักงานสาธารณสุขปัตตานี',
 'เลขที่ 54 ซอยบางแค ซอย 7 แยก 2 แขวงบางแค เขตบางแค  กรุงเทพฯ 10160',
 nan,
 '196/9 ซ.ราชวิถี 4 ถ.ราชวิถี แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400',
 '93/157 หมู่บ้านสินทรัพย์2 ตำบลบึงยี่โถ อำเภอธัญบุรี ปทุมธานี 12130',
 'คณะศิลปศาสตร์ เลขที่ 85 ต.เมืองศรีไค อ.วารินชำราบ จ.อุบลราชธานี 34190',
 nan,
 nan,
 '68/1457 แขวงมีนบุรี เขตมีนบุรี กรุงเทพ 10510',
 nan,
 'คณะทันตแพทศาสตร์ มหาวิทยาลัยเชียงใหม่ ถ ห้วยแก้ว อ เมือง จ เชียงใหม่ 50200',
 nan,
 nan,
 nan,
 '90/750 ซอย 5 หมู่บ้านปิยวรารมย์ 1 ถนนบางกรวย-ไทรน้อย ตำบลบางบัวทอง อำเภอบางบัวทอง จ.นนทบุรี',
 nan,
 'โรงพยาบาลลับแล 163 ม 11 ต ชัยจุมพล อ.ลับแล จ. อุตรดิตถ์ 53130',
 'อาคาร 1 ศูนย์ทรัพยากรการเรียนรู้ มหาวิทยาลัยสงขลานครินทร์ ห้อง 10 เลขที่ 10 ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 10310',
 nan,
 'เลขที่ 88/119 หมู่ที่ 3 ถนนอนันดา ต.คลองสาม อ.คลองหลวง จ.ปทุมธานี 12120',
 nan,
 '131/2 แยก 42 ซอยพหลโยธิน52 ถนนพหลโยธิน แขวงคลองถนน เขตสายไหม กทม. 10220',
 nan,
 'คณะศึกษาศาสตร์ มหาวิทยาลัยศรีนครินทรวิโรฒ',
 'คณะศึกษาศาสตร์ มหาวิทยาลัยศรีนครินทรวิโรฒ',
 nan,
 nan,
 'ุ6 ซ.รามคำแหง 16 (แยก 2) หัวหมาก บางกะปิ กทม. 10240',
 nan,
 'มหาวิทยาลัยสวนดุสิต ศูนย์การศึกษานอกที่ตั้ง ตรัง 139 ถนนวิเศษกุล ต.ทับเที่ยง อ.เมืองตรัง จ.ตรัง 92000',
 'เลขที่ 205 ถนนพุทธมณฑลสาย 2 แขวงบางแคเหนือ เขตบางแค กรุงเทพฯ 10160',
 'คณะสังคมสงเคราะห์ศาสตร์และสวัสดิการสังคม',
 'สำนักวิจัย มหาวิทยาลัยธนบุรี',
 nan,
 'คณะสาธารณสุขศาสตร์  มหาวิทยาลัยมหิดล 420/1  ถ.ราชวิถี  เขตราชเทวี  กทม.10400',
 nan,
 nan,
 '15 ถนนศรีเกิด ตำบลหัวเวียง อำเภอเมือง จังหวัดลำปาง 52000',
 'โครงการประเมินเทคโนโลยีและนโยบายด้านสุขภาพ อาคาร 6 ชั้น 6 กรมอนามัย กระทรวงสาธารณสุข อ.เมือง จ.นนทบุรี 11000',
 nan,
 nan,
 nan,
 '136 หมู่ 4 ต.โคกสะบ้า อ.นาโยง จ.ตรัง 92170',
 'ศูนย์วิจัยและฝึกอบรมทางการศึกษา (อาคาร 6 ชั้น 16) มหาวิทยาลัยธุรกิจบัณฑิตย์ 110/1-4 ถ ประชาชื่น หลักสี่ กทม 10210',
 'อาคารวิศิษฐ์-ประจวบเหมาะ ห้อง 5 เลขที่ 254  ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยสงขลานครินทร์ ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90110',
 nan,
 'คณะกายภาพบำบัด มหาวิทยาลัยมหิดล',
 'เลขที่ 88 หมู่ที่ 3 ต.ท่าสว่าง อ.เมือง จ.สุรินทร์ 32000',
 nan,
 nan,
 nan,
 nan,
 'สถาบันพระบรมราชชนก',
 'กองทันตสาธารณสุข กรมอนามัยชั้น 3 อาคาร 5 กระทรวงสาธารณสุข เลขที่ 88/20 ถนนติวานนท์ ต.ตลาดขวัญ อ.เมืองนนทบุรี จ.นนทบุรี 11000',
 'ภาควิชาสังคมและสุขภาพ คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล ต. ศาลายา อ. นครชัยศรี จ. นครปฐม 73170',
 nan,
 nan,
 '88 ซอย ติวานนท์ 3 ถนน ติวานนท์ นนทบุรี 11000',
 'สมาคมพยาบาล, 21/12 ซอยชวกุล ถนนรางน้ำ แขวงถนนพญาไท เขตราชเทวี กทม. 10400',
 'โรงพยาบาลจะแนะ ต.จะแนะ อ.จะแนะ จ.นราธิวาส 96220',
 nan,
 nan,
 'อาคาร3ชั้น 8 ภ.เวชศาสตร์ชุมชน คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี พระราม 6 ทุ่งพญาไท ราชเทวี กท 10400',
 nan,
 nan,
 'ภาควิชาสุขศึกษาและพฤติกรรมศาสตร์ คณะสาธารณสุขศาสตร์ ม. มหิดล 420/1 ถ. ราชวิถี เขตราชเทวี กทม. 10400',
 '6/103 ซอยลาดพร้าว 25 ถนนลาดพร้าว แขวงจันทรเกษม เขตจตุจักร กทม. 10900',
 'ภาควิชาออร์โธปิดิกส์ คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี',
 'คณะสาธารณสุขศาสตร์ มหาวิทยาลัยขอนแก่น อำเมือง จังหวัดขอนแก่น 40002',
 nan,
 'โครงการป่าสาละ',
 'มหาวิทยาลัยบูรพา 169 ถ.ลงหาดบางแสน ต.แสนสุข อ.เมือง จ.ชลบุรี 20131',
 'ศูนย์สหวิทยาการชุมชนศึกษา สถาบันวิจัยและพัฒนา  มหาวิทยาลัยสุโขทัยธรรมาธิราช',
 '46/152  ม.4  คลอง 3  คลองหลวง  จ.ปทุมธานี   12120',
 nan,
 '77/18 ม.ชลลดา ซ.สายไหม 34 แขวงสายไหม เขต สายไหม กทม 10220',
 '16ซอยติวานนท์22แยก6 ตำบลบางกระสอ อำเภอเมือง จังหวัดนนทบุรี 11000',
 'เลขที่ 3/814 ถนนเทศบาลนิมิตเหนือ แขวงลาดยาว เขตจตุจักร กรุงเทพฯ 10900',
 'ชั้น 3 อาคารพัสดุ (ด้านทิศเหนือสวนสุขภาพ) กระทรวงสาธารณสุข อ. เมือง จ. นนทบุรี 11000',
 'คณะสาธารณสุขศาสตร์ ม.มหิดล 420/1 ถ.ราชวิถี เขตราชเทวี กรุงเทพ 10400',
 '40 ม.8 ต.กังแอน อ.ปราสาท จ.สุรินทร์',
 '30/356 ถนนงามวงศ์วาน ต. บางเขน อ. เมืองนนทบุรี จังหวัดนนทบุรี',
 'วิทยาลัยวิทยาศาสตร์สาธารณสุข จุฬาลงกรณ์มหาวิทยาลัย อาคารสถาบัน 2 ชั้น 4 แขวงวังใหม่ เขตปทุมวัน กทม 10330',
 'คณะเภสัชศาสตร์ มหาวิทยาลัยมหิดล',
 'เลขที่ 220/12 ซอยศาสนา 5 ถนนพระราม 6-28 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400',
 'เลขที่ 56 ซอยอุตุนิยมวิทยา ต.ทะเลชุบศร อ.เมืองลพบุรี จ.ลพบุรี',
 nan,
 '9/2 ถ.เรืองเดช ต.ในเมือง อ.เมือง จ.สุรินทร์',
 '111/314  ม.11  ต.ตลาดขวัญ  อ.เมือง  จ.นนทบุรี  11000',
 'เลขที่ 113/35 หมู่ที่ 12 ต.ท่าศาลา อ.ท่าศาลา จ.นครศรีธรรมราช 80160',
 nan,
 nan,
 'หมู่บ้านบดินทร์รักษา เลขที่ 989 ซอยลาดพร้าว 94 แขวงหัวหมาก เขตบางกะปิ กรุงเทพฯ 10310',
 '17/1 ราษฎร์ประสงค์ ต.ในเวียง อ.เมืองน่าน จ.น่าน 55000',
 '416/31 หมู่บ้านอิงกมล ตำบลทุ่งใหญ่ อำเภอหาดใหญ่ จังหวัดสงขลา',
 'มูลนิธิสถาบันวิจัยเพื่อการพัฒนาประเทศไทย(TDRI) 565 ซ รามคำแหง 39 (เทพลีลา 1) ถ รามคำแหง แขวงวังทองหลาง  เขตวังทองหลาง กทม 10230',
 'โครงการประเมินเทคโนโลยีและนโยบายด้านสุขภาพ ชั้น๖ อาคาร ๖ กรมอนามัย กระทรวงสาธารณสุข นนทบุรี ๑๑๐๐๐',
 nan,
 'ม.ฟาฏอนี',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 2 ถนนพรานนก เขตบางกอกน้อย กรุงเทพฯ 10700',
 'เลขที่ 88/413 ซอย25 หมู่บ้านปาริชาติ ถนนพุทธมณฑล สาย 4 ต.บางกระทึก อ.สามพราน จ.นครปฐม 73210',
 'ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 2 แขวงศิริราช เขตบางกอกน้อย กรุงเทพฯ 10700',
 nan,
 'สถาบันทรัพยากรทะเลและชายฝั่ง  มหาวิทยาลัยสงขลานครินทร์  อ.หาดใหญ่ จ.สงขลา  90110  ',
 '254 ซ. ลาดพร้าว 101 ซอย 48 คลองจั่น บางกะปิ กรุงเทพฯ 10240',
 'แพทยสมาคมแห่งประเทศไทยในพระบรมราชูปถัมภ์ อาคารเฉลิมพระบารมี 50 ปี ชั้น 4 เลขที่ 2 ซอยศูนย์วิจัย ถนนเพชรบุรีตัดใหม่ แขวงบางกะปิ เขตห้วยขวาง กรุงเทพฯ 10320',
 '199/14 หมู่บ้านธรรมชาติ ม.6 ต.ไทรม้า อ.เมือง จ.นนทบุรี',
 nan,
 'สถาบันวิจัยประชากรและสังคม เลขที่ 999 ถนนพุทธมณฑลสาย 4 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'เทศบาลตำบลเมืองแก อ.ท่าตูม จ.สุรินทร์ ',
 'คณะสังคมสงเคราะห์ศาสตร์ มหาวิทยาลัยธรรมศาสตร์ เลขที่ 2 ถนนพระจันทร์ แขวงพระบรมมหาราชวัง เขตพระนคร กรุงเทพฯ 10200',
 nan,
 nan,
 'คณะรัฐศาสตร์ มหาวิทยาลัยรามคำแหง',
 'บลอค 77 เลขที่ 291/66  แขวงพระโขนงเหนือ เขตวัฒนา กรุงเทพฯ 10110',
 nan,
 'ึ75 หมู่ 6 ตำบลหนองช้างคืน อำเภอเมือง จังหวังลำพูน',
 nan,
 'วิทยาลัยพยาบาลบรมราชชนนีนครศรีธรรมราช  ถนนพัฒนาการคูขวาง ต.ในเมือง อ.เมือง จ.นครศรีธรรมราช 80000',
 '90/675 คอนโดไอดิโอโมบิพระรามเก้า ถนนพระรามเก้า กรุงเทพ 10310',
 '125/89หมู่5ซอยลุ่มพัฒนา1\nถนนบางกรวย-ไทรน้อย\nต.บางกรวย อ.บางกรวย\nจ.นนทบุรี 11130',
 'ภาควิชาเวชศาสตร์ชุมชน คณะแพทยศาสตร์ รพ.รามาธิบดี',
 'สำนักวิจัยนโยบายสร้างเสริมสุขภาพ สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ',
 'อาคารสวัสดิ์ แดงสว่าง คณะสาธารณสุขศาสตร์ มหาวิทยาลัยมหิดล ห้อง 7308 ชั้น 3 เลขที่ 420/1 ถนนราชวิถี แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 'เลขที่ 324/9 หมู่ที่ 3 หมู่บ้านศิริพร ต.ศิลา อ.เมืองขอนแก่น จ.ขอนแก่น 40000',
 'ศูนย์เฝ้าระวังทางวัฒนธรรม กระทรวงวัฒนธรรม เลขที่ 666 ถนนบรมราชชนนี เขตบางพลัด กรุงเทพฯ 10700',
 'คณะสังคมศาสตร์และมนุษยศาสตร์   มหาวิทยาลัยมหิดล  ถ.พุทธมณฑลสาย 4   ต.ศาลายา อ.พุทธมณฑล  จ.นครปฐม  73170 ',
 'เลขที่ 9 ถนนพระราม 9 ซอย 53 (วิเศษสุข 5) เขตสวนหลวง กทม. 10250',
 nan,
 '40/6 ลาดพร้าว 83 วังทองหลาง กรุงเทพ',
 nan,
 '143/361 หมู่บ้านปิ่นเกล้าพัฒนา ถ.บรมราชชนนี แขวงอรุณอมรินทร์ เขตบางกอกน้อย กทม. 10700',
 '18 หมู่ 5 ซอย 28 ถนนพงสวาย-บางป่า ต.พงสวาย อ.เมือง จ.ราชบุรี 70000',
 'คณะสังคมสงเคราะห์ศาสตร์ มหาวิทยาลัยธรรมศาสตร์ ถ พระจันทร์ เขตพระนคร กทม 10200',
 'ุ6/10 ถ.คตกฤช ต.พระปฐมเจดีย์ อ.เมือง จ.นครปฐม',
 '564 ม.วราธรวิลล์ ซ.พัฒนาการ 44 แขวงสวนหลวง เขตสวนหลวง กทม.10250  ',
 'โรงพยาบาลมหาราชนครศรีธรรมราช  ถนนราชดำเนิน ต.ในเมือง อ.เมือง จ.นครศรีธรรมราช 80000',
 'สถาบันวิจัยเพื่อการพัฒนาประเทศไทย (TDRI)',
 nan,
 nan,
 'มูลนิธิ\u200bสุขภาพ\u200bภาคใต้\u200b ม.สงขลา\u200bนครินทร์\u200b หาดใหญ่\u200b สงขลา\u200b 90110',
 'แขวงทุ่งมหาเมฆ เขตสาทร กรุงเทพฯ 10120',
 '82 ถนนจรัญสนิทวงศ์ ซอย 75/1 บางพลัด กทม 10700',
 nan,
 'ภาควิชาทันตกรรมเด็ก คณะทันตแพทยศาสตร์ ม.มหิดล',
 'คณะพยาบาลศาสตร์ ม.สงขลานครินทร์ ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา',

In [425]:
! touch .env   # create a new .env file
! nano .env    # open the .env file in the nano text editor

/bin/bash: nano: command not found

In [426]:
from dotenv import load_dotenv
from pathlib import Path
import os

f = open('.env', 'w')
f.write('Map_Geo_Coding_API_KEY=AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q')
f.close()
dotenv_path = Path('.env')
load_dotenv(dotenv_path=dotenv_path)

True

In [427]:
DOTENV_FILE = '.env'
env_config = Config(RepositoryEnv(DOTENV_FILE))
AUTH_KEY=env_config.get('Map_Geo_Coding_API_KEY')
AUTH_KEY

'AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q'

In [428]:
# https://developers.google.com/maps/documentation/geocoding/intro
base_url= "https://maps.googleapis.com/maps/api/geocode/json?"

In [429]:
def reversegeo(address):
    parameters = {"address": address,
                  "key": AUTH_KEY}
    
    try:
        global r
        r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
    except requests.exceptions.HTTPError as errh:
        print ("Http Error:",errh)
    except requests.exceptions.ConnectionError as errc:
        print ("Error Connecting:",errc)
    except requests.exceptions.Timeout as errt:
        print ("Timeout Error:",errt)
    except requests.exceptions.RequestException as err:
        print ("OOps: Something Else",err)
    
    data = json.loads(r.content)
#     return data.get("results")

    return [data.get("results")[0].get("geometry").get("location").get("lat") ,data.get("results")[0].get("geometry").get("location").get("lng")] if len(data.get("results")) != 0 else []

In [430]:
def reversegeo_address(address):
    parameters = {"address": address,
                  "key": AUTH_KEY}
    
    try:
        global r
        r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
    except requests.exceptions.HTTPError as errh:
        print ("Http Error:",errh)
    except requests.exceptions.ConnectionError as errc:
        print ("Error Connecting:",errc)
    except requests.exceptions.Timeout as errt:
        print ("Timeout Error:",errt)
    except requests.exceptions.RequestException as err:
        print ("OOps: Something Else",err)
    
    data = json.loads(r.content)
#     return data.get("results")

    try :
      test = data.get("results")[1].get("address_components")
    except :
      if len(data.get("results")) != 0: 
        test = data.get("results")[0].get("address_components")
      else : test = []

    location_number = ''
    location_road = ''
    location_subdistrict = ''
    location_district = ''
    location_province = ''
    location_zipcode = ''

    for addres in test:
      if len(addres['types']) == 0:
        break

      elif addres['types'][-1] == 'street_number':
          location_road = addres['long_name']

      elif addres['types'][-1] == "subpremise":
          location_number = addres['long_name']

      elif addres['types'][-1] == "sublocality_level_2":
          location_subdistrict = addres['long_name']

      elif addres['types'][-1] == "sublocality_level_1":
          location_district = addres['long_name']

      elif addres['types'][-1] == "political":
          if addres['types'][-2] == "administrative_area_level_1":
            location_province = addres['long_name']

      elif addres['types'][-1] == "postal_code":
          location_zipcode = addres['long_name']


    return [location_number, location_road, location_subdistrict, location_district, location_province, location_zipcode]

In [431]:
# set up your search parameters - address and API key
parameters = {"address": "เลขที่ 2044/23 ซอยเพชรบุรีตัดใหม่ แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10310", "key": AUTH_KEY}

In [432]:
#urllib.parse.urlencode turns parameters into url
print(f"{base_url}{urllib.parse.urlencode(parameters)}")

https://maps.googleapis.com/maps/api/geocode/json?address=%E0%B9%80%E0%B8%A5%E0%B8%82%E0%B8%97%E0%B8%B5%E0%B9%88+2044%2F23+%E0%B8%8B%E0%B8%AD%E0%B8%A2%E0%B9%80%E0%B8%9E%E0%B8%8A%E0%B8%A3%E0%B8%9A%E0%B8%B8%E0%B8%A3%E0%B8%B5%E0%B8%95%E0%B8%B1%E0%B8%94%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88+%E0%B9%81%E0%B8%82%E0%B8%A7%E0%B8%87%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%82%E0%B8%A7%E0%B8%B2%E0%B8%87+%E0%B9%80%E0%B8%82%E0%B8%95%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%82%E0%B8%A7%E0%B8%B2%E0%B8%87+%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%AF+10310&key=AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q

In [433]:
r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
data = json.loads(r.content)
data
len(data.get("results"))
data.get("results")[0].get("geometry").get("location").get("lat")
data.get("results")[0].get("geometry").get("location").get("lng")

100.5774363

In [434]:
try :
  test = data.get("results")[1].get("address_components")
except :
  test = data.get("results")[0].get("address_components")
location_number = ''
location_road = ''
location_subdistrict = ''
location_district = ''
location_province = ''
location_zipcode = ''

for addres in test:
  if addres['types'][-1] == 'street_number':
      location_road = addres['long_name']
      print(location_road)

  elif addres['types'][-1] == "subpremise":
      location_number = addres['long_name']
      print(location_number)

  elif addres['types'][-1] == "sublocality_level_2":
      location_subdistrict = addres['long_name']
      print(location_subdistrict)

  elif addres['types'][-1] == "sublocality_level_1":
      location_district = addres['long_name']
      print(location_district)

  elif addres['types'][-1] == "political":
      if addres['types'][-2] == "administrative_area_level_1":
        location_province = addres['long_name']
        print(location_province)

  elif addres['types'][-1] == "postal_code":
      location_zipcode = addres['long_name']
      print(location_zipcode)
  #print([x for x in addres['long_name'] if addres['types'][-1] == 'postal_code'])

2044
23
Khwaeng Bang Kapi
Khet Huai Khwang
Krung Thep Maha Nakhon
10310

In [435]:
member_df['พิกัดที่อยู่'] = member_df['ที่อยู่'].apply(reversegeo)
member_df['ที่อยู่_clean'] = member_df['ที่อยู่'].apply(reversegeo_address)

In [436]:
locat_df = member_df[['ID','ที่อยู่_clean','พิกัดที่อยู่']]
locat_df[['เลขที่',"ถนน","ตำบล","อำเภอ","จังหวัด","รหัสไปรษณีย์"]] = pd.DataFrame(locat_df['ที่อยู่_clean'].tolist(), index= locat_df.index)
locat_df[['latitude', 'longtitude']] = pd.DataFrame(locat_df['พิกัดที่อยู่'].tolist(), index= locat_df.index)
locat_df.drop(columns=['ที่อยู่_clean','พิกัดที่อยู่'], inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

## **Perform table**

### **Create unique table**
ใส่ไอดีให้แต่ละตาราง

In [437]:
member_df.columns

Index(['ID', 'คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'gender', 'นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา ระดับการศึกษา',
       'ด้านการศึกษา สาขาที่จบ (สูงสุด)',
       'ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)', 'หน่วยงานที่สังกัด',
       'ความสนใจด้านการประเมินผล', 'การทำงานด้านการประเมินผล',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study',
       'พิกัดที่อยู่', 'ที่อยู่_clean'],
      dtype='object')

### **Create empty table**
สร้างตาราง จากชื่อคอลัมน์ใน Google sheet

In [349]:
gs.__version__

'5.7.1'

In [350]:
gc = gs.service_account('/content/drive/MyDrive/ThaiNHF All Work/column/API key/API_KEY.json')

In [351]:
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1xB2OBVl8WwclaYsp67b0-FrKauyxHRxGtTNcsfJ3m_k/edit?usp=sharing')
ws = sh.worksheet('tb_user')

In [352]:
tb_col_name = ['tb_user', 'tb_evaluation', 'tb_contact', 'tb_approach', 
               'tb_experience', 'tb_framework','tb_location','tb_skill',
               'tb_evaluation_expertise','tb_evaluation_target','tb_evaluation_area']

def sheet(tb, sh):
  ws = sh.worksheet(tb)
  col = pd.DataFrame(ws.get_all_records())
  
  return [x for x in col['column_name_eng']]

sheet(tb_col_name[1], sh)

['evaluation_id',
 'evaluation_interests',
 'evaluation_work',
 'evaluation_understanding',
 'evaluation_project',
 'evaluation_position',
 'evaluation_createby',
 'evaluation_createdt',
 'evaluation_updateby',
 'evaluation_updatedt',
 'user_id']

In [491]:
tb_user = pd.DataFrame(columns=sheet(tb_col_name[0], sh)).reset_index(drop=True)
tb_evaluation = pd.DataFrame(columns=sheet(tb_col_name[1], sh)).reset_index(drop=True)
tb_contact = pd.DataFrame(columns=sheet(tb_col_name[2], sh)).reset_index(drop=True)
tb_approach = pd.DataFrame(columns=sheet(tb_col_name[3], sh)).reset_index(drop=True)
tb_experience = pd.DataFrame(columns=sheet(tb_col_name[4], sh)).reset_index(drop=True)
tb_framework = pd.DataFrame(columns=sheet(tb_col_name[5], sh)).reset_index(drop=True)
tb_location = pd.DataFrame(columns=sheet(tb_col_name[6], sh)).reset_index(drop=True)
tb_skill = pd.DataFrame(columns=sheet(tb_col_name[7], sh)).reset_index(drop=True)
tb_evaluation_expertise = pd.DataFrame(columns=sheet(tb_col_name[8], sh)).reset_index(drop=True)
tb_evaluation_target = pd.DataFrame(columns=sheet(tb_col_name[9], sh)).reset_index(drop=True)
tb_evaluation_area = pd.DataFrame(columns=sheet(tb_col_name[10], sh)).reset_index(drop=True)

##### check

In [ ]:
ws = sh.worksheet(tb_col_name[0])
cols = pd.DataFrame(ws.get_all_records())

In [99]:
for col in cols['column_name_th']:
  #print(col)
  if col in member_df.columns:
    inDex = cols.index[cols['column_name_th'] == col].tolist()[0]
    tb_user[cols['column_name_eng'][inDex]] = member_df[col]
    #print(cols.index[cols['column_name_th'] == col].tolist()[0])
tb_user

,user_id,user_image,user_username,user_prefix,user_title,user_fname,user_lname,user_gender,user_password,user_dt,...,user_affiliated,user_status,user_createby,user_createdt,user_updateby,user_updatedt,user_skill_quality,user_skill_descriptive,user_skill_analytical,user_skill_experimental
1.0,USER1000,NaN,NaN,นาง,NaN,กนกพร,ตันวัฒนะ,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,USER1001,NaN,NaN,น.ส.,NaN,กนกภรณ์,ชูเชิด,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,USER1002,NaN,NaN,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,USER1003,NaN,NaN,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,USER1004,NaN,NaN,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มาก,มากที่สุด,มากที่สุด,มากที่สุด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617.0,USER1616,NaN,NaN,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มากที่สุด,มาก,มาก,มาก
618.0,USER1617,NaN,NaN,คุณ,NaN,อุษา,อติโภคบูรณ์,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619.0,USER1618,NaN,NaN,NaN,ผศ.ดร.,อุษา,อ้นทอง,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620.0,USER1619,NaN,NaN,น.ส.,ดร.,อุษารดี,ภู่มาลี,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มาก,มากที่สุด,มากที่สุด,มาก
621.0,USER1620,NaN,NaN,น.ส.,NaN,อุสมะห์,ลาเฮศักดิ์สิทธิ์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Fill data

In [463]:
def fill_data(tb_dict, tb, df_1):
  ws = sh.worksheet(tb_dict)
  cols = pd.DataFrame(ws.get_all_records())
  for col in cols['column_name_th']:
    if col in df_1.columns:
      inDex = cols.index[cols['column_name_th'] == col].tolist()[0]
      tb[cols['column_name_eng'][inDex]] = df_1[col]
  return tb

In [488]:
area_df.columns

Index(['ID', 'ความเชี่ยวชาญ พื้นที่ดำเนินการ'], dtype='object')

In [477]:
tb_col_name

['tb_user',
 'tb_evaluation',
 'tb_contact',
 'tb_approach',
 'tb_experience',
 'tb_framework',
 'tb_location',
 'tb_skill',
 'tb_evaluation_expertise',
 'tb_evaluation_target',
 'tb_evaluation_area']

In [490]:
tb_user = fill_data(tb_col_name[0], tb_user, member_df)

tb_evaluation[['evaluation_interests','evaluation_work','user_id']] = member_df[['ความสนใจด้านการประเมินผล','การทำงานด้านการประเมินผล','ID']]
assign_id_tb(tb_evaluation, prefix[1])
tb_evaluation.drop(columns=['evaluation_understanding', 'evaluation_project'])

tb_contact = fill_data(tb_col_name[2], tb_contact, contact_df)

tb_approach['approaches_name'] = pd.DataFrame(set(evaAppo_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล']), columns=[tb_approach.columns[1]])
assign_id_tb(tb_approach, prefix[3])

tb_experience = fill_data(tb_col_name[4], tb_experience, issue_df)##################33
assign_id_tb(tb_experience, prefix[4])

tb_framework = pd.DataFrame(set(evaFrame_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล']), columns=[tb_framework.columns[1]])
assign_id_tb(tb_framework, prefix[5])

tb_location = fill_data(tb_col_name[6], tb_location, locat_df)
assign_id_tb(tb_location, prefix[8])

tb_evaluation_expertise['evaluation_target'] = pd.DataFrame(set(issue_df['ความเชี่ยวชาญ ด้านประเด็น']), columns=[tb_evaluation_expertise.columns[1]])
assign_id_tb(tb_evaluation_expertise, prefix[8])

tb_evaluation_target['evaluation_target'] = pd.DataFrame(set(target_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย']), columns=[tb_evaluation_target.columns[1]])
assign_id_tb(tb_evaluation_target, prefix[9])

tb_evaluation_area['evaluation_area'] = pd.DataFrame(set(area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ']), columns=[tb_evaluation_area.columns[1]])
assign_id_tb(tb_evaluation_area, prefix[10])

ValueError: ignored

In [482]:
tb_evaluation_target

Empty DataFrame
Columns: [id, evaluation_target, evaluation_target_createby, evaluation_target_createdt, evaluation_target_updateby, evaluation_target_updatedt, evaluation_id]
Index: []

## **Export Data**

In [113]:
filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_user.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_user.to_csv(filepath)

In [ ]:
# ไม่ใช้

In [ ]:
filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/นักประเมิน.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
member_df.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/ระดับประสบการณ์.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
level_df.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/กรอบการประเมิน.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
evaFrame_df.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/พื้นที่ดำเนินการ.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
area_df.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/รูปแบบการดำเนินการ.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
evaAppo_df.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/ประเด็นเชี่ยวชาญ.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
issue_df.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/กลุ่มเป้าหมาย.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
target_df.to_csv(filepath)

"""filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/กลุ่มเป้าหมาย.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
target_df.to_csv(filepath)"""

"filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/กลุ่มเป้าหมาย.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntarget_df.to_csv(filepath)"

In [ ]:
issue_df

       ID ความเชี่ยวชาญ ด้านประเด็น
0    1004         กลุ่มโรคไม่ติดต่อ
1    1004                ระบบสุขภาพ
2    1004             สุขภาวะทางเพศ
3    1006         กลุ่มโรคไม่ติดต่อ
4    1006               สิ่งแวดล้อม
..    ...                       ...
680  1616                อุบัติเหตุ
681  1616            รู้เท่าทันสื่อ
682  1616         สื่อเด็กและเยาวชน
683  1619               สิ่งแวดล้อม
684  1619             การพัฒนาชุมชน

[685 rows x 2 columns]

In [ ]:
filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/(ThaiNHF) ข้อมูลพัฒนาเสนอโครงการ สสส/หน่วยงานที่ได้รับการประเมิน.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
unit_df.to_csv(filepath)

In [ ]:
#d = evaFrame_df.set_index('ID')['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล'].to_dict()
"""evaFrame_df = evaFrame_df.explode('กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล')
print(set(evaFrame_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล']))
check = evaFrame_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล']
evaFrame_df = evaFrame_df[(check.str.contains(',') == False) & ( check != 'None')]
evaFrame_df = evaFrame_df.dropna().reset_index(drop=True)
"""