In [1525]:
import gspread as gs
import pandas as pd
import numpy as np
#from google.colab import auth
#auth.authenticate_user()
from google.auth import default
from pathlib import Path  
import re
from pandas_profiling import ProfileReport

import requests
import json
import urllib
from decouple import config,Config, RepositoryEnv

In [1526]:
df = pd.read_excel('Copy of 650411_ฐานข้อมูลเครือข่ายนักประเมิน_จากลิ้ง.xlsx', index_col=0, header=2)

# แก้ option ตอน read ให้เป็น utf-8

In [1527]:
df.columns

Index(['คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'นามสกุล', 'ชื่อ-นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา', 'Unnamed: 11',
       'Unnamed: 12', 'หน่วยงานที่สังกัด', 'ความสนใจด้านการประเมินผล',
       'การทำงานด้านการประเมินผล', 'ประสบการณ์ด้านการประเมินผล',
       'ระดับประสบการณ์ด้านการประเมินผล',
       'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ',
       'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล',
       'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล',
       'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.',
       'ฐานะผู้ประเมิน', 'เคยประเมินผลให้กับหน่วยงานอื่น', 'ความเชี่ยวชาญ',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'ปัญหาและอุปสรรคจากการประเมินฯ',
       'ข้อเสนอแนะต่อการประเมินฯ', 'ข้อเสนอแนะต่อการพัฒนาศักยภาพนักประเมินฯ',
       'ฐาน สสส.', 'รวมโดย M&E', 'อบรมนักประเมิน', 'DE', 'เครือข่ายหมอพงค์เทพ',
       'เครือข่ายหมอปิยะ', 'ตอบแบบสอบถาม', 'ไม่พบที่อยู่', 'ไม่ตอบ',
       'ตอบแบบสอบถาม.1', 'ไม่พบที่อยู่.1', 'ไม่ตอบ.1'],
      dtype='object')

## **1. Changing columns name**

In [1528]:
recol_df = df.copy()
n=0
for key in df.columns:
  if not recol_df.iloc[:1,n:n+1].isnull().values.any() :
    #print(df.columns[n], '->', df.iloc[0,n])
    if 'Unnamed' not in recol_df.columns[n] :
      print(recol_df.columns[n], '->', recol_df.columns[n]+ ' ' +recol_df.iloc[0,n])
      recol_df = recol_df.rename(columns={recol_df.columns[n]:recol_df.columns[n]+ ' ' +recol_df.iloc[0,n]})

    else:
      a=n
      while 'Unnamed' in recol_df.columns[a]:
        a -= 1
      else:
        print(recol_df.columns[n], '->', recol_df.columns[a].split()[0]+ ' ' +recol_df.iloc[0,n])
        recol_df = recol_df.rename(columns={recol_df.columns[n]:recol_df.columns[a].split()[0]+ ' ' +recol_df.iloc[0,n]})
        
    #new_df = df.rename(columns={df.columns[n]:df.iloc[0,n]})
  n += 1

ด้านการศึกษา -> ด้านการศึกษา ระดับการศึกษา
Unnamed: 11 -> ด้านการศึกษา สาขาที่จบ (สูงสุด)
Unnamed: 12 -> ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)
ความเชี่ยวชาญ -> ความเชี่ยวชาญ ด้านประเด็น
Unnamed: 26 -> ความเชี่ยวชาญ กลุ่มเป้าหมาย
Unnamed: 27 -> ความเชี่ยวชาญ พื้นที่ดำเนินการ
Unnamed: 28 -> ความเชี่ยวชาญ ทักษะ skill and competency
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ
Unnamed: 30 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study
Unnamed: 31 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study
Unnamed: 32 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study

In [1529]:
recol_df.columns

Index(['คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'นามสกุล', 'ชื่อ-นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา ระดับการศึกษา',
       'ด้านการศึกษา สาขาที่จบ (สูงสุด)',
       'ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)', 'หน่วยงานที่สังกัด',
       'ความสนใจด้านการประเมินผล', 'การทำงานด้านการประเมินผล',
       'ประสบการณ์ด้านการประเมินผล', 'ระดับประสบการณ์ด้านการประเมินผล',
       'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ',
       'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล',
       'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล',
       'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.',
       'ฐานะผู้ประเมิน', 'เคยประเมินผลให้กับหน่วยงานอื่น',
       'ความเชี่ยวชาญ ด้านประเด็น', 'ความเชี่ยวชาญ กลุ่มเป้าหมาย',
       'ความเชี่ยวชาญ พื้นที่ดำเนินการ',
       'ความเชี่ยวชาญ ทักษะ skill and competency',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study',
       'ปัญหาและอุปสรรคจากการประเมินฯ', 'ข้อเสนอแนะต่อการประเมินฯ',
       'ข้อเสนอแนะต่อการพัฒนาศักยภาพนักประเมินฯ', 'ฐาน สสส.', 'รวมโดย M&E',
       'อบรมนักประเมิน', 'DE', 'เครือข่ายหมอพงค์เทพ', 'เครือข่ายหมอปิยะ',
       'ตอบแบบสอบถาม', 'ไม่พบที่อยู่', 'ไม่ตอบ', 'ตอบแบบสอบถาม.1',
       'ไม่พบที่อยู่.1', 'ไม่ตอบ.1'],
      dtype='object')

## **2. Selecting important columns & row**

In [1530]:
new_df = recol_df.iloc[1:622,:32]
new_df = new_df.reset_index(drop=True)
new_df = new_df.drop(columns=['ชื่อ-นามสกุล', 'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.'], axis=1)
new_df

,คำนำหน้า,ตำแหน่ง,ชื่อ,นามสกุล,ที่อยู่,โทรศัพท์,โทรศัพท์มือถือ,อีเมล์,ด้านการศึกษา ระดับการศึกษา,ด้านการศึกษา สาขาที่จบ (สูงสุด),...,ฐานะผู้ประเมิน,เคยประเมินผลให้กับหน่วยงานอื่น,ความเชี่ยวชาญ ด้านประเด็น,ความเชี่ยวชาญ กลุ่มเป้าหมาย,ความเชี่ยวชาญ พื้นที่ดำเนินการ,ความเชี่ยวชาญ ทักษะ skill and competency,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study
0,นาง,NaN,กนกพร,ตันวัฒนะ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,น.ส.,NaN,กนกภรณ์,ชูเชิด,เลขที่ 119/36 ซอยท่าอิฐ หมู่บ้านมณียา ถนนรัตนา...,NaN,0899241928,chucherd_k@lycos.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,สาขาพัฒนาสังคม คณะมนุษยศาสตร์และสังคมศาสตร์ มห...,NaN,0816237579,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,ภาควิชาวิจัยและจิตวิทยาการศึกษา คณะครุศาสตร์ จ...,NaN,0836157722,ksriklaub@gmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,ภาควิชาอนามัยครอบครัว คณะสาธารณสุขศาสตร์ มหาวิ...,02-3548536,0816511353,kanittha.cha@mahidol.ac.th,ปริญญาเอก,ปร.ด. (สังคมศาสตร์การแพทย์),...,ผู้ประเมินภายนอก,1. สำนักอนามัยการเจริญพันธุ์ กระทรวงสาธารณสุข\...,"กลุ่มโรคไม่ติดต่อ, ระบบสุขภาพ, สุขภาวะทางเพศ","กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), กลุ่มวัยทำ...",NaN,NaN,มาก,มากที่สุด,มากที่สุด,มากที่สุด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,เลขที่ 5/231 ม.ประชานิเวศน์ 2ระยะ 3 ซ. สามัคคี...,0869792160,0869792160,O_SUKSAI@hotmail.com,ปริญญาเอก,Ph.D. ( Communication),...,ผู้ประเมินภายนอก,Thai PBS,"ระบบสุขภาพ, สุขภาพจิต, อุบัติเหตุ, รู้เท่าทันส...","เด็กปฐมวัย (0-5ปี), เด็กวัยเรียน (5-14ปี), กลุ...",NaN,NaN,มากที่สุด,มาก,มาก,มาก
617,คุณ,NaN,อุษา,อติโภคบูรณ์,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,ผศ.ดร.,อุษา,อ้นทอง,เลขที่ 140 ถนนกาญจนวานิช ต.เขารูปช้าง อ.เมือง ...,NaN,"0869614556, 0819654556",usaonthong@hotmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,น.ส.,ดร.,อุษารดี,ภู่มาลี,คณะวนศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ เลขที่ 50 ถ...,0930238420,0930238420,ploy_ku59@hotmail.com,ปริญญาเอก,ปร.ด (อุทยาน นันทนาการ และการท่องเที่ยว),...,"ผู้ประเมินภายใน, ผู้ประเมินภายนอก",กรมส่งเสริมคุณภาพสิ่งแวดล้อม กรมทรัพยากรทะเลแล...,"สิ่งแวดล้อม, การพัฒนาชุมชน","กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), กลุ่มวัยทำ...",NaN,NaN,มาก,มากที่สุด,มากที่สุด,มาก
620,น.ส.,NaN,อุสมะห์,ลาเฮศักดิ์สิทธิ์,เลขที่ 8 ซอยวิภาวดีรังสิต แขวงลาดยาว เขตจตุจัก...,NaN,0817385289,"u.sama12@hotmail.com, usama_saksit@hotmail.com",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **3. Split data**

In [1531]:
new_df.isnull().sum()

คำนำหน้า                                                                191
ตำแหน่ง                                                                 312
ชื่อ                                                                      0
นามสกุล                                                                   0
ที่อยู่                                                                 206
โทรศัพท์                                                                462
โทรศัพท์มือถือ                                                          208
อีเมล์                                                                  158
ด้านการศึกษา ระดับการศึกษา                                              417
ด้านการศึกษา สาขาที่จบ (สูงสุด)                                         423
ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)                               423
หน่วยงานที่สังกัด                                                       589
ความสนใจด้านการประเมินผล                                                423
การทำงานด้านการประเมินผล                                                423
ประสบการณ์ด้านการประเมินผล                                              425
ระดับประสบการณ์ด้านการประเมินผล                                         593
การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ                                423
กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล                429
รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล                 429
ฐานะผู้ประเมิน                                                          460
เคยประเมินผลให้กับหน่วยงานอื่น                                          465
ความเชี่ยวชาญ ด้านประเด็น                                               427
ความเชี่ยวชาญ กลุ่มเป้าหมาย                                             428
ความเชี่ยวชาญ พื้นที่ดำเนินการ                                          592
ความเชี่ยวชาญ ทักษะ skill and competency                                590
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ                          425
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study     424
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study      424
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study    425
dtype: int64

In [1532]:
new_df = recol_df.iloc[1:622,:32]
new_df = new_df.reset_index(drop=True)
new_df = new_df.drop(columns=['ชื่อ-นามสกุล', 'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.'], axis=1)

new_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล'] = new_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'] = new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
#new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'] = new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ ด้านประเด็น'] = new_df['ความเชี่ยวชาญ ด้านประเด็น'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'] = new_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = new_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.split(pat="( , )|(, )|( ,)")
new_df['ระดับประสบการณ์ด้านการประเมินผล'] = new_df['ระดับประสบการณ์ด้านการประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = new_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.split(pat="( , )|(, )|( ,)")
#new_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = new_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.split(pat="[\d\.]+")
new_df['อีเมล์'] = new_df['อีเมล์'].str.split(pat="( , )|(, )|( ,)")
new_df['โทรศัพท์'] = new_df['โทรศัพท์'].str.split(pat="( , )|(, )|( ,)")
new_df['โทรศัพท์มือถือ'] = new_df['โทรศัพท์มือถือ'].str.split(pat="( , )|(, )|( ,)")


new_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = new_df['ความเชี่ยวชาญ ทักษะ skill and competency'].str.split(pat="( , )|(, )|( ,)")

In [1533]:
new_df.loc[:, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']]

,อีเมล์,โทรศัพท์,โทรศัพท์มือถือ
0,NaN,NaN,NaN
1,[chucherd_k@lycos.com],NaN,[0899241928]
2,NaN,NaN,[0816237579]
3,[ksriklaub@gmail.com],NaN,[0836157722]
4,[kanittha.cha@mahidol.ac.th],[02-3548536],[0816511353]
...,...,...,...
616,[O_SUKSAI@hotmail.com],[0869792160],[0869792160]
617,NaN,NaN,NaN
618,[usaonthong@hotmail.com],NaN,"[0869614556, None, , , None, 0819654556]"
619,[ploy_ku59@hotmail.com],[0930238420],[0930238420]
620,"[u.sama12@hotmail.com, None, , , None, usama_s...",NaN,[0817385289]

In [1534]:
def spltel(ntel):
    temp = str(ntel).split('-')
    if len(temp) > 1:
        temp = str(temp[0])+str(temp[1])
        return temp
    else:
        return ntel

for i in new_df.index:
    ls = new_df.loc[i, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']].values.tolist()
    email, tel, phone = ls[0], ls[1], ls[2]
    
    if type(email) == list:
        if len(email) > 1:
            email = list(filter(lambda item: item is not None, email))
            email = list(filter(lambda item: item != ' ,', email))
            email = list(filter(lambda item: item != ', ', email))
            
    if type(tel) == list:
        if len(tel) > 1:
            tel = list(filter(lambda item: item is not None, tel))
            tel = list(filter(lambda item: item != ' ,', tel))
            tel = list(filter(lambda item: item != ', ', tel))
        ind = []
        for t in tel:
            ind.append(spltel(t))
        tel = ind

    if type(phone) == list:
        if len(phone) > 1:
            phone = list(filter(lambda item: item is not None, phone))
            phone = list(filter(lambda item: item != ' ,', phone))
            phone = list(filter(lambda item: item != ', ', phone))
        ind = []
        for t in phone:
            ind.append(spltel(t))
        phone = ind

    new_df.loc[i, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']] = [email, tel, phone]

/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)

In [1535]:
new_df.loc[:, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']]

,อีเมล์,โทรศัพท์,โทรศัพท์มือถือ
0,NaN,NaN,NaN
1,[chucherd_k@lycos.com],NaN,[0899241928]
2,NaN,NaN,[0816237579]
3,[ksriklaub@gmail.com],NaN,[0836157722]
4,[kanittha.cha@mahidol.ac.th],[023548536],[0816511353]
...,...,...,...
616,[O_SUKSAI@hotmail.com],[0869792160],[0869792160]
617,NaN,NaN,NaN
618,[usaonthong@hotmail.com],NaN,"[0869614556, 0819654556]"
619,[ploy_ku59@hotmail.com],[0930238420],[0930238420]
620,"[u.sama12@hotmail.com, usama_saksit@hotmail.com]",NaN,[0817385289]

#### Assign ID Function ( assign_id() )

คำนำหน้ารหัส



1. 'USER' -> นักประเมิน
2. 'EVL' -> การประเมิน
3. 'CONTC' -> ข้อมูลติดต่อ
4. 'APP' -> รูปแบบการประเมิน
5. 'EXP' -> ระดับประสบการณ์
6. 'FW' -> กรอบการประเมิน
7. 'LOCT' -> ที่อยู่
8. 'SKIL' -> ทักษะ
9. 'EVLEP' -> ประเด็นความเชี่ยวชาญ 
10. 'EVLTA' -> กลุ่มเป้าหมาย
11. 'EVLAR' -> พื้นที่ดำเนินการ

In [1536]:
prefix = ['USER', 'EVL', 'CONTC', 'APP', 'EXP', 'FW', 'LOCT', 'SKIL', 'EVLEP', 'EVLTA', 'EVLAR']

def assign_id(df):
  id = []
  key = 999
  for i in range(len(df)):
    key = key+1
    id_txt = prefix[0] + str(key)
    id.append(id_txt)
  try:
    return df.insert(loc=0, column='ID', value=id)
  except:
    df = df.drop(columns='ID')
    return df.insert(loc=0, column='ID', value=id)

def assign_id_tb(df, prefix):
  id = []
  key = 999
  for i in range(len(df)):
    key = key+1
    id_txt = prefix + str(key)
    id.append(id_txt)

  df[df.columns[0]] = pd.DataFrame(id)
  return df

In [1537]:
assign_id(new_df)

In [1538]:
new_df.iloc[618]

ID                                                                                                               USER1618
คำนำหน้า                                                                                                              NaN
ตำแหน่ง                                                                                                            ผศ.ดร.
ชื่อ                                                                                                                 อุษา
นามสกุล                                                                                                            อ้นทอง
ที่อยู่                                                                 เลขที่ 140 ถนนกาญจนวานิช ต.เขารูปช้าง อ.เมือง ...
โทรศัพท์                                                                                                              NaN
โทรศัพท์มือถือ                                                                                   [0869614556, 0819654556]
อีเมล์                                                                                           [usaonthong@hotmail.com]
ด้านการศึกษา ระดับการศึกษา                                                                                            NaN
ด้านการศึกษา สาขาที่จบ (สูงสุด)                                                                                       NaN
ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)                                                                             NaN
หน่วยงานที่สังกัด                                                                                                     NaN
ความสนใจด้านการประเมินผล                                                                                              NaN
การทำงานด้านการประเมินผล                                                                                              NaN
ประสบการณ์ด้านการประเมินผล                                                                                            NaN
ระดับประสบการณ์ด้านการประเมินผล                                                                                       NaN
การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ                                                                              NaN
กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล                                                              NaN
รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล                                                               NaN
ฐานะผู้ประเมิน                                                                                                        NaN
เคยประเมินผลให้กับหน่วยงานอื่น                                                                                        NaN
ความเชี่ยวชาญ ด้านประเด็น                                                                                             NaN
ความเชี่ยวชาญ กลุ่มเป้าหมาย                                                                                           NaN
ความเชี่ยวชาญ พื้นที่ดำเนินการ                                                                                        NaN
ความเชี่ยวชาญ ทักษะ skill and competency                                                                              NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ                                                                        NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study                                                   NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study                                                    NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study                                                  NaN
Name: 618, dtype: object

### Split Tables

In [1539]:
member_df = new_df.iloc[:,:15]

member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ']
member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study']
member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study']
member_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study']


member_df.sample(5)

,ID,คำนำหน้า,ตำแหน่ง,ชื่อ,นามสกุล,ที่อยู่,โทรศัพท์,โทรศัพท์มือถือ,อีเมล์,ด้านการศึกษา ระดับการศึกษา,ด้านการศึกษา สาขาที่จบ (สูงสุด),ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด),หน่วยงานที่สังกัด,ความสนใจด้านการประเมินผล,การทำงานด้านการประเมินผล,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study
326,USER1326,น.ส.,รศ.ดร.,มธุรส,ทิพยมงคลกุล,เลขที่ 30/356 ถนนงามวงศ์วาน ต. บางเขน อ. เมือง...,NaN,[0894948429],[mathuros.tip@mahidol.edu],ปริญญาเอก,Epidemiology,National Taiwan University,มีหน่วยงานสังกัด,สนใจ,เคย,ปานกลาง,มากที่สุด,มากที่สุด,มากที่สุด
37,USER1037,NaN,ศาสตราภิชาน,ไกรฤทธิ์,บุณยเกียรติ,เลขที่ 2 ซอยเสรี 10 หมู่บ้านเสรี แขวงสวนหลวง ...,NaN,[0819056353],[v_surapong@hotmail.com],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,USER1213,น.ส.,NaN,เบญจมาศ,นันตาวิราช,เลขที่ 222 (ห้อง4115) ซ.งามวงศ์วาน 22 (ซ.ไมตร...,NaN,[0818845525],[b.nantaviraj@hotmail.com],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,USER1036,NaN,ดร.,โกสุม,โอมพรนุวัฒน์,เลขที่ 188/55 แขวงบ้านช่างหล่อ เขตบางกอกน้อย ก...,NaN,[0867878986],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,USER1160,คุณ,NaN,ธีรนันต์,ปราบราย,เลขที่ 177 หมู่ 1 ต.บ้านทำเนียบ อ.คีรีรัฐนิคม ...,NaN,[0819581765],[ohvpoyo@hotmail.com],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1540]:
try:
  member_df['คำนำหน้า'].replace('นาง ', 'นาง', inplace=True)
  member_df.insert(loc=4, column='gender', value=member_df['คำนำหน้า'])
except:
  member_df = member_df.drop(columns='gender')
  member_df['คำนำหน้า'].replace('นาง ', 'นาง', inplace=True)
  member_df.insert(loc=4, column='gender', value=member_df['คำนำหน้า'])

member_df['gender'].replace('น.ส.','หญิง',inplace=True)
member_df['gender'].replace('นาง','หญิง',inplace=True)
member_df['gender'].replace('นาง','หญิง',inplace=True)
member_df['gender'].replace('นาย','ชาย',inplace=True)
member_df['gender'].replace(['คุณ', np.nan],'ไม่ระบุ',inplace=True)

set(member_df['gender'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [1541]:
def stack_dat(dat):
  dat = dat.explode(dat.columns[1])
  check = dat[dat.columns[1]]
  dat = dat[(check.str.contains(',|None|\([\w+\)]|^[ก-ฮ]{1}\.$|^เขต\d+|^\d$', regex=True) == False) & (check != '') & (check != '-') & (check != 'etc') & (check != 'etc.') & (check != 'ฯลฯ') & (check != '/') & (check != 'กลุ่ม') & (check != 'และ') & (check != 'ภาค') & (check != 'ของ') & (check != 'สำนักงาน')]
  #dat[dat.columns[1]] = dat[dat.columns[1]].str.replace(r'^ +', '', regex=True)
  dat[dat.columns[1]] = dat[dat.columns[1]].str.strip()
  dat = dat.dropna().reset_index(drop=True)
  return dat

def stack_dat_multicols(dat, col):
  dat = dat.explode(col)
  check = dat[col]
  #dat[col] = dat[(check.str.contains(',|None|\([\w+\)]|^[ก-ฮ]{1}\.$|^เขต\d+|^\d$', regex=True) == False) & (check != '') & (check != '-') & (check != 'etc') & (check != 'etc.') & (check != 'ฯลฯ') & (check != '/') & (check != 'กลุ่ม') & (check != 'และ') & (check != 'ภาค') & (check != 'ของ') & (check != 'สำนักงาน')]
  dat[col] = dat[col].str.strip()
  #dat = dat.dropna().reset_index(drop=True)
  return dat

def stack_dat_multicols_split(dat, col):
  #dat = dat.explode(col)
  check = dat[col]
  #dat[col] = dat[(check.str.contains(',|None|\([\w+\)]|^[ก-ฮ]{1}\.$|^เขต\d+|^\d$', regex=True) == False) & (check != '') & (check != '-') & (check != 'etc') & (check != 'etc.') & (check != 'ฯลฯ') & (check != '/') & (check != 'กลุ่ม') & (check != 'และ') & (check != 'ภาค') & (check != 'ของ') & (check != 'สำนักงาน')]
  dat[col] = dat[col].str.strip()
  #dat = dat.dropna().reset_index(drop=True)
  return dat

In [1542]:
# split ตามวรรค ไปก่อน, เอาตัวย่อในวงเล็บออก แล้วเปลี่ยนตัวย่อนอกวงเล็บ เป็นชื่อเต็ม 


evaFrame_df = new_df[['ID', 'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล']]
evaAppo_df = new_df[['ID', 'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล']]
issue_df = new_df[['ID', 'ความเชี่ยวชาญ ด้านประเด็น']]
target_df = new_df[['ID', 'ความเชี่ยวชาญ กลุ่มเป้าหมาย']]
area_df = new_df[['ID', 'ความเชี่ยวชาญ พื้นที่ดำเนินการ']]
contact_df = new_df[['ID','โทรศัพท์',"โทรศัพท์มือถือ",'อีเมล์']]

#new_df['โทรศัพท์'].str.replace('(\u200b)|(\-)','')
#new_df['โทรศัพท์มือถือ'].str.replace('(\u200b)|(\-)|()|(\xa0)','')

skill_df = new_df[['ID','ความเชี่ยวชาญ ทักษะ skill and competency']]

unit_df = new_df[['ID', 'เคยประเมินผลให้กับหน่วยงานอื่น']]

evaFrame_df = stack_dat(evaFrame_df)
#issue_df['ความเชี่ยวชาญ ด้านประเด็น'] = issue_df['ความเชี่ยวชาญ ด้านประเด็น'].str.split(pat="/|\\u200b")

evaAppo_df = stack_dat(evaAppo_df)

issue_df = stack_dat(issue_df)
issue_df['ความเชี่ยวชาญ ด้านประเด็น'] = issue_df['ความเชี่ยวชาญ ด้านประเด็น'].str.split(pat="/|\\u200b")
issue_df = stack_dat(issue_df)

target_df = stack_dat(target_df)
target_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'] = target_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'].str.split(pat="/|\\u200b")
target_df = stack_dat(target_df)

area_df = stack_dat(area_df)
area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.replace(r' \(วัด/โบสถ์/มัสยิด\)', '')
area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.split(pat="/")
area_df = stack_dat(area_df)

level_df = new_df[['ID', 'ระดับประสบการณ์ด้านการประเมินผล', 'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ']]
level_df['ระดับประสบการณ์ด้านการประเมินผล'].apply(lambda x: list(set(x)) if (type(x) == list) else None)
level_df['ระดับประสบการณ์ด้านการประเมินผล'].apply(lambda x: [i for i in x if i!=None] if (type(x) == list) and (None in x) else None)
level_df['ระดับประสบการณ์ด้านการประเมินผล'].apply(lambda x: x.remove(', ') if (type(x) == list) and (', ' in x) else None)

unit_df = stack_dat(unit_df)
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('มหาิท', 'มหาวิท')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กระทรง', 'กระทรวง')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ม พายัพ', 'มหาวิทยาลัยพายัพ')
#unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ม.', 'มหาวิทยาลัย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('\u200b| ฯลฯ| เป็นต้น|(\d\.)|/|\(\w+\.\)|\( \w+\)|\)', '')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.split(pat=" / |\n |\n|(กรม\S+)|(กระทรวง\S+)|(สมาคม\S+)|(สำนัก\S+)|(มหาวิท\S+)|(องค์กร\S+)|(\sกองทุน\S+)|(\S+\.)|(\s[ก-ฮ]{2,4}\s)| และ |(\sสภา\S+)")
unit_df = stack_dat(unit_df)
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].replace('มหิดล', 'มหาวิทยาลัยมหิดล')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].replace('มหาวิทยาลัยต่างๆ', 'มหาวิทยาลัย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].replace('และสธ.', 'สธ.')
unit_df = stack_dat(unit_df)

contact_df = stack_dat_multicols(contact_df, contact_df.columns[1])
contact_df['โทรศัพท์'] = contact_df['โทรศัพท์'].str.replace('-', '')
contact_df = stack_dat_multicols(contact_df, contact_df.columns[1])

contact_df = stack_dat_multicols(contact_df, contact_df.columns[2])
contact_df['โทรศัพท์มือถือ'] = contact_df['โทรศัพท์มือถือ'].str.replace('(-)|(\u200b)|(\xa0)|( \(jazz2550@hotmail.com \(เลขา\)\))', '')
contact_df = stack_dat_multicols(contact_df, contact_df.columns[2])

contact_df = stack_dat_multicols(contact_df, contact_df.columns[3])
contact_df['อีเมล์'] = contact_df['อีเมล์'].str.replace('\u200b', '')
contact_df['อีเมล์'] = contact_df['อีเมล์'].replace('alicha.treer.cmu.ac.th', 'alicha.treer@cmu.ac.th')
contact_df = stack_dat_multicols(contact_df, contact_df.columns[3])

skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: list(set(x)) if (type(x) == list) else np.nan)
skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: [i for i in x if i!=None] if (type(x) == list) else np.nan)
skill_df = stack_dat(skill_df)

#print(len(set(unit_df[unit_df.columns[1]])))

#issue_df

/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2768762641.py:32: FutureWarning: The default value of regex will change from True to False in a future version.
  area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.replace(r' \(วัด/โบสถ์/มัสยิด\)', '')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2768762641.py:46: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('\u200b| ฯลฯ| เป็นต้น|(\d\.)|/|\(\w+\.\)|\( \w+\)|\)', '')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2768762641.py:59: FutureWarning: The default value of regex will change from True to False in a future version.
  contact_df['โทรศัพท์มือถือ'] = contact_df['โทรศัพท์มือถือ'].str.replace('(-)|(\u200b)|(\xa0)|( \(jazz2550@hotmail.com \(เลขา\)\))', '')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2768762641.py:67: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: list(set(x)) if (type(x) == list) else np.nan)
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2768762641.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: [i for i in x if i!=None] if (type(x) == list) else np.nan)

In [1543]:

#[x for x in contact_df[~contact_df[contact_df.columns[3]].isna()][contact_df.columns[3]]]

In [1544]:
check = unit_df[unit_df.columns[1]]
print(len(set(unit_df[check.str.contains('^[ก-ฮ]{1,5}\.|^[ก-ฮ]{1,5}$', regex=True)][unit_df.columns[1]])))
set(unit_df[check.str.contains('^[ก-ฮ]{1,5}\.|^[ก-ฮ]{1,5}$', regex=True)][unit_df.columns[1]])

36

{'ก.พม.',
 'ก.มท.',
 'ก.ยธ.',
 'กทม.',
 'กปร.',
 'ปปช.',
 'ปปส',
 'ปปส.',
 'พอช.',
 'มสธ.',
 'รพ.สร.',
 'วช',
 'วช.',
 'ศอบต',
 'ส.กพ.',
 'สกว',
 'สกว.',
 'สกศ',
 'สกสว.',
 'สจรส.ม.อ.',
 'สจรส.มอ.',
 'สช',
 'สช.',
 'สทศ.',
 'สธ.',
 'สปสช',
 'สปสช.',
 'สพฉ',
 'สพฐ.',
 'สวช.',
 'สวรส',
 'สวรส.',
 'สสปท.',
 'สสวท.',
 'อบจ',
 'อปท.'}

In [1545]:
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ก.พม.', 'คณะกรรมการพัฒนาและส่งเสริมองค์การมหาชน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ก.ยธ.', 'การยางแห่งประเทศไทย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('วช|วช.', 'สำนักงานการวิจัยแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('พอช.', 'สถาบันพัฒนาองค์กรชุมชน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กทม.', 'กรุงเทพมหานคร')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กปร.', 'สำนักงานคณะกรรมการพิเศษเพื่อประสานงานโครงการอันเนื่องมาจากพระราชดำริ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ปปช.', 'คณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ปปส|ปปส.', 'คณะกรรมการป้องกันและปราบปรามยาเสพติด')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('มสธ.', 'มหาวิทยาลัยสุโขทัยธรรมาธิราช')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('รพ.สร.', 'โรงพยาบาลสุรินทร์')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('วช|วช.', 'สำนักงานการวิจัยแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ศอบต', 'ศูนย์อำนวยการบริหารจังหวัดชายแดนภาคใต้')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ส.กพ.', 'สำนักงานคณะกรรมการข้าราชการพลเรือน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกว|สกว.', 'สำนักงานกองทุนสนับสนุนการวิจัย')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สจรส.ม.อ.|สจรส.มอ.', 'สถาบันการจัดการระบบสุขภาพ มหาวิทยาลัยสงขลานครินทร์')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกสว.', 'สำนักงานคณะกรรมการส่งเสริมวิทยาศาสตร์ วิจัยและนวัตกรรม')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สช|สช.', 'สำนักงานคณะกรรมการส่งเสริมการศึกษาเอกชน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สทศ.', 'สถาบันทดสอบทางการศึกษาแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกศ.', 'สำนักงานเลขาธิการสภาการศึกษา')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สธ.', 'กระทรวงสาธารณสุข')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สปสช|สปสช.', 'สำนักงานหลักประกันสุขภาพแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สพฉ', 'สถาบันการแพทย์ฉุกเฉินแห่งชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สพฐ.', 'สำนักงานคณะกรรมการการศึกษาขั้นพื้นฐาน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สวช.', 'สำนักงานโครงการสอบวัดทักษะวิชาการระดับชาติ')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สวรส', 'สถาบันวิจัยระบบสาธารณสุข')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สสปท.', 'สถาบันส่งเสริมความปลอดภัย อาชีวอนามัย และสภาพแวดล้อมในการทำงาน')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สสวท.', 'สถาบันส่งเสริมการสอนวิทยาศาสตร์และเทคโนโลยี')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('อบจ', 'องค์การบริหารส่วนจังหวัด')
unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('อปท.', 'องค์กรปกครองส่วนท้องถิ่น')
unit_df = stack_dat(unit_df)

/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ก.พม.', 'คณะกรรมการพัฒนาและส่งเสริมองค์การมหาชน')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ก.ยธ.', 'การยางแห่งประเทศไทย')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('วช|วช.', 'สำนักงานการวิจัยแห่งชาติ')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('พอช.', 'สถาบันพัฒนาองค์กรชุมชน')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กทม.', 'กรุงเทพมหานคร')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('กปร.', 'สำนักงานคณะกรรมการพิเศษเพื่อประสานงานโครงการอันเนื่องมาจากพระราชดำริ')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ปปช.', 'คณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:8: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ปปส|ปปส.', 'คณะกรรมการป้องกันและปราบปรามยาเสพติด')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('มสธ.', 'มหาวิทยาลัยสุโขทัยธรรมาธิราช')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('รพ.สร.', 'โรงพยาบาลสุรินทร์')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('วช|วช.', 'สำนักงานการวิจัยแห่งชาติ')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('ส.กพ.', 'สำนักงานคณะกรรมการข้าราชการพลเรือน')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกว|สกว.', 'สำนักงานกองทุนสนับสนุนการวิจัย')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สจรส.ม.อ.|สจรส.มอ.', 'สถาบันการจัดการระบบสุขภาพ มหาวิทยาลัยสงขลานครินทร์')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกสว.', 'สำนักงานคณะกรรมการส่งเสริมวิทยาศาสตร์ วิจัยและนวัตกรรม')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สช|สช.', 'สำนักงานคณะกรรมการส่งเสริมการศึกษาเอกชน')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สทศ.', 'สถาบันทดสอบทางการศึกษาแห่งชาติ')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สกศ.', 'สำนักงานเลขาธิการสภาการศึกษา')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:20: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สธ.', 'กระทรวงสาธารณสุข')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:21: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สปสช|สปสช.', 'สำนักงานหลักประกันสุขภาพแห่งชาติ')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สพฐ.', 'สำนักงานคณะกรรมการการศึกษาขั้นพื้นฐาน')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สวช.', 'สำนักงานโครงการสอบวัดทักษะวิชาการระดับชาติ')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:26: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สสปท.', 'สถาบันส่งเสริมความปลอดภัย อาชีวอนามัย และสภาพแวดล้อมในการทำงาน')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('สสวท.', 'สถาบันส่งเสริมการสอนวิทยาศาสตร์และเทคโนโลยี')
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/3418254728.py:29: FutureWarning: The default value of regex will change from True to False in a future version.
  unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = unit_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.replace('อปท.', 'องค์กรปกครองส่วนท้องถิ่น')

In [1546]:
set(area_df[area_df.columns[1]])

{'ชุมชน',
 'บริษัทเอกชน',
 'มหาวิทยาลัย',
 'รพสต.',
 'ระดับนโยบาย',
 'ศูนย์สุขภาพชุมชน',
 'ศูนย์เด็กเล็ก',
 'ศูนย์เรียนรู้ฯ',
 'สถานประกอบการ',
 'สถานพยาบาลอื่นๆ',
 'สถานศึกษาอื่นๆ',
 'สถานีอนามัย',
 'หน่วยงานรัฐอื่นๆ',
 'องค์กร',
 'อปท.',
 'อาชีวะ',
 'โรงงาน',
 'โรงพยาบาล',
 'โรงเรียน'}

In [1547]:
skill_df = new_df[['ID','ความเชี่ยวชาญ ทักษะ skill and competency']]
skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: list(set(x)) if (type(x) == list) else np.nan)
skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: [i for i in x if i!=None] if (type(x) == list) else np.nan)
skill_df = stack_dat(skill_df)

set(skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'])

/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/909000651.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: list(set(x)) if (type(x) == list) else np.nan)
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/909000651.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = skill_df['ความเชี่ยวชาญ ทักษะ skill and competency'].apply(lambda x: [i for i in x if i!=None] if (type(x) == list) else np.nan)

{'Gender',
 'Health Literacy',
 'ICT',
 'violence',
 'การจัดการข้อมูล',
 'การจัดความรู้',
 'การสร้างระบบดูเฝ้าระวังทางสุขภาพ',
 'การเปลี่ยนแปลงพฤติกรรม',
 'การเรียนรู้',
 'ข้อมูลสุขภาพ',
 'ความรอบรู้ทางสุขภาพ',
 'ด้านการสื่อสาร',
 'ด้านเครือข่าย',
 'ด้านเศรษฐศาสตร์',
 'นโยบาย',
 'ระบบกลไก'}

### Split level_df

In [1548]:
level_df[['output', 'outcome','impact','ความคุ้มค่า']] = np.nan
i=0
for item in level_df['ระดับประสบการณ์ด้านการประเมินผล']:

  if type(item) == list:
    if 'Output' in item:
      level_df['output'][i] = int(1)

    if 'Outcome' in item:
      level_df['outcome'][i] = int(1)


    if 'Impact' in item:
      level_df['impact'][i] = int(1)


    if 'ความคุ้มค่า' in item:
      level_df['ความคุ้มค่า'][i] = int(1)

  i=i+1

/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df[['output', 'outcome','impact','ความคุ้มค่า']] = np.nan
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df[['output', 'outcome','impact','ความคุ้มค่า']] = np.nan
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df[['output', 'outcome','impact','ความคุ้มค่า']] = np.nan
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df[['output', 'outcome','impact','ความคุ้มค่า']] = np.nan
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df['output'][i] = int(1)
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df['outcome'][i] = int(1)
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df['impact'][i] = int(1)
/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2225119251.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df['ความคุ้มค่า'][i] = int(1)

In [1549]:
level_df.drop(columns='ระดับประสบการณ์ด้านการประเมินผล', inplace=True)
level_df

/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/2047924421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  level_df.drop(columns='ระดับประสบการณ์ด้านการประเมินผล', inplace=True)

,ID,การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ,output,outcome,impact,ความคุ้มค่า
0,USER1000,NaN,NaN,NaN,NaN,NaN
1,USER1001,NaN,NaN,NaN,NaN,NaN
2,USER1002,NaN,NaN,NaN,NaN,NaN
3,USER1003,NaN,NaN,NaN,NaN,NaN
4,USER1004,เคย,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
616,USER1616,เคย,NaN,NaN,NaN,NaN
617,USER1617,NaN,NaN,NaN,NaN,NaN
618,USER1618,NaN,NaN,NaN,NaN,NaN
619,USER1619,เคย,NaN,NaN,NaN,NaN
620,USER1620,NaN,NaN,NaN,NaN,NaN

## **Get Latitude & Longitude**

In [1550]:
member_df['ที่อยู่'].to_list()

[nan,
 'เลขที่ 119/36 ซอยท่าอิฐ หมู่บ้านมณียา ถนนรัตนาธิเบศร์ ต.ไทรม้า อ.เมือง จ.นนทบุรี 11000',
 'สาขาพัฒนาสังคม คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยนเรศวร วิทยาอ.หนองอ้อ อ.เมือง จ.พิษณุโลก 56000',
 'ภาควิชาวิจัยและจิตวิทยาการศึกษา คณะครุศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 'ภาควิชาอนามัยครอบครัว คณะสาธารณสุขศาสตร์ มหาวิยาลัยมหิดล',
 nan,
 'สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ อาคารคลังพัสดุ ชั้น 2 กระทรวงสาธารณสุข ซอย 6 ถนนติวานนท์ ตำบลตลาดขวัญ อำเภอเมือง จังหวัดนนทบรี 11000',
 'คณะเภสัชศาสตร์ มหาวิทยาลัยขอนแก่น เลขที่ 123  ถนนมิตรภาพ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000',
 'เลขที่ 2044/23 ซอยเพชรบุรีตัดใหม่ แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10320',
 'คณะครุศาสตร์ มรภ.สวนสุนันทา เลขที่ 1 ถ.อู่ทองนอก แขวงวชิระ เขตดุสิต กทม.10300',
 nan,
 nan,
 'เลขที่ 98/16 ม.18 ต.คลองหนึ่ง อ.คลองหลวง จ.ปทุมธานี',
 'เลขที่ 83/132 ไอ คอนโด ศาลายา',
 'เลขที่ 188 หมู่ที่ 2 ต.เมืองปัก อ.ปักธงชัย จ.นครราชสีมา 30150',
 nan,
 'สถาบันวิจัยประชากรและสังคม ม.มหิดล',
 'เลขที่ 78/153 บ้านฟ้าปิยรมย์ เพส 6 ซอย 17 ถนนลำลูกกา ตำบลบึงคำพร้อย อำเภอลำลูกกา จังหวัดปทุมธานี 12150',
 nan,
 'อาคารเฉลิมพระเกียรติ มหาวิทยาลัยราชภัฏพระนคร เลขที่ 9  แขวงอนุสาวรีย์ เขตบางเขน กรุงเทพฯ 10220',
 'มหาวิทยาลัยการกีฬาแห่งชาติ วิทยาเขตสุโขทัย (คณะศึกษาศาสตร์) เลขที่ 1 หมู่ 7 ถนนสุโขทัย-กำแพงเพชร ตำบลบ้านกล้วย อำเภอเมือง จังหวัดสุโขทัย รหัสไปรษณีย์ 64000',
 'เลขที่ 38/1 หมู่ 3 ต.ตากแดด อ.เมืองพังงา จ.พังงา 82000',
 nan,
 'เลขที่ 15/14 ม.7 ต.แม่เหียะ อ.เมือง จ.พะเยา',
 nan,
 'เลขที่ 34/197  รามอินทรา 14  บางเขน  กทม. 10230',
 'มหาวิทยาลัยกรุงเทพ วิทยาเขตกล้วยน้ำไท  ถนนพระราม 4 แขวงคลองเตย เขตคลองเตย กรุงเทพฯ 10110',
 'ภาควิชาอนุรักษวิทยา คณะวนศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ เลขที่ 50 ถ พหลโยธิน แขวงลาดยาว เขตจตุจักร กทม 10900',
 'คณะเศรษฐศาสตร์ มหาวิทยาลัยธรรมศาสตร์',
 nan,
 nan,
 'คณะเศรษฐศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 'บัณฑิตวิทยาลัย มหาวิทยาลัยราชภัฎนครศรีธรรมราช  ต.ท่างิ้ว อ.เมือง จ.นครศรีธรรมราช 80280',
 'เลขที่ 85 ต.นครปฐม อ.เมือง จ.นครปฐม 73000',
 nan,
 'เลขที่ 29 ม.13 ต.พานพร้าว อ.ศรีเชียงใหม่ จ.หนองคาย',
 'เลขที่ 188/55 แขวงบ้านช่างหล่อ เขตบางกอกน้อย กรุงเทพฯ 10700',
 'เลขที่ 2  ซอยเสรี 10 หมู่บ้านเสรี แขวงสวนหลวง เขตสวนหลวง กรุงเทพฯ 10250',
 nan,
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยขอนแก่น อำเภอเมือง จังหวัดขอนแก่น 40000',
 nan,
 'เลขที่ 141/199 ม.1 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'สำนักระบาดวิทยา กระทรวงสาธารณสุข เลขที่ 88/24  ถนนติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 nan,
 'เลขที่ 302/13 หมู่บ้านซื่อตรง ซอยประดิษฐ์มนูธรรม 10 วังทองหลาง กทม.10310',
 'เลขที่ 120 ม.1 ต.โคกกรวด อ.เมือง จ.นครราชสีมา 30280',
 nan,
 nan,
 'HITAP อาคาร 6 ชั้น 6 กรมอนามัย กระทรวงสาธารณสุข นนทบุรี 11000',
 nan,
 'เลขที่ 16/506 หมู่ที่ 8 ถนนพิบูลสงคราม 16 ต.บางเขน อ.เมือง จ.นนทบุรี 11000',
 'เลขที่ 107/6 หมู่บ้านประภาวรรณ 1 ถนนบึงขวาง แขวงแสนแสบ เขตมีนบุรี กทม 10510',
 'เลขที่ 88/119\u200b หมู่3\u200b ต.คลองสาม\u200b อ.คลองหลวง\u200b จ.ปทุมธานี',
 'ศูนย์วิจัยและพัฒนาระบบสุขภาพชุมชน คณะพยาบาลศาสตร์ มหาวิทยาลัยขอนแก่น เลขที่ 123  ถนนมิตรภาพ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000',
 'โรงพยาบาลคลองท่อม จังหวัดกระบี่',
 nan,
 'อาคารวิชาการ 3 ชั้น 3 สาขาวิชามนุษยนิเวศศาสตร์ มหาวิทยาลัยสุโขทัยธรรมาธิราช ถ แจ้งวัฒนะ ต บางพูด อ ปากเกร็ด จ นนทบุรี 11120',
 'เลขที่ 139/52 หมู่บ้านสิรีนเฮ้าส์ ซ.ร่วมมิตรพัฒนา ท่าแร้ง บางเขน กทม. 10220',
 nan,
 'สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ \nอาคารคลังพัสดุ ชั้น 2 สาธารณสุขซอย 6 \nต.ตลาดขวัญ อ.เมือง นนทบุรี 11000\n',
 nan,
 nan,
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยสงขลาครินทร์ ต.รูสะมิแล อ.เมืองปัตตานี จ.ปัตตานี 94000',
 'มหาวิทยาลัยศรีปทุม ชลบุรี เลขที่ 79 หมู่ 1 ถนนบางนาตราด ต.คลองตำหรุ อ.เมือง จ.ชลบุรี',
 'สำนักวิจัยนโยบายสร้างเสริมสุขภาพ สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ',
 'ภาควิชาเวชศาสตร์ป้องกันและสังคม คณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 'สำนักงานสาธารณสุขจังหวัดสุรินทร์ ต.ในเมือง อ.เมือง จ.สุรินทร์ 32000',
 'เลขที่ 18/32 ถนนมหิดล ตำบลสุเทพ อำเภอเมือง ชม.',
 nan,
 'เลขที่ 123/706 ถ.มิตรภาพ อ.เมือง จ.ขอนแก่น 40000',
 nan,
 nan,
 'เลขที่ 34/1 หมู่ที่ 5 ต.พานพร้าว อ.ศรีเชียงใหม่ จ.หนองคาย 43130',
 nan,
 nan,
 'เลขที่ 180/154 ม.1 ต.ขุนทะเล อ.เมือง จ.สุราษฎร์ธานี 84100',
 'หมู่บ้านเสนานิเวศน์ โครงการ 1 เลขที่ 71/21 ถนนเสนานิคม 1 แขวงจรเข้บัว เขตลาดพร้าว กรุงเทพฯ 10230',
 nan,
 '420/1 ภาควิชาบริหารงานสาธารณสุข \nคณะสาธารณสุขศาสตร์มหาวิทยาลัยมหิดล ถนนราชวิถีเขตราชเทวี แขวงทุ่งพญาไท กรุงเทพฯ',
 'เลขที่ 59/23 ถ.ประชาชื่น แขวงทุ่งสองห้อง หลักสี่ กรุงเทพ 10210',
 'สถาบันวิจัยประชากรและสังคม มหาวิทยาลัยมหิดล ศาลายา นครปฐม 73170',
 'คณะรัฐศาสตร์  มหาวิทยาลัยอุบลราชธานี เลขที่ 13/1 ถนนแสงอรุณ ต.วารินชำราบ อ.วารินชำราบ จ.อุบลราชธานี 34190',
 'เลขที่ 109 ม.19 ต.พรหมสวัสดิ์ อ.พยุห์ จ.ศรีสะเกษ 33230',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยพะเยา',
 nan,
 nan,
 'คณะแพทย์ศาสตร์ จุฬาลงกรณ์หาวิทยาลัย',
 'คณะเศรษฐศาสตร์ มหาวิทยาลัยแม่โจ้ เลขที่ 63 หมู่ที่ 4 ต.หนองหาร อ.สันทราย จ.เชียงใหม่ 50290',
 nan,
 'เลขที่ 55/9 ซอยศรีวิจารณ์ แขวงวงศ์สว่าง เขตบางซื่อ กรุงเทพฯ 10800',
 nan,
 'มหาวิทยาลัยรชภัฏอุตรดิตถ์ ถ.อินใจมี ต.ท่าอิฐ อ.เมือง จ.อุตรดิตถ์ 53000',
 'เลขที่ 11 ซอย สามัคคี 58/18 ต.ท่าทราย อ.เมืองนนทบุรี นนทบุรี 11000',
 'บัณฑิตวิทยาลัย มหาวิทยาลัยศรีนครินทรวิโรฒ',
 'เลขที่ 86 หมู่ 8 ต.บ้านยาง อ.คีรีรัฐนิคม จ.สุราษฎร์ธานี 84180',
 'สถาบันรับรองคุณภาพสถานพยาบาล (องค์การมหาชน) เลขที่ 88/39 กระทรวงสาธารณสุข  ซ. 6 อาคารสุขภาพแห่งชาติ ชั้น 5 ถ.ติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 'เลขที่ 98/143 ซ กุศลศิลป์ บางนา กทม 10260',
 'สถาบันวิจัยประชากรและสังคม มหาวิทยาลัยมหิดล ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 nan,
 'เลขที่ 222 ต.ท่าศาลา อ.ท่าศาลา จ.นครศรีธรรมราช 80160',
 'เลขที่ 9/650 หมู่ 8 ซอย 3  ถ.พุทธมณฑลสาย 4  ต.กระทุ่มล้ม  อ.สามพราน  จ.นครปฐม  73220',
 'เลขที่ 272 ถนนพระรามหก แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 'สถาบันสุขภาพจิตเด็กและวัยรุ่น',
 'สำนักงานเทศบาลตำบลนาตาล่วง อ.เมืองตรัง จ.ตรัง',
 'สถาบันการจัดการระบบสุขภาพ ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90110',
 'เลขที่ 11(3/1689) ซอยพหลโยธิน 48 แยก 2 ถนนพหลโยธิน แขวงอนุสาวรีย์ เขตบางเขน กรุงเทพฯ 10220',
 'เลขที่ 199/56 หมู่ 6 หมู่บ้านธรรมชาติ ซ.ไทรม้า ต.ไทรม้า อ.เมือง จ.นนทบุรี 11000',
 nan,
 'เลขที่ 72/11 ซอยงามวงศ์วาน 54 แยก 11 ถนนงามวงศ์วาน ลาดยาว จตุจักร กทม.10900',
 nan,
 nan,
 'คณะศิลปศาสตร์ มหาวิทยาลัยเทคโนโลยีราชมงคลรัตนโกสินทร์ เลขที่ 96 หมู่ที่ 3 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'คณะสาธารณสุขศาสตร์ มหาวิทยาลัยนเรศวร ต.ท่าโพธิ์ อ.เมือง จ.พิษณุโลก 65000',
 'ภาควิชาประเมินผลและวิจัยทางการศึกษา คณะศึกษาศาสตร์ มหาวิทยาลัยสงขลานครินทร์ วิทยาเขตปัตตานี ต.รูสะมิแล อ.เมืองปัตตานี จ.ปัตตานี 94000',
 nan,
 'วิทยาลัยวิทยาศาสตร์สาธารณสุข จุฬาลงกรณ์มหาวิทยาลัย',
 nan,
 nan,
 nan,
 nan,
 nan,
 'เลขที่ 17/219 หมู่ที่ 4 กรุงเทพฯ',
 nan,
 'อาคารสาธารณสุขศาสตร์ มหาวิทยาลัยราชภัฏอุตรดิตถ์ ลำรางทุ่งกะโล่ ต.ป่าเซ่า อ.เมือง จ. อุตรดิตถ์',
 nan,
 'เลขที่ 35/549 ศุภาลัยวิสต้า แยกติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี',
 'เลขที่ 352 ซ.ร่วมจิตร 2 ถ.นครไชยศรี เขตดุสิต กทม 10300',
 nan,
 'รพ.กาญจนดิษฐ์ เลขที่ 76 หมู่ 9 ตำบลพลายวาส อำเภอกาญจนดิษฐ์ จังหวัดสุราษฎร์ธานี 84160',
 'มูลนิธินโยบายสุขภาวะ เลขที่ 87/495 หมู่บ้านภัสสร รัตนาธิเบศร์  ถ บางกรวย-ไทรน้อย อ บางบัวทอง จ นนทบุรี 11000',
 'เลขที่ 20/2 ม.1 ต.แม่หล่าย อ.เมือง จ.แพร่ 54000',
 'วิทยาลัยการสาธารณสุขสิรินธรจังหวัดขอนแก่น อ.เมือง จ.ขอนแก่น',
 'คณะทันตปพทยศาสตร์ มหาลับเชียงใหม่',
 'กระทรวงสาธารณสุข ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยราชภัฎสกลนคร อ.เมือง จ.สกลนคร 47000',
 nan,
 'เลขที่ 69/10 หมู่ 10 ต.วัดจันทร์ อ.เมืองพิษณุโลก จ.พิษณุโลก 65000',
 'อาคารคลังพัสดุ กระทรวงสาธารณสุข ชั้น 3 เลขที่ 88/20 หมู่ที่ 4 ซอยสาธารณสุข 6 ถนนติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 'เลขที่ 1 ซอยรามอินทรา เลขที่ 46/1 แยก 1-4 ถนนรามอืนทรา แขวงรามอินทรา เขตคันนายาว กรุงเทพฯ 10230',
 'คณะสาธารณสุขศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 420/1 ถ.ราชวิถี เขตราชเทวี กทม 10400',
 'สถาบันวิจัยเพื่อพัฒนาสังคม เลขที่ 205  ถนนพุทธมณฑลสาย 2 แขวงบางแคเหนือ เขตบางแค กรุงเทพฯ 10160',
 'เลขที่ 165/10 ซ.สุขุมวิท 101/1 ถ.สุขุมวิท แขวงบางจาก เขตพระโขนง กทม. 10260',
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยราชภัฏวไลยอลงกรณ์ฯ อ.คลองหลวง จ.ปทุมธานี 13180',
 nan,
 'ภาควิชาสรีรวิทยา คณะเภสัชศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย เลขที่ 254 ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กทม. 10330',
 'อาคารพร้อมพันธุ์ 2 เลขที่ 407-408 ซอยลาดพร้าว 3 แขวงจอมพล เขตจตุจักร กรุงเทพฯ 10900',
 nan,
 'คณะเศรษฐศาสตร์ มหาวิทยาลัยเกษตรศาสตร์',
 'ภาควิชาสุขศึกษาและพฤติกรรมศาสตร์ คณะสาธารณสุขศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 420/1 ถนนราชวิถี แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 'เลขที่ 357 ม.1 ต.แม่ต้าน อ.ท่าสองยาง จ.ตาก ',
 nan,
 'เลขที่ 21 นิมมานเหมินท์ ซอย 17 ต.สุเทพ อ.เมือง เชียงใหม่ 50200',
 nan,
 'มหาวิทยาลัยศรีปทุม วิทยาอ.ชลบุรี เลขที่ 79 หมู่ที่ 1 ถนนบางนา-ตราด ต.คลองตำหรุ อ.เมือง จ.ชลบุรี 20000',
 'เลขที่ 885/559 รีเจ้นโฮมบางซ่อนเฟส 28 แขวงบางซื่อ เขตบางซื่อ กรุงเทพมหานคร 10800',
 nan,
 'คณะเศรษฐศาสตร์ จุฬาฯ เลขที่ 254 ถ.พญาไท แขวงวังใหม่ เขตปทุมวัน กรุงเทพมหานคร 10330',
 nan,
 'คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 999 ถนนพุทธมณฑลสาย 4 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'สถาบันวิจัยประชากรและสังคม มหาวิทยาลัยมหิดล',
 'เลขที่ 177 หมู่ 1 ต.บ้านทำเนียบ อ.คีรีรัฐนิคม จ.สุราษฎร์ธานี 84180',
 'เลขที่ 1873 ภาควิชาเวชศาสตร์ป้องกันและสังคม ชั้น 19 อาคารอปร. ถนนพระรามที่ 4 ปทุมวัน กทม.10330',
 'เลขที่ 47 ม.6 ต.แช่ช้าง อ.สันกำแพง จ.เชียงใหม่',
 'สำนักงานวิจัยและพัฒนาเพื่อการแปรงานวิจัยสุขภาพสู่การปฏิบัติ คณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย',
 nan,
 'เลขที่ 8 หมู่ 3 ต.ดอนทอง อ.เมือง จ.พิษณุโลก 65000',
 'เอแบคโพลล์ เลขที่ 592/3 ซอยรามคำแหง 24 แขวงหัวหมาก เขตบางกะปิ กรุงเทพฯ 10240',
 'คณะเศรษฐศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย ปทุมวัน กรุงเทพ 10330',
 'เลขที่ 933 หมู่ 3 ต.กำแพง อ.ละงู จ.สตูล 91110',
 'คณะมนุษยศาสตร์และสังคมศาสตร์ มหาวิทยาลัยราชภัฏลำปาง ตำบลชมพู อำเภอเมือง จังหวัดลำปาง 52100',
 'เลขที่ 231 หมู่ที่ 2 ตำบลท่าแพ อำเภอท่าแพ จังหวัดสตูล 91150',
 'คณะบริหารธุรกิจและการจัดการ ม.ราชภัฏอุบลราชธานี',
 nan,
 nan,
 nan,
 'เลขที่ 77/1 หมู่ 5 ต.สุเทพ อ.เมือง จ.เชียงใหม่',
 'เลขที่ 8/3 หมู่ 2 ต.โคกเคียน อ.เมืองนราธิวาส จ.นราธิวาส 96000',
 nan,
 'เลขที่ 109/14 หมู่ 5 ถ.แจ้งวัฒนะ ต.ปากเกร็ด อ.ปากเกร็ด จ.นนทบุรี 11120',
 'คณะสังคมสงเคราะห์ศาสตร์และสวัสดิการสังคม ม.หัวเฉียวเฉลิมพระเกียรติ อ.บางพลี จ.สมุทรปราการ',
 nan,
 nan,
 nan,
 'คณะสาธาสรณสุขศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 420/1 ถนนราชวิถี เขตราชเทวี กทม. 10400',
 'เลขที่ 842 ถนนวงศ์สว่าง บางซื่อ กทม 10800',
 'สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ กระทรวงสาธารณสุข  ถ.ติวานนท์ จ.นนทบุรี  ',
 'สถาบันการจัดการแบบองค์รวม 81/50 ถ สวนผัก ซอย 1 (ศิริวัฒน์) เขตตลิ่งชัน กทม 10170',
 'เลขที่ 140/33 ม2 ต กะลุวอเหนือ อ.เมือง จ.นราธิวาส 96000',
 nan,
 'เอส.เอ็ม เขตพญาไท กรุงเทพฯ 10400',
 nan,
 'เลขที่ 219 ม.9 ต.ป่าหุ่ง อ.พาน จ.เชียงราย 57120',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยศรีนครินทรวิโรฒ\n63 หมู่ 1 ต.องครักษ์ อ.องครักษ์ จ.นครนายก 26120',
 'เลขที่ 11/15 หมู่ 1 ถ.ริมคลองชลประทาน ต.ช้างเผือก อ.เมือง จ.เชียงใหม่ 50300',
 'เลขที่ 205 ถนนพุทธมณฑลสาย 2 แขวงบางแคเหนือ เขตบางแค กรุงเทพฯ 10160',
 'ต.หนองหาร อ.สันทราย จ.เชียงใหม่ 50290',
 'สาขาวิชานิเทศศาสตร์ คณะวิทยาการจัดการ มหาวิทยาลัยราชภัฏพระนคร เลขที่ 9 ถนนแจ้งวัฒนะ แขวงอนุสาวรีย์ เขตบางเขน กทม. 10220',
 nan,
 nan,
 'เลขที่ 999 หมู่ที่ 5 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 nan,
 'ภาควิชาเวชศาสตร์ชุมชน คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี มหาวิทยาลัยมหิดล เลขที่ 270 ถนนราชวิถี แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 nan,
 nan,
 nan,
 'สถาบันวิจัยสังคม มหาวิทยาลัยเชียงใหม่ 239 ถ.ห้วยแก้วต.สุเทพ อ.เมือง จ.เชียงใหม่ 50200',
 nan,
 'เลขที่ 13 หมู่ที่ 1 ต.บางกระบือ อ.เมือง จ.สิงห์บุรี 16000',
 'เลขที่ 83 หมู่ที่ 29 ต.บ้านผือ อ.จอมพระ จ.สุรินทร์ ',
 'เลขที่ 565 ซอยรามคำแหง 39 (เทพลีลา) แขวงพลับพลา เขตวังทองหลาง กรุงเทพฯ 10310',
 'เลขที่ 47/36 ม. 17 ต. บางพลีใหญ่ อ. บางพลี จ.สมุทรปราการ 10540',
 nan,
 nan,
 'เลขที่ 222 (ห้อง4115)  ซ.งามวงศ์วาน 22 (ซ.ไมตรี )  ถ.งามวงศ์วาน  แขวงบางเขน  เขตเมืองนนทบุรี   จ.นนทบุรี   11001  ',
 nan,
 nan,
 'เลขที่ 256 หมู่ 1 ต.เจ๊ะเห อ.ตากใบ จ.นราธิวาส 96110',
 'เลขที่ 164/18 อาคารลุมพินีเพลส พระรามสี่-สาทร ช่องนนทรี ยานนาวา กทม.',
 nan,
 nan,
 nan,
 'เลขที่ 191/4 หมู่ที่ 1 ซอยร่วมใจสามัคคี ถนนประวีณ ต.บางกระบือ อ.เมือง จ.สิงห์บุรี 16000',
 'เลขที่ 128/31 ม.12 ซ.อาจารย์ไพรินทร์ ต.สะเตงนอก อ.เมืองยะลา จ.ยะลา 95000',
 nan,
 'สถาบันพัฒนาสุขภาพอาเซียน มหาวิทยาลัยมหิดล',
 'คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 999 ถนนพระรามหก ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'เลขที่ 441 ถนนเจริญกรุง จรัญฯ 57 แขวงบางบำหรุ เขตบางพลัด กรุงเทพฯ 10700',
 nan,
 'เลขที่ 119/1 หมู่ 1 ต.บางรักใหญ่ อ.บางบัวทอง จ.นนทบุรี',
 'เลขที่ 684/4 ถนนพหลโยธิน ตำบลเวียง อำเภอเมืองพะเยา จังหวัดพะเยา 56000',
 nan,
 'เลขที่ 59/3 ถนนประเสริฐมนูกิจ แขวงเสนานิคม เขตจตุจัตร กทม. 10900',
 nan,
 'เลขที่ 10/193 ลุมพินีคอนโดทาวน์ ถ.รามอินทรา แขวงอนุสาวรีย์ เขตบางเขน กรุงเทพฯ',
 'เลขที่ 9/3 ซอยกิ่งชำนาญอักษร ถนนพหลโยธิน แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400',
 'โครงการประเมินเทคโนโลยีและนโยบายด้านสุขภาพ (HITAP) \nอาคาร 6 ชั้น 6 กรมอนามัย กระทรวงสาธารณสุข',
 nan,
 nan,
 'วิทยาลัยประชากรศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย เลขที่ 254 แขวงปทุมวัน เขตปทุมวัน กรุงเทพฯ 10330',
 'สายวิชาศิลปศาสตร์ คณะศิลปศาสตร์และวิทยาศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ วิทยาอ.กำแพงแสน  ถนนมาลัยแมน อ.กำแพงแสน จ.นครปฐม 73140',
 'ภาควิชาศึกษาศาสตร์ คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล',
 nan,
 nan,
 'เลขที่ 5 ซอยรามคำแหง 30 แขวงหัวหมาก เขตบางกะปิ กรุงเทพฯ 10240',
 'สำนักงานสาธารณสุขปัตตานี',
 'เลขที่ 54 ซอยบางแค ซอย 7 แยก 2 แขวงบางแค เขตบางแค  กรุงเทพฯ 10160',
 nan,
 'เลขที่ 196/9 ซ.ราชวิถี 4 ถ.ราชวิถี แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400',
 'เลขที่ 93/157 หมู่บ้านสินทรัพย์2 ตำบลบึงยี่โถ อำเภอธัญบุรี ปทุมธานี 12130',
 'คณะศิลปศาสตร์ เลขที่ 85 ต.เมืองศรีไค อ.วารินชำราบ จ.อุบลราชธานี 34190',
 nan,
 nan,
 'เลขที่ 68/1457 แขวงมีนบุรี เขตมีนบุรี กรุงเทพ 10510',
 nan,
 'คณะทันตแพทศาสตร์ มหาวิทยาลัยเชียงใหม่ ถ ห้วยแก้ว อ เมือง จ เชียงใหม่ 50200',
 nan,
 nan,
 nan,
 'เลขที่ 90/750 ซอย 5 หมู่บ้านปิยวรารมย์ 1 ถนนบางกรวย-ไทรน้อย ตำบลบางบัวทอง อำเภอบางบัวทอง จ.นนทบุรี',
 nan,
 'โรงพยาบาลลับแล เลขที่ 163 ม 11 ต.ชัยจุมพล อ.ลับแล จ.อุตรดิตถ์ 53130',
 'อาคาร 1 ศูนย์ทรัพยากรการเรียนรู้ มหาวิทยาลัยสงขลานครินทร์ ห้อง 10 เลขที่ 10 ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90110',
 nan,
 'เลขที่ 88/119 หมู่ที่ 3 ถนนอนันดา ต.คลองสาม อ.คลองหลวง จ.ปทุมธานี 12120',
 nan,
 'เลขที่ 131/2 แยก 42 ซอยพหลโยธิน52 ถนนพหลโยธิน แขวงคลองถนน เขตสายไหม กทม. 10220',
 nan,
 'คณะศึกษาศาสตร์ มหาวิทยาลัยศรีนครินทรวิโรฒ',
 'คณะศึกษาศาสตร์ มหาวิทยาลัยศรีนครินทรวิโรฒ',
 nan,
 nan,
 'ุเลขที่ 6 ซ.รามคำแหง 16 (แยก 2) หัวหมาก บางกะปิ กทม. 10240',
 nan,
 'มหาวิทยาลัยสวนดุสิต ศูนย์การศึกษานอกที่ตั้ง ตรัง เลขที่ 139 ถนนวิเศษกุล ต.ทับเที่ยง อ.เมืองตรัง จ.ตรัง 92000',
 'เลขที่ 205 ถนนพุทธมณฑลสาย 2 แขวงบางแคเหนือ เขตบางแค กรุงเทพฯ 10160',
 'คณะสังคมสงเคราะห์ศาสตร์และสวัสดิการสังคม',
 'สำนักวิจัย มหาวิทยาลัยธนบุรี',
 nan,
 'คณะสาธารณสุขศาสตร์  มหาวิทยาลัยมหิดล เลขที่ 420/1  ถ.ราชวิถี  เขตราชเทวี  กทม.10400',
 nan,
 nan,
 'เลขที่ 15 ถนนศรีเกิด ตำบลหัวเวียง อำเภอเมือง จังหวัดลำปาง 52000',
 'โครงการประเมินเทคโนโลยีและนโยบายด้านสุขภาพ อาคาร 6 ชั้น 6 กรมอนามัย กระทรวงสาธารณสุข อ.เมือง จ.นนทบุรี 11000',
 nan,
 nan,
 nan,
 'เลขที่ 136 หมู่ 4 ต.โคกสะบ้า อ.นาโยง จ.ตรัง 92170',
 'ศูนย์วิจัยและฝึกอบรมทางการศึกษา (อาคาร 6 ชั้น 16) มหาวิทยาลัยธุรกิจบัณฑิตย์ เลขที่ 110/1-4 ถ ประชาชื่น หลักสี่ กทม 10210',
 'อาคารวิศิษฐ์-ประจวบเหมาะ ห้อง 5 เลขที่ 254  ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยสงขลานครินทร์ ต.คอหงส์ อ.หาดใหญ่ จ.สงขลา 90110',
 nan,
 'คณะกายภาพบำบัด มหาวิทยาลัยมหิดล',
 'เลขที่ 88 หมู่ที่ 3 ต.ท่าสว่าง อ.เมือง จ.สุรินทร์ 32000',
 nan,
 nan,
 nan,
 nan,
 'สถาบันพระบรมราชชนก',
 'กองทันตสาธารณสุข กรมอนามัยชั้น 3 อาคาร 5 กระทรวงสาธารณสุข เลขที่ 88/20 ถนนติวานนท์ ต.ตลาดขวัญ อ.เมืองนนทบุรี จ.นนทบุรี 11000',
 'ภาควิชาสังคมและสุขภาพ คณะสังคมศาสตร์และมนุษยศาสตร์ มหาวิทยาลัยมหิดล ต. ศาลายา อ. นครชัยศรี จ. นครปฐม 73170',
 nan,
 nan,
 'เลขที่ 88 ซอย ติวานนท์ 3 ถนน ติวานนท์ นนทบุรี 11000',
 'สมาคมพยาบาล, เลขที่ 21/12 ซอยชวกุล ถนนรางน้ำ แขวงถนนพญาไท เขตราชเทวี กทม. 10400',
 'โรงพยาบาลจะแนะ ต.จะแนะ อ.จะแนะ จ.นราธิวาส 96220',
 nan,
 nan,
 'อาคาร3ชั้น 8 ภ.เวชศาสตร์ชุมชน คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี พระราม 6 ทุ่งพญาไท ราชเทวี กท 10400',
 nan,
 nan,
 'ภาควิชาสุขศึกษาและพฤติกรรมศาสตร์ คณะสาธารณสุขศาสตร์ ม. มหิดล เลขที่ 420/1 ถ. ราชวิถี เขตราชเทวี กทม. 10400',
 'เลขที่ 6/103 ซอยลาดพร้าว 25 ถนนลาดพร้าว แขวงจันทรเกษม เขตจตุจักร กทม. 10900',
 'ภาควิชาออร์โธปิดิกส์ คณะแพทยศาสตร์โรงพยาบาลรามาธิบดี เลขที่ 270 แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพมหานคร 10400',
 'คณะสาธารณสุขศาสตร์ มหาวิทยาลัยขอนแก่น เลขที่ 123 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมืองขอนแก่น ขอนแก่น 40000',
 nan,
 'โครงการป่าสาละ เลขที่ 2 ถนนสุขุมวิท แขวงคลองตันเหนือ เขตวัฒนา จ.กรุงเทพมหานคร 10110',
 'มหาวิทยาลัยบูรพา เลขที่ 169 ถ.ลงหาดบางแสน ต.แสนสุข อ.เมือง จ.ชลบุรี 20130',
 'ศูนย์สหวิทยาการชุมชนศึกษา สถาบันวิจัยและพัฒนา  มหาวิทยาลัยสุโขทัยธรรมาธิราช',
 'เลขที่ 46/152  ม.4  คลอง 3  คลองหลวง  จ.ปทุมธานี   12120',
 nan,
 'เลขที่ 77/18 ม.ชลลดา ซ.สายไหม 34 แขวงสายไหม เขต สายไหม กทม 10220',
 'เลขที่ 16 ซอยติวานนท์22แยก6 ตำบลบางกระสอ อำเภอเมือง จังหวัดนนทบุรี 11000',
 'เลขที่ 3/814 ถนนเทศบาลนิมิตเหนือ แขวงลาดยาว เขตจตุจักร กรุงเทพฯ 10900',
 'ชั้น 3 อาคารพัสดุ (ด้านทิศเหนือสวนสุขภาพ) กระทรวงสาธารณสุข อ. เมือง จ. นนทบุรี 11000',
 'คณะสาธารณสุขศาสตร์ ม.มหิดล เลขที่ 420/1 ถ.ราชวิถี เขตราชเทวี กรุงเทพ 10400',
 'เลขที่ 40 ม.8 ต.กังแอน อ.ปราสาท จ.สุรินทร์',
 'เลขที่ 30/356 ถนนงามวงศ์วาน ต. บางเขน อ. เมืองนนทบุรี จังหวัดนนทบุรี',
 'วิทยาลัยวิทยาศาสตร์สาธารณสุข จุฬาลงกรณ์มหาวิทยาลัย อาคารสถาบัน 2 ชั้น 4 แขวงวังใหม่ เขตปทุมวัน กทม 10330',
 'คณะเภสัชศาสตร์ มหาวิทยาลัยมหิดล',
 'เลขที่ 220/12 ซอยศาสนา 5 ถนนพระราม 6-28 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400',
 'เลขที่ 56 ซอยอุตุนิยมวิทยา ต.ทะเลชุบศร อ.เมืองลพบุรี จ.ลพบุรี',
 nan,
 'เลขที่ 9/2 ถ.เรืองเดช ต.ในเมือง อ.เมือง จ.สุรินทร์',
 'เลขที่ 111/314  ม.11  ต.ตลาดขวัญ  อ.เมือง  จ.นนทบุรี  11000',
 'เลขที่ 113/35 หมู่ที่ 12 ต.ท่าศาลา อ.ท่าศาลา จ.นครศรีธรรมราช 80160',
 nan,
 nan,
 'หมู่บ้านบดินทร์รักษา เลขที่ 989 ซอยลาดพร้าว 94 แขวงหัวหมาก เขตบางกะปิ กรุงเทพฯ 10240',
 'เลขที่ 17/1 ราษฎร์ประสงค์ ต.ในเวียง อ.เมืองน่าน จ.น่าน 55000',
 'เลขที่ 416/31 หมู่บ้านอิงกมล ตำบลทุ่งใหญ่ อำเภอหาดใหญ่ จังหวัดสงขลา 90110',
 'มูลนิธิสถาบันวิจัยเพื่อการพัฒนาประเทศไทย(TDRI) เลขที่ 565 ถ.รามคำแหง แขวงวังทองหลาง  เขตวังทองหลาง กทม 10310',
 'โครงการประเมินเทคโนโลยีและนโยบายด้านสุขภาพ กระทรวงสาธารณสุข ถนนติวานนท์ ต.ตลาดขวัญ อ.เมือง จ.นนทบุรี 11000',
 nan,
 'ม.ฟาฏอนี',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 2 ถนนพรานนก เขตบางกอกน้อย กรุงเทพฯ 10700',
 'เลขที่ 88/413 ซอย25 หมู่บ้านปาริชาติ ถนนพุทธมณฑล สาย 4 ต.บางกระทึก อ.สามพราน จ.นครปฐม 73210',
 'ถนนพญาไท แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330',
 'คณะพยาบาลศาสตร์ มหาวิทยาลัยมหิดล เลขที่ 2 แขวงศิริราช เขตบางกอกน้อย กรุงเทพฯ 10700',
 nan,
 'สถาบันทรัพยากรทะเลและชายฝั่ง  มหาวิทยาลัยสงขลานครินทร์  อ.หาดใหญ่ จ.สงขลา  90110  ',
 'เลขที่ 254 ซ. ลาดพร้าว 101 ซอย 48 เขตคลองจั่น บางกะปิ กรุงเทพฯ 10240',
 'แพทยสมาคมแห่งประเทศไทยในพระบรมราชูปถัมภ์ อาคารเฉลิมพระบารมี 50 ปี ชั้น 4 เลขที่ 2 ถนนเพชรบุรีตัดใหม่ แขวงบางกะปิ เขตห้วยขวาง กรุงเทพฯ 10310',
 'เลขที่ 199/14 หมู่บ้านธรรมชาติ ม.6 ต.ไทรม้า อ.เมือง จ.นนทบุรี 11000',
 nan,
 'สถาบันวิจัยประชากรและสังคม เลขที่ 999 ถนนพุทธมณฑลสาย 4 ต.ศาลายา อ.พุทธมณฑล จ.นครปฐม 73170',
 'เทศบาลตำบลเมืองแก อ.ท่าตูม จ.สุรินทร์ ',
 'คณะสังคมสงเคราะห์ศาสตร์ มหาวิทยาลัยธรรมศาสตร์ เลขที่ 2 ถนนพระจันทร์ แขวงพระบรมมหาราชวัง เขตพระนคร กรุงเทพฯ 10200',
 nan,
 nan,
 'คณะรัฐศาสตร์ มหาวิทยาลัยรามคำแหง',
 'บลอค 77 เลขที่ 291/66  แขวงพระโขนงเหนือ เขตวัฒนา กรุงเทพฯ 10110',
 nan,
 'เลขที่ 75 หมู่ 6 ตำบลหนองช้างคืน อำเภอเมือง จังหวังลำพูน',
 nan,
 'วิทยาลัยพยาบาลบรมราชชนนีนครศรีธรรมราช  ถนนพัฒนาการคูขวาง ต.ในเมือง อ.เมือง จ.นครศรีธรรมราช 80000',
 'เลขที่ 90/675 คอนโดไอดิโอโมบิพระรามเก้า ถนนพระรามเก้า กรุงเทพ 10310',
 'เลขที่ 125/89หมู่5ซอยลุ่มพัฒนา1\nถนนบางกรวย-ไทรน้อย\nต.บางกรวย อ.บางกรวย\nจ.นนทบุรี 11130',
 'ภาควิชาเวชศาสตร์ชุมชน คณะแพทยศาสตร์ รพ.รามาธิบดี',
 'สำนักวิจัยนโยบายสร้างเสริมสุขภาพ สำนักงานพัฒนานโยบายสุขภาพระหว่างประเทศ',
 'อาคารสวัสดิ์ แดงสว่าง คณะสาธารณสุขศาสตร์ มหาวิทยาลัยมหิดล ห้อง 7308 ชั้น 3 เลขที่ 420/1 ถนนราชวิถี แขวงทุ่งพญาไท เขตราชเทวี กรุงเทพฯ 10400',
 'เลขที่ 324/9 หมู่ที่ 3 หมู่บ้านศิริพร ต.ศิลา อ.เมืองขอนแก่น จ.ขอนแก่น 40000',
 'ศูนย์เฝ้าระวังทางวัฒนธรรม กระทรวงวัฒนธรรม เลขที่ 666 ถนนบรมราชชนนี เขตบางพลัด กรุงเทพฯ 10700',
 'คณะสังคมศาสตร์และมนุษยศาสตร์   มหาวิทยาลัยมหิดล  ถ.พุทธมณฑลสาย 4   ต.ศาลายา อ.พุทธมณฑล  จ.นครปฐม  73170 ',

In [1551]:
from dotenv import load_dotenv
from pathlib import Path
import os

f = open('.env', 'w')
f.write('Map_Geo_Coding_API_KEY=AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q')
f.close()
dotenv_path = Path('.env')
load_dotenv(dotenv_path=dotenv_path)

True

In [1552]:
DOTENV_FILE = '.env'
env_config = Config(RepositoryEnv(DOTENV_FILE))
AUTH_KEY=env_config.get('Map_Geo_Coding_API_KEY')
AUTH_KEY

'AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q'

In [1553]:
# https://developers.google.com/maps/documentation/geocoding/intro
base_url= "https://maps.googleapis.com/maps/api/geocode/json?"

In [1554]:
def reversegeo(address):
    parameters = {"address": address, "key": AUTH_KEY}
    
    try:
        global r
        r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
    except requests.exceptions.HTTPError as errh:
        print ("Http Error:",errh)
    except requests.exceptions.ConnectionError as errc:
        print ("Error Connecting:",errc)
    except requests.exceptions.Timeout as errt:
        print ("Timeout Error:",errt)
    except requests.exceptions.RequestException as err:
        print ("OOps: Something Else",err)
    
    data = json.loads(r.content)
#     return data.get("results")

    return [data.get("results")[0].get("geometry").get("location").get("lat") ,data.get("results")[0].get("geometry").get("location").get("lng")] if len(data.get("results")) != 0 else []

In [1555]:
def reversegeo_address(address):
    parameters = {"address": address, "key": AUTH_KEY}
    
    try:
        global r
        r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
    except requests.exceptions.HTTPError as errh:
        print ("Http Error:",errh)
    except requests.exceptions.ConnectionError as errc:
        print ("Error Connecting:",errc)
    except requests.exceptions.Timeout as errt:
        print ("Timeout Error:",errt)
    except requests.exceptions.RequestException as err:
        print ("OOps: Something Else",err)
    
    data = json.loads(r.content)
#     return data.get("results")

    try :
        test = data.get("results")[1].get("address_components")
    except :
        if len(data.get("results")) != 0: 
            test = data.get("results")[0].get("address_components")
        else : test = []

    location_number = ''
    location_road = ''
    location_subdistrict = ''
    location_district = ''
    location_province = ''
    location_zipcode = ''

    for addres in test:
        if len(addres['types']) == 0:
            break

        elif addres['types'][-1] == 'street_number':
            location_road = addres['long_name']

        elif addres['types'][-1] == "subpremise":
            location_number = addres['long_name']

        elif addres['types'][-1] == "sublocality_level_2":
            location_subdistrict = addres['long_name']

        elif addres['types'][-1] == "sublocality_level_1":
            location_district = addres['long_name']

        elif addres['types'][-1] == "political":
            if addres['types'][-2] == "administrative_area_level_1":
                location_province = addres['long_name']

        elif addres['types'][-1] == "postal_code":
            location_zipcode = addres['long_name']


    return [location_number, location_road, location_subdistrict, location_district, location_province, location_zipcode]

In [1556]:
# set up your search parameters - address and API key
parameters = {"address": "เลขที่ 2044/23 ซอยเพชรบุรีตัดใหม่ แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10310", "key": AUTH_KEY}

In [1557]:
#urllib.parse.urlencode turns parameters into url
print(f"{base_url}{urllib.parse.urlencode(parameters)}")

https://maps.googleapis.com/maps/api/geocode/json?address=%E0%B9%80%E0%B8%A5%E0%B8%82%E0%B8%97%E0%B8%B5%E0%B9%88+2044%2F23+%E0%B8%8B%E0%B8%AD%E0%B8%A2%E0%B9%80%E0%B8%9E%E0%B8%8A%E0%B8%A3%E0%B8%9A%E0%B8%B8%E0%B8%A3%E0%B8%B5%E0%B8%95%E0%B8%B1%E0%B8%94%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88+%E0%B9%81%E0%B8%82%E0%B8%A7%E0%B8%87%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%82%E0%B8%A7%E0%B8%B2%E0%B8%87+%E0%B9%80%E0%B8%82%E0%B8%95%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%82%E0%B8%A7%E0%B8%B2%E0%B8%87+%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%AF+10310&key=AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q

In [1558]:
r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
data = json.loads(r.content)
data
len(data.get("results"))
data.get("results")[0].get("geometry").get("location").get("lat")
data.get("results")[0].get("geometry").get("location").get("lng")

100.5774363

In [1559]:
try :
  test = data.get("results")[1].get("address_components")
except :
  test = data.get("results")[0].get("address_components")
location_number = ''
location_road = ''
location_subdistrict = ''
location_district = ''
location_province = ''
location_zipcode = ''

for addres in test:
  if addres['types'][-1] == 'street_number':
      location_road = addres['long_name']
      print(location_road)

  elif addres['types'][-1] == "subpremise":
      location_number = addres['long_name']
      print(location_number)

  elif addres['types'][-1] == "sublocality_level_2":
      location_subdistrict = addres['long_name']
      print(location_subdistrict)

  elif addres['types'][-1] == "sublocality_level_1":
      location_district = addres['long_name']
      print(location_district)

  elif addres['types'][-1] == "political":
      if addres['types'][-2] == "administrative_area_level_1":
        location_province = addres['long_name']
        print(location_province)

  elif addres['types'][-1] == "postal_code":
      location_zipcode = addres['long_name']
      print(location_zipcode)
  #print([x for x in addres['long_name'] if addres['types'][-1] == 'postal_code'])

2044
23
Khwaeng Bang Kapi
Khet Huai Khwang
Krung Thep Maha Nakhon
10310

Extract thai address

In [1560]:
import json

f = open('subdistrict.json')
data = json.load(f)
f.close()

In [1561]:
subdis = []
for s in data:
    sp = str(list(s.values())).split(', ')
    sp[0] = sp[0][2:]
    sp[3] = sp[3][:-2]
    subdis.append(sp)

subdis_df = pd.DataFrame(subdis, columns=["ตำบล","อำเภอ","จังหวัด","รหัสไปรษณีย์"])
subdis_df.head()

             ตำบล                 อำเภอ        จังหวัด รหัสไปรษณีย์
0      คลองมหานาค  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
1        บ้านบาตร  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
2        ป้อมปราบ  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
3  วัดเทพศิรินทร์  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
4       วัดโสมนัส  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100

In [1562]:
def isNaN(num):
    return num != num

def findAddress(add, key_df):
    #declare variable
    no = ''
    soi = ''
    road = ''
    subdistrict = ''
    district = ''
    province = ''
    zipcode = ''

    #split address
    if isNaN(add):
        return [no, soi, road, subdistrict, district, province, zipcode]
    address = add.split(' ')
    address = [a.lstrip() for a in address]

    for i in range(len(address)):
        if address[i] == 'เลขที่':
            no = address[i+1]

        if 'ซอย' in address[i][:3]:
            soi = address[i][3:]
        if 'ซ.' in address[i][:2]:
            soi = address[i][2:]

        if 'ถนน' in address[i][:3]:
            road = address[i][3:]
        if 'ถ.' in address[i]:
            road = address[i][2:]
        
        if 'แขวง' in address[i][:4]:
            subdistrict = address[i][4:]
        if 'ตำบล' in address[i][:4]:
            subdistrict = address[i][4:]
        if 'ต.' in address[i][:2]:
            subdistrict = address[i][2:]

    if subdistrict == '':
        if len(address[-1]) == 5:
            zipcode = address[-1]
            key = key_df[key_df['รหัสไปรษณีย์'] == zipcode].values.tolist()[0]
            district = key[1]
            province = key[2]
            if province == 'กรุงเทพมหานคร':
                subdistrict = ''
    else:
        if len(address[-1]) == 5:
            zipcode = address[-1]
            key = key_df.loc[(key_df['ตำบล'] == subdistrict) & (key_df['รหัสไปรษณีย์'] == zipcode)]
            province = key['จังหวัด'].values[0]
            district = key['อำเภอ'].values[0]

    return [no, road, subdistrict, district, province, zipcode]


sample = 'สมาคมสร้างสรรค์และพัฒนานวัตกรรมเพื่อการพัฒนาประเทศไทย​ เลขที่ 69/4 ต.กำโลน อ.​ลานสกา​ จ.นครศรีธรรมราช​ 80230'

print(findAddress(sample, subdis_df))

['69/4', '', 'กำโลน', 'อำเภอลานสกา', 'นครศรีธรรมราช', '80230']

In [1563]:
test = member_df[['ID','ที่อยู่']].values.tolist()
locat = []
for item in test:
    locat.append([item[0], findAddress(item[1], subdis_df)])

locat_df = pd.DataFrame(locat, columns=['ID','ที่อยู่'])
loc = pd.DataFrame(locat_df['ที่อยู่'].tolist(), columns=['เลขที่',"ถนน","ตำบล","อำเภอ","จังหวัด","รหัสไปรษณีย์", 'U'])
locat_df = pd.concat([locat_df['ID'], loc], axis=1)
locat_df.drop('U', axis=1, inplace=True)
locat_df.head()

,ID,เลขที่,ถนน,ตำบล,อำเภอ,จังหวัด,รหัสไปรษณีย์
0,USER1000,,,,,,
1,USER1001,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000
2,USER1002,,,,อำเภอเมืองพะเยา,พะเยา,56000
3,USER1003,,,,,,
4,USER1004,,,,,,

Get LAT LONG

In [1564]:
member_df['พิกัดที่อยู่'] = member_df['ที่อยู่'].apply(reversegeo)

In [1565]:
latlng = member_df['พิกัดที่อยู่'].values.tolist()
latlng = pd.DataFrame(latlng, columns=['latitude','longtitude'])
locat_df = pd.concat([locat_df, latlng], axis=1)
locat_df.head()

,ID,เลขที่,ถนน,ตำบล,อำเภอ,จังหวัด,รหัสไปรษณีย์,latitude,longtitude
0,USER1000,,,,,,,NaN,NaN
1,USER1001,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000,13.880611,100.454377
2,USER1002,,,,อำเภอเมืองพะเยา,พะเยา,56000,16.747911,100.191934
3,USER1003,,,,,,,13.737285,100.528447
4,USER1004,,,,,,,13.766235,100.534207

## **Perform table**

### **Create unique table**
ใส่ไอดีให้แต่ละตาราง

In [1566]:
member_df.columns

Index(['ID', 'คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'gender', 'นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา ระดับการศึกษา',
       'ด้านการศึกษา สาขาที่จบ (สูงสุด)',
       'ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)', 'หน่วยงานที่สังกัด',
       'ความสนใจด้านการประเมินผล', 'การทำงานด้านการประเมินผล',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study',
       'พิกัดที่อยู่'],
      dtype='object')

### **Create empty table**
สร้างตาราง จากชื่อคอลัมน์ใน Google sheet

In [1567]:
gs.__version__

'5.7.2'

In [1568]:
gc = gs.service_account('API_KEY.json')

In [1569]:
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1xB2OBVl8WwclaYsp67b0-FrKauyxHRxGtTNcsfJ3m_k/edit?usp=sharing')
ws = sh.worksheet('tb_user')

In [1570]:
tb_col_name = ['tb_user', 'tb_evaluation', 'tb_contact', 'tb_approach', 
              'tb_experience', 'tb_framework','tb_location','tb_skill',
              'tb_evaluation_expertise','tb_evaluation_target','tb_evaluation_area']

def sheet(tb, sh):
  ws = sh.worksheet(tb)
  col = pd.DataFrame(ws.get_all_records())
  
  return [x for x in col['column_name_eng']]

sheet(tb_col_name[1], sh)

['evaluation_id',
 'evaluation_interests',
 'evaluation_work',
 'evaluation_understanding',
 'evaluation_project',
 'evaluation_position',
 'evaluation_createby',
 'evaluation_createdt',
 'evaluation_updateby',
 'evaluation_updatedt',
 'user_id']

In [1571]:
tb_user = pd.DataFrame(columns=sheet(tb_col_name[0], sh)).reset_index(drop=True)
tb_evaluation = pd.DataFrame(columns=sheet(tb_col_name[1], sh)).reset_index(drop=True)
tb_contact = pd.DataFrame(columns=sheet(tb_col_name[2], sh)).reset_index(drop=True)
tb_approach = pd.DataFrame(columns=sheet(tb_col_name[3], sh)).reset_index(drop=True)
tb_experience = pd.DataFrame(columns=sheet(tb_col_name[4], sh)).reset_index(drop=True)
tb_framework = pd.DataFrame(columns=sheet(tb_col_name[5], sh)).reset_index(drop=True)
tb_location = pd.DataFrame(columns=sheet(tb_col_name[6], sh)).reset_index(drop=True)
tb_skill = pd.DataFrame(columns=sheet(tb_col_name[7], sh)).reset_index(drop=True)
tb_evaluation_expertise = pd.DataFrame(columns=sheet(tb_col_name[8], sh)).reset_index(drop=True)
tb_evaluation_target = pd.DataFrame(columns=sheet(tb_col_name[9], sh)).reset_index(drop=True)
tb_evaluation_area = pd.DataFrame(columns=sheet(tb_col_name[10], sh)).reset_index(drop=True)

##### check

In [1572]:
ws = sh.worksheet(tb_col_name[0])
cols = pd.DataFrame(ws.get_all_records())

In [1573]:
for col in cols['column_name_th']:
  #print(col)
  if col in member_df.columns:
    inDex = cols.index[cols['column_name_th'] == col].tolist()[0]
    tb_user[cols['column_name_eng'][inDex]] = member_df[col]
    #print(cols.index[cols['column_name_th'] == col].tolist()[0])
tb_user

,user_id,user_image,user_username,user_prefix,user_title,user_fname,user_lname,user_gender,user_password,user_dt,...,user_affiliated,user_status,user_createby,user_createdt,user_updateby,user_updatedt,user_skill_quality,user_skill_descriptive,user_skill_analytical,user_skill_experimental
0,USER1000,NaN,NaN,นาง,NaN,กนกพร,ตันวัฒนะ,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USER1001,NaN,NaN,น.ส.,NaN,กนกภรณ์,ชูเชิด,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USER1002,NaN,NaN,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USER1003,NaN,NaN,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USER1004,NaN,NaN,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มาก,มากที่สุด,มากที่สุด,มากที่สุด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,USER1616,NaN,NaN,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มากที่สุด,มาก,มาก,มาก
617,USER1617,NaN,NaN,คุณ,NaN,อุษา,อติโภคบูรณ์,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,USER1618,NaN,NaN,NaN,ผศ.ดร.,อุษา,อ้นทอง,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,USER1619,NaN,NaN,น.ส.,ดร.,อุษารดี,ภู่มาลี,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มาก,มากที่สุด,มากที่สุด,มาก
620,USER1620,NaN,NaN,น.ส.,NaN,อุสมะห์,ลาเฮศักดิ์สิทธิ์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Fill data

In [1574]:
def fill_data(tb_dict, tb, df_1):
  ws = sh.worksheet(tb_dict)
  cols = pd.DataFrame(ws.get_all_records())
  for col in cols['column_name_th']:
    if col in df_1.columns:
      inDex = cols.index[cols['column_name_th'] == col].tolist()[0]
      tb[cols['column_name_eng'][inDex]] = df_1[col]
  return tb

In [1575]:
area_df.columns

Index(['ID', 'ความเชี่ยวชาญ พื้นที่ดำเนินการ'], dtype='object')

In [1576]:
tb_col_name

['tb_user',
 'tb_evaluation',
 'tb_contact',
 'tb_approach',
 'tb_experience',
 'tb_framework',
 'tb_location',
 'tb_skill',
 'tb_evaluation_expertise',
 'tb_evaluation_target',
 'tb_evaluation_area']

In [1577]:
tb_user = fill_data(tb_col_name[0], tb_user, member_df)

tb_evaluation[['evaluation_interests','evaluation_work','user_id']] = member_df[['ความสนใจด้านการประเมินผล','การทำงานด้านการประเมินผล','ID']]
assign_id_tb(tb_evaluation, prefix[1])
tb_evaluation.drop(columns=['evaluation_understanding', 'evaluation_project'])

tb_contact = fill_data(tb_col_name[2], tb_contact, contact_df)
assign_id_tb(tb_contact, prefix[2])

tb_approach['approaches_name'] = pd.DataFrame(set(evaAppo_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล']), columns=[tb_approach.columns[1]])
assign_id_tb(tb_approach, prefix[3])

tb_experience = fill_data(tb_col_name[4], tb_experience, level_df)
assign_id_tb(tb_experience, prefix[4])
tb_experience.drop(columns=['experience_level', 'experience_detail'])

tb_framework['framework_name'] = pd.DataFrame(set(evaFrame_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล']), columns=[tb_framework.columns[1]])
assign_id_tb(tb_framework, prefix[5])

tb_location = fill_data(tb_col_name[6], tb_location, locat_df)
assign_id_tb(tb_location, prefix[6])
tb_location.drop(columns=['location_detail'])

tb_skill['skill_name'] = pd.DataFrame(set(skill_df['ความเชี่ยวชาญ ทักษะ skill and competency']), columns=[tb_skill.columns[1]])
assign_id_tb(tb_skill, prefix[7])

tb_evaluation_expertise['evaluation_target'] = pd.DataFrame(set(issue_df['ความเชี่ยวชาญ ด้านประเด็น']), columns=[tb_evaluation_expertise.columns[1]])
assign_id_tb(tb_evaluation_expertise, prefix[8])

tb_evaluation_target['evaluation_target'] = pd.DataFrame(set(target_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย']), columns=[tb_evaluation_target.columns[1]])
assign_id_tb(tb_evaluation_target, prefix[9])

tb_evaluation_area['evaluation_area'] = pd.DataFrame(set(area_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ']), columns=[tb_evaluation_area.columns[1]])
assign_id_tb(tb_evaluation_area, prefix[10])

,evaluation_area_id,evaluation_area,evaluation_area_createby,evaluation_area_createdt,evaluation_area_updateby,evaluation_area_updatedt,evaluation_id
0,EVLAR1000,รพสต.,NaN,NaN,NaN,NaN,NaN
1,EVLAR1001,สถานประกอบการ,NaN,NaN,NaN,NaN,NaN
2,EVLAR1002,ศูนย์สุขภาพชุมชน,NaN,NaN,NaN,NaN,NaN
3,EVLAR1003,สถานศึกษาอื่นๆ,NaN,NaN,NaN,NaN,NaN
4,EVLAR1004,มหาวิทยาลัย,NaN,NaN,NaN,NaN,NaN
5,EVLAR1005,โรงงาน,NaN,NaN,NaN,NaN,NaN
6,EVLAR1006,องค์กร,NaN,NaN,NaN,NaN,NaN
7,EVLAR1007,โรงพยาบาล,NaN,NaN,NaN,NaN,NaN
8,EVLAR1008,โรงเรียน,NaN,NaN,NaN,NaN,NaN
9,EVLAR1009,ระดับนโยบาย,NaN,NaN,NaN,NaN,NaN
10,EVLAR1010,อปท.,NaN,NaN,NaN,NaN,NaN
11,EVLAR1011,หน่วยงานรัฐอื่นๆ,NaN,NaN,NaN,NaN,NaN
12,EVLAR1012,ชุมชน,NaN,NaN,NaN,NaN,NaN
13,EVLAR1013,บริษัทเอกชน,NaN,NaN,NaN,NaN,NaN
14,EVLAR1014,สถานพยาบาลอื่นๆ,NaN,NaN,NaN,NaN,NaN
15,EVLAR1015,ศูนย์เรียนรู้ฯ,NaN,NaN,NaN,NaN,NaN
16,EVLAR1016,ศูนย์เด็กเล็ก,NaN,NaN,NaN,NaN,NaN
17,EVLAR1017,สถานีอนามัย,NaN,NaN,NaN,NaN,NaN
18,EVLAR1018,อาชีวะ,NaN,NaN,NaN,NaN,NaN

In [1578]:
tb_user

,user_id,user_image,user_username,user_prefix,user_title,user_fname,user_lname,user_gender,user_password,user_dt,...,user_affiliated,user_status,user_createby,user_createdt,user_updateby,user_updatedt,user_skill_quality,user_skill_descriptive,user_skill_analytical,user_skill_experimental
0,USER1000,NaN,NaN,นาง,NaN,กนกพร,ตันวัฒนะ,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USER1001,NaN,NaN,น.ส.,NaN,กนกภรณ์,ชูเชิด,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USER1002,NaN,NaN,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USER1003,NaN,NaN,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USER1004,NaN,NaN,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มาก,มากที่สุด,มากที่สุด,มากที่สุด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,USER1616,NaN,NaN,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มากที่สุด,มาก,มาก,มาก
617,USER1617,NaN,NaN,คุณ,NaN,อุษา,อติโภคบูรณ์,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,USER1618,NaN,NaN,NaN,ผศ.ดร.,อุษา,อ้นทอง,ไม่ระบุ,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,USER1619,NaN,NaN,น.ส.,ดร.,อุษารดี,ภู่มาลี,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,มาก,มากที่สุด,มากที่สุด,มาก
620,USER1620,NaN,NaN,น.ส.,NaN,อุสมะห์,ลาเฮศักดิ์สิทธิ์,หญิง,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1579]:
tb_location['location_latitude'] = locat_df['latitude']
tb_location['location_longtitude'] = locat_df['longtitude']
tb_location

,location_id,location_detail,location_number,location_road,location_subdistrict,location_district,location_province,location_zipcode,location_latitude,location_longtitude,location_createby,location_createdt,location_updateby,location_updatedt,user_id
0,LOCT1000,NaN,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,LOCT1001,NaN,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000,13.880611,100.454377,NaN,NaN,NaN,NaN,NaN
2,LOCT1002,NaN,,,,อำเภอเมืองพะเยา,พะเยา,56000,16.747911,100.191934,NaN,NaN,NaN,NaN,NaN
3,LOCT1003,NaN,,,,,,,13.737285,100.528447,NaN,NaN,NaN,NaN,NaN
4,LOCT1004,NaN,,,,,,,13.766235,100.534207,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,LOCT1616,NaN,5/231,สามัคคี,บางตลาด,อำเภอปากเกร็ด,นนทบุรี,11120,13.881477,100.544001,NaN,NaN,NaN,NaN,NaN
617,LOCT1617,NaN,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,LOCT1618,NaN,140,กาญจนวานิช,เขารูปช้าง,อำเภอเมืองสงขลา,สงขลา,90000,7.162949,100.609099,NaN,NaN,NaN,NaN,NaN
619,LOCT1619,NaN,50,งามวงศ์วาน,ลาดยาว,,,,13.845684,100.574300,NaN,NaN,NaN,NaN,NaN
620,LOCT1620,NaN,8,,ลาดยาว,เขตจตุจักร,กรุงเทพมหานคร,10900,13.799199,100.561488,NaN,NaN,NaN,NaN,NaN

## **Export Data**

In [1]:
from sqlalchemy import create_engine

#Set parameters
user = 'root'
password = 'password'
host = 'localhost'
port = '3306'
dbname = 'test_db'

con = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}', encoding='utf-8')

In [1581]:
tables = [tb_user, tb_evaluation, tb_contact, tb_approach, tb_experience, tb_framework, 
    tb_location, tb_skill, tb_evaluation_expertise, tb_evaluation_target, tb_evaluation_area]

In [1586]:
col = 0
for tb in tables:
    tb.to_sql(tb_col_name[col], con, if_exists='replace', index=False)
    col += 1

In [1587]:
con.table_names()

/var/folders/jf/lsmfc7bs28lcf730tztyl6vw0000gn/T/ipykernel_31269/4035007467.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  con.table_names()

['tb_approach',
 'tb_contact',
 'tb_evaluation',
 'tb_evaluation_area',
 'tb_evaluation_expertise',
 'tb_evaluation_target',
 'tb_experience',
 'tb_framework',
 'tb_location',
 'tb_skill',
 'tb_user']

In [1588]:
pd.read_sql('SELECT * FROM tb_location', con)

,location_id,location_detail,location_number,location_road,location_subdistrict,location_district,location_province,location_zipcode,location_latitude,location_longtitude,location_createby,location_createdt,location_updateby,location_updatedt,user_id
0,LOCT1000,None,,,,,,,NaN,NaN,None,None,None,None,None
1,LOCT1001,None,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000,13.880611,100.454377,None,None,None,None,None
2,LOCT1002,None,,,,อำเภอเมืองพะเยา,พะเยา,56000,16.747911,100.191934,None,None,None,None,None
3,LOCT1003,None,,,,,,,13.737285,100.528447,None,None,None,None,None
4,LOCT1004,None,,,,,,,13.766235,100.534207,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,LOCT1616,None,5/231,สามัคคี,บางตลาด,อำเภอปากเกร็ด,นนทบุรี,11120,13.881477,100.544001,None,None,None,None,None
617,LOCT1617,None,,,,,,,NaN,NaN,None,None,None,None,None
618,LOCT1618,None,140,กาญจนวานิช,เขารูปช้าง,อำเภอเมืองสงขลา,สงขลา,90000,7.162949,100.609099,None,None,None,None,None
619,LOCT1619,None,50,งามวงศ์วาน,ลาดยาว,,,,13.845684,100.574300,None,None,None,None,None
620,LOCT1620,None,8,,ลาดยาว,เขตจตุจักร,กรุงเทพมหานคร,10900,13.799199,100.561488,None,None,None,None,None

In [1585]:
"""
filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_user.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_user.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_evaluation.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_contact.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_contact.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_approach.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_approach.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_experience.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_experience.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_framework.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_framework.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_skill.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_skill.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_location.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_location.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation_expertise.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_evaluation_expertise.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation_target.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_evaluation_target.to_csv(filepath)

filepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation_area.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True) 
tb_evaluation_area.to_csv(filepath)
"""

"\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_user.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_user.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_evaluation.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_contact.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_contact.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_approach.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_approach.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_experience.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_experience.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_framework.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_framework.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_skill.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_skill.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_location.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_location.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation_expertise.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_evaluation_expertise.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation_target.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_evaluation_target.to_csv(filepath)\n\nfilepath = Path('/content/drive/MyDrive/ThaiNHF All Work/ฐานข้อมูลนักประเมินเก่า/tb_evaluation_area.csv')  \nfilepath.parent.mkdir(parents=True, exist_ok=True) \ntb_evaluation_area.to_csv(filepath)\n"