In [479]:
import gspread as gs
import pandas as pd
import numpy as np
#from google.colab import auth
#auth.authenticate_user()
from google.auth import default
from pathlib import Path  
import re
from pandas_profiling import ProfileReport
from datetime import datetime

import requests
import json
import urllib
from decouple import config,Config, RepositoryEnv

In [480]:
df = pd.read_excel('Copy of 650411_ฐานข้อมูลเครือข่ายนักประเมิน_จากลิ้ง.xlsx', index_col=0, header=2)

# แก้ option ตอน read ให้เป็น utf-8

In [481]:
df.columns

Index(['คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'นามสกุล', 'ชื่อ-นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา', 'Unnamed: 11',
       'Unnamed: 12', 'หน่วยงานที่สังกัด', 'ความสนใจด้านการประเมินผล',
       'การทำงานด้านการประเมินผล', 'ประสบการณ์ด้านการประเมินผล',
       'ระดับประสบการณ์ด้านการประเมินผล',
       'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ',
       'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล',
       'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล',
       'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.',
       'ฐานะผู้ประเมิน', 'เคยประเมินผลให้กับหน่วยงานอื่น', 'ความเชี่ยวชาญ',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'ปัญหาและอุปสรรคจากการประเมินฯ',
       'ข้อเสนอแนะต่อการประเมินฯ', 'ข้อเสนอแนะต่อการพัฒนาศักยภาพนักประเมินฯ',
       'ฐาน สสส.', 'รวมโดย M&E', 'อบรมนักประเมิน', 'DE', 'เครือข่ายหมอพงค์เทพ',
       'เครือข่ายหมอปิยะ', 'ตอบแบบสอบถาม', 'ไม่พบที่อยู่', 'ไม่ตอบ',
       'ตอบแบบสอบถาม.1', 'ไม่พบที่อยู่.1', 'ไม่ตอบ.1'],
      dtype='object')

## **1. Changing columns name**

In [482]:
recol_df = df.copy()
n=0
for key in df.columns:
  if not recol_df.iloc[:1,n:n+1].isnull().values.any() :
    #print(df.columns[n], '->', df.iloc[0,n])
    if 'Unnamed' not in recol_df.columns[n] :
      print(recol_df.columns[n], '->', recol_df.columns[n]+ ' ' +recol_df.iloc[0,n])
      recol_df = recol_df.rename(columns={recol_df.columns[n]:recol_df.columns[n]+ ' ' +recol_df.iloc[0,n]})

    else:
      a=n
      while 'Unnamed' in recol_df.columns[a]:
        a -= 1
      else:
        print(recol_df.columns[n], '->', recol_df.columns[a].split()[0]+ ' ' +recol_df.iloc[0,n])
        recol_df = recol_df.rename(columns={recol_df.columns[n]:recol_df.columns[a].split()[0]+ ' ' +recol_df.iloc[0,n]})
        
    #new_df = df.rename(columns={df.columns[n]:df.iloc[0,n]})
  n += 1

ด้านการศึกษา -> ด้านการศึกษา ระดับการศึกษา
Unnamed: 11 -> ด้านการศึกษา สาขาที่จบ (สูงสุด)
Unnamed: 12 -> ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)
ความเชี่ยวชาญ -> ความเชี่ยวชาญ ด้านประเด็น
Unnamed: 26 -> ความเชี่ยวชาญ กลุ่มเป้าหมาย
Unnamed: 27 -> ความเชี่ยวชาญ พื้นที่ดำเนินการ
Unnamed: 28 -> ความเชี่ยวชาญ ทักษะ skill and competency
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ
Unnamed: 30 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study
Unnamed: 31 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study
Unnamed: 32 -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study

In [483]:
recol_df.columns

Index(['คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'นามสกุล', 'ชื่อ-นามสกุล', 'ที่อยู่',
       'โทรศัพท์', 'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา ระดับการศึกษา',
       'ด้านการศึกษา สาขาที่จบ (สูงสุด)',
       'ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)', 'หน่วยงานที่สังกัด',
       'ความสนใจด้านการประเมินผล', 'การทำงานด้านการประเมินผล',
       'ประสบการณ์ด้านการประเมินผล', 'ระดับประสบการณ์ด้านการประเมินผล',
       'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ',
       'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล',
       'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล',
       'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.',
       'ฐานะผู้ประเมิน', 'เคยประเมินผลให้กับหน่วยงานอื่น',
       'ความเชี่ยวชาญ ด้านประเด็น', 'ความเชี่ยวชาญ กลุ่มเป้าหมาย',
       'ความเชี่ยวชาญ พื้นที่ดำเนินการ',
       'ความเชี่ยวชาญ ทักษะ skill and competency',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study',
       'ปัญหาและอุปสรรคจากการประเมินฯ', 'ข้อเสนอแนะต่อการประเมินฯ',
       'ข้อเสนอแนะต่อการพัฒนาศักยภาพนักประเมินฯ', 'ฐาน สสส.', 'รวมโดย M&E',
       'อบรมนักประเมิน', 'DE', 'เครือข่ายหมอพงค์เทพ', 'เครือข่ายหมอปิยะ',
       'ตอบแบบสอบถาม', 'ไม่พบที่อยู่', 'ไม่ตอบ', 'ตอบแบบสอบถาม.1',
       'ไม่พบที่อยู่.1', 'ไม่ตอบ.1'],
      dtype='object')

## **2. Selecting important columns & row**

In [484]:
new_df = recol_df.iloc[1:622,:32]
new_df = new_df.reset_index(drop=True)
new_df = new_df.drop(columns=['ชื่อ-นามสกุล', 'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.'], axis=1)
new_df

,คำนำหน้า,ตำแหน่ง,ชื่อ,นามสกุล,ที่อยู่,โทรศัพท์,โทรศัพท์มือถือ,อีเมล์,ด้านการศึกษา ระดับการศึกษา,ด้านการศึกษา สาขาที่จบ (สูงสุด),...,ฐานะผู้ประเมิน,เคยประเมินผลให้กับหน่วยงานอื่น,ความเชี่ยวชาญ ด้านประเด็น,ความเชี่ยวชาญ กลุ่มเป้าหมาย,ความเชี่ยวชาญ พื้นที่ดำเนินการ,ความเชี่ยวชาญ ทักษะ skill and competency,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study,ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study
0,นาง,NaN,กนกพร,ตันวัฒนะ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,น.ส.,NaN,กนกภรณ์,ชูเชิด,เลขที่ 119/36 ซอยท่าอิฐ หมู่บ้านมณียา ถนนรัตนา...,NaN,0899241928,chucherd_k@lycos.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,สาขาพัฒนาสังคม คณะมนุษยศาสตร์และสังคมศาสตร์ มห...,NaN,0816237579,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,ภาควิชาวิจัยและจิตวิทยาการศึกษา คณะครุศาสตร์ จ...,NaN,0836157722,ksriklaub@gmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,ภาควิชาอนามัยครอบครัว คณะสาธารณสุขศาสตร์ มหาวิ...,02-3548536,0816511353,kanittha.cha@mahidol.ac.th,ปริญญาเอก,ปร.ด. (สังคมศาสตร์การแพทย์),...,ผู้ประเมินภายนอก,1. สำนักอนามัยการเจริญพันธุ์ กระทรวงสาธารณสุข\...,"กลุ่มโรคไม่ติดต่อ, ระบบสุขภาพ, สุขภาวะทางเพศ","กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), กลุ่มวัยทำ...",NaN,NaN,มาก,มากที่สุด,มากที่สุด,มากที่สุด
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,เลขที่ 5/231 ม.ประชานิเวศน์ 2ระยะ 3 ซ. สามัคคี...,0869792160,0869792160,O_SUKSAI@hotmail.com,ปริญญาเอก,Ph.D. ( Communication),...,ผู้ประเมินภายนอก,Thai PBS,"ระบบสุขภาพ, สุขภาพจิต, อุบัติเหตุ, รู้เท่าทันส...","เด็กปฐมวัย (0-5ปี), เด็กวัยเรียน (5-14ปี), กลุ...",NaN,NaN,มากที่สุด,มาก,มาก,มาก
617,คุณ,NaN,อุษา,อติโภคบูรณ์,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,ผศ.ดร.,อุษา,อ้นทอง,เลขที่ 140 ถนนกาญจนวานิช ต.เขารูปช้าง อ.เมือง ...,NaN,"0869614556, 0819654556",usaonthong@hotmail.com,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,น.ส.,ดร.,อุษารดี,ภู่มาลี,คณะวนศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ เลขที่ 50 ถ...,0930238420,0930238420,ploy_ku59@hotmail.com,ปริญญาเอก,ปร.ด (อุทยาน นันทนาการ และการท่องเที่ยว),...,"ผู้ประเมินภายใน, ผู้ประเมินภายนอก",กรมส่งเสริมคุณภาพสิ่งแวดล้อม กรมทรัพยากรทะเลแล...,"สิ่งแวดล้อม, การพัฒนาชุมชน","กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), กลุ่มวัยทำ...",NaN,NaN,มาก,มากที่สุด,มากที่สุด,มาก
620,น.ส.,NaN,อุสมะห์,ลาเฮศักดิ์สิทธิ์,เลขที่ 8 ซอยวิภาวดีรังสิต แขวงลาดยาว เขตจตุจัก...,NaN,0817385289,"u.sama12@hotmail.com, usama_saksit@hotmail.com",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **3. Split data**

In [485]:
new_df.isnull().sum()

คำนำหน้า                                                                191
ตำแหน่ง                                                                 312
ชื่อ                                                                      0
นามสกุล                                                                   0
ที่อยู่                                                                 206
โทรศัพท์                                                                462
โทรศัพท์มือถือ                                                          208
อีเมล์                                                                  158
ด้านการศึกษา ระดับการศึกษา                                              417
ด้านการศึกษา สาขาที่จบ (สูงสุด)                                         423
ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)                               423
หน่วยงานที่สังกัด                                                       589
ความสนใจด้านการประเมินผล                                                423
การทำงานด้านการประเมินผล                                                423
ประสบการณ์ด้านการประเมินผล                                              425
ระดับประสบการณ์ด้านการประเมินผล                                         593
การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ                                423
กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล                429
รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล                 429
ฐานะผู้ประเมิน                                                          460
เคยประเมินผลให้กับหน่วยงานอื่น                                          465
ความเชี่ยวชาญ ด้านประเด็น                                               427
ความเชี่ยวชาญ กลุ่มเป้าหมาย                                             428
ความเชี่ยวชาญ พื้นที่ดำเนินการ                                          592
ความเชี่ยวชาญ ทักษะ skill and competency                                590
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ                          425
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study     424
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study      424
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study    425
dtype: int64

In [486]:
new_df = recol_df.iloc[1:622,:32]
new_df = new_df.reset_index(drop=True)
new_df = new_df.drop(columns=['ชื่อ-นามสกุล', 'ความเข้าใจต่อภารกิจของ สสส.', 'การประเมินโครงการ สสส.'], axis=1)

new_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล'] = new_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'] = new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ ด้านประเด็น'] = new_df['ความเชี่ยวชาญ ด้านประเด็น'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'] = new_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย'].str.split(pat="( , )|(, )|( ,)")
new_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'] = new_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ'].str.split(pat="( , )|(, )|( ,)")
new_df['ระดับประสบการณ์ด้านการประเมินผล'] = new_df['ระดับประสบการณ์ด้านการประเมินผล'].str.split(pat="( , )|(, )|( ,)")
new_df['เคยประเมินผลให้กับหน่วยงานอื่น'] = new_df['เคยประเมินผลให้กับหน่วยงานอื่น'].str.split(pat="( , )|(, )|( ,)")
new_df['อีเมล์'] = new_df['อีเมล์'].str.split(pat="( , )|(, )|( ,)")
new_df['โทรศัพท์'] = new_df['โทรศัพท์'].str.split(pat="( , )|(, )|( ,)")
new_df['โทรศัพท์มือถือ'] = new_df['โทรศัพท์มือถือ'].str.split(pat="( , )|(, )|( ,)")


new_df['ความเชี่ยวชาญ ทักษะ skill and competency'] = new_df['ความเชี่ยวชาญ ทักษะ skill and competency'].str.split(pat="( , )|(, )|( ,)")

In [487]:
new_df.loc[:, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']]

,อีเมล์,โทรศัพท์,โทรศัพท์มือถือ
0,NaN,NaN,NaN
1,[chucherd_k@lycos.com],NaN,[0899241928]
2,NaN,NaN,[0816237579]
3,[ksriklaub@gmail.com],NaN,[0836157722]
4,[kanittha.cha@mahidol.ac.th],[02-3548536],[0816511353]
...,...,...,...
616,[O_SUKSAI@hotmail.com],[0869792160],[0869792160]
617,NaN,NaN,NaN
618,[usaonthong@hotmail.com],NaN,"[0869614556, None, , , None, 0819654556]"
619,[ploy_ku59@hotmail.com],[0930238420],[0930238420]
620,"[u.sama12@hotmail.com, None, , , None, usama_s...",NaN,[0817385289]

In [488]:
def spltel(ntel):
    temp = str(ntel).split('-')
    if len(temp) > 1:
        temp = str(temp[0])+str(temp[1])
        return temp
    else:
        return ntel

for i in new_df.index:
    ls = new_df.loc[i, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']].values.tolist()
    email, tel, phone = ls[0], ls[1], ls[2]
    
    if type(email) == list:
        if len(email) > 1:
            email = list(filter(lambda item: item is not None, email))
            email = list(filter(lambda item: item != ' ,', email))
            email = list(filter(lambda item: item != ', ', email))
            
    if type(tel) == list:
        if len(tel) > 1:
            tel = list(filter(lambda item: item is not None, tel))
            tel = list(filter(lambda item: item != ' ,', tel))
            tel = list(filter(lambda item: item != ', ', tel))
        ind = []
        for t in tel:
            ind.append(spltel(t))
        tel = ind

    if type(phone) == list:
        if len(phone) > 1:
            phone = list(filter(lambda item: item is not None, phone))
            phone = list(filter(lambda item: item != ' ,', phone))
            phone = list(filter(lambda item: item != ', ', phone))
        ind = []
        for t in phone:
            ind.append(spltel(t))
        phone = ind

    new_df.loc[i, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']] = [email, tel, phone]

/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)
/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pandas/core/internals/blocks.py:940: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  arr_value = np.asarray(value)

In [489]:
new_df.loc[:, ['อีเมล์', 'โทรศัพท์', 'โทรศัพท์มือถือ']]

,อีเมล์,โทรศัพท์,โทรศัพท์มือถือ
0,NaN,NaN,NaN
1,[chucherd_k@lycos.com],NaN,[0899241928]
2,NaN,NaN,[0816237579]
3,[ksriklaub@gmail.com],NaN,[0836157722]
4,[kanittha.cha@mahidol.ac.th],[023548536],[0816511353]
...,...,...,...
616,[O_SUKSAI@hotmail.com],[0869792160],[0869792160]
617,NaN,NaN,NaN
618,[usaonthong@hotmail.com],NaN,"[0869614556, 0819654556]"
619,[ploy_ku59@hotmail.com],[0930238420],[0930238420]
620,"[u.sama12@hotmail.com, usama_saksit@hotmail.com]",NaN,[0817385289]

#### Assign ID Function ( assign_id() )

คำนำหน้ารหัส

1. 'USER' -> นักประเมิน **(tb_user)**
2. 'CONT' -> ข้อมูลติดต่อ **(tb_contact)**
3. 'LOCT' -> ที่อยู่ **(tb_location)**
4. 'EXPT' -> ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล **(tb_expertise)**
5. 'EXSJ' -> ความเชี่ยวชาญด้านประเด็น **(tb_expertise_subject)**
6. 'EXTG' -> ความเชี่ยวชาญด้านกลุ่มเป้าหมาย **(tb_expertise_target)**
7. 'EXAR' -> ความเชี่ยวชาญด้านพื้นที่ดำเนินการ **(tb_expertise_area)**
8. 'EXSK' -> ความเชี่ยวชาญด้านทักษะ skill and competency **(tb_expertise_skill)**
9. 'EVAL' -> การประเมินผล **(tb_evaluation)**
10. 'EVEX' -> ระดับประสบการณ์ด้านการประเมินผล **(tb_evaluation_experience)**
11. 'EVAP' -> กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล **(tb_evaluation_approaches)**
12. 'EVFW' -> รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล **(tb_evaluation_framework)**

In [490]:
prefix = ['USER', 'CONT', 'LOCT', 'EXPT', 'EXSJ', 'EXTG', 'EXAR', 'EXSK', 'EVAL', 'EVEX', 'EVAP', 'EVFW']

def assign_id(df):
  id = []
  key = 99999
  for i in range(len(df)):
    key = key+1
    id_txt = prefix[0] + str(key)
    id.append(id_txt)
  try:
    return df.insert(loc=0, column='ID', value=id)
  except:
    df = df.drop(columns='ID')
    return df.insert(loc=0, column='ID', value=id)

def assign_id_tb(df, prefix):
  id = []
  key = 99999
  for i in range(len(df)):
    key = key+1
    id_txt = prefix + str(key)
    id.append(id_txt)
  print(len(id))
  print(len(df))
  print(len(pd.DataFrame(id)))
  df[df.columns[0]] = pd.DataFrame(id)
  return df

In [491]:
assign_id(new_df)

In [492]:
new_df.iloc[618]

ID                                                                                                             USER100618
คำนำหน้า                                                                                                              NaN
ตำแหน่ง                                                                                                            ผศ.ดร.
ชื่อ                                                                                                                 อุษา
นามสกุล                                                                                                            อ้นทอง
ที่อยู่                                                                 เลขที่ 140 ถนนกาญจนวานิช ต.เขารูปช้าง อ.เมือง ...
โทรศัพท์                                                                                                              NaN
โทรศัพท์มือถือ                                                                                   [0869614556, 0819654556]
อีเมล์                                                                                           [usaonthong@hotmail.com]
ด้านการศึกษา ระดับการศึกษา                                                                                            NaN
ด้านการศึกษา สาขาที่จบ (สูงสุด)                                                                                       NaN
ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)                                                                             NaN
หน่วยงานที่สังกัด                                                                                                     NaN
ความสนใจด้านการประเมินผล                                                                                              NaN
การทำงานด้านการประเมินผล                                                                                              NaN
ประสบการณ์ด้านการประเมินผล                                                                                            NaN
ระดับประสบการณ์ด้านการประเมินผล                                                                                       NaN
การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ                                                                              NaN
กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล                                                              NaN
รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล                                                               NaN
ฐานะผู้ประเมิน                                                                                                        NaN
เคยประเมินผลให้กับหน่วยงานอื่น                                                                                        NaN
ความเชี่ยวชาญ ด้านประเด็น                                                                                             NaN
ความเชี่ยวชาญ กลุ่มเป้าหมาย                                                                                           NaN
ความเชี่ยวชาญ พื้นที่ดำเนินการ                                                                                        NaN
ความเชี่ยวชาญ ทักษะ skill and competency                                                                              NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ                                                                        NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study                                                   NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study                                                    NaN
ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study                                                  NaN
Name: 618, dtype: object

### Split Tables

In [493]:
gc = gs.service_account('API_KEY.json')
sh = gc.open_by_url('https://docs.google.com/spreadsheets/d/1xB2OBVl8WwclaYsp67b0-FrKauyxHRxGtTNcsfJ3m_k/edit?usp=sharing')
ws = sh.worksheet('tb_user')

In [494]:
tb_col_name = ['tb_user', 'tb_contact', 'tb_location', 'tb_expertise', 
            'tb_expertise_subject', 'tb_expertise_target','tb_expertise_area','tb_expertise_skill',
            'tb_evaluation','tb_evaluation_experience','tb_evaluation_approaches','tb_evaluation_framework']

In [495]:
def sheet(tb, sh):
    ws = sh.worksheet(tb)
    col = pd.DataFrame(ws.get_all_records())
    
    return [x for x in col['column_name_eng']]

In [496]:
for i in range(len(tb_col_name)):
    col = sheet(tb_col_name[i], sh)[0]
    print(col)

user_id
contact_id
location_id
expertise_id
expertise_subject_id
expertise_target_id
expertise_area_id
expertise_skill_id
evaluation_id
evaluation_experience_id
evaluation_approaches_id
evaluation_framework_id

In [497]:
tb_user = pd.DataFrame(columns=sheet(tb_col_name[0], sh)).reset_index(drop=True)
tb_contact = pd.DataFrame(columns=sheet(tb_col_name[1], sh)).reset_index(drop=True)
tb_location = pd.DataFrame(columns=sheet(tb_col_name[2], sh)).reset_index(drop=True)
tb_expertise = pd.DataFrame(columns=sheet(tb_col_name[3], sh)).reset_index(drop=True)
tb_expertise_subject = pd.DataFrame(columns=sheet(tb_col_name[4], sh)).reset_index(drop=True)
tb_expertise_target = pd.DataFrame(columns=sheet(tb_col_name[5], sh)).reset_index(drop=True)
tb_expertise_area = pd.DataFrame(columns=sheet(tb_col_name[6], sh)).reset_index(drop=True)
tb_expertise_skill = pd.DataFrame(columns=sheet(tb_col_name[7], sh)).reset_index(drop=True)
tb_evaluation = pd.DataFrame(columns=sheet(tb_col_name[8], sh)).reset_index(drop=True)
tb_evaluation_experience = pd.DataFrame(columns=sheet(tb_col_name[9], sh)).reset_index(drop=True)
tb_evaluation_approaches = pd.DataFrame(columns=sheet(tb_col_name[10], sh)).reset_index(drop=True)
tb_evaluation_framework = pd.DataFrame(columns=sheet(tb_col_name[11], sh)).reset_index(drop=True)

#### tb_user

In [498]:
tb_user.columns

Index(['user_id', 'user_image', 'user_username', 'user_password',
       'user_prefix', 'user_title', 'user_fname', 'user_lname',
       'user_birthdate', 'user_role', 'user_degrees', 'user_department',
       'user_graduated', 'user_affiliated', 'user_status', 'user_createby',
       'user_createdt', 'user_updateby', 'user_updatedt', 'contact_id',
       'location_id', 'expertise_id', 'evaluation_id'],
      dtype='object')

In [499]:
tb_user['user_id'] = new_df['ID']
tb_user['user_prefix'] = new_df['คำนำหน้า']
tb_user['user_title'] = new_df['ตำแหน่ง']
tb_user['user_fname'] = new_df['ชื่อ']
tb_user['user_lname'] = new_df['นามสกุล']
tb_user['user_degrees'] = new_df['ด้านการศึกษา ระดับการศึกษา']
tb_user['user_department'] = new_df['ด้านการศึกษา สาขาที่จบ (สูงสุด)']
tb_user['user_graduated'] = new_df['ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)']
tb_user['user_affiliated'] = new_df['หน่วยงานที่สังกัด']
tb_user['user_createby'] = 'root'
tb_user['user_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_user['user_updateby'] = 'root'
tb_user['user_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

In [500]:
tb_user.head(-10)

,user_id,user_image,user_username,user_password,user_prefix,user_title,user_fname,user_lname,user_birthdate,user_role,...,user_affiliated,user_status,user_createby,user_createdt,user_updateby,user_updatedt,contact_id,location_id,expertise_id,evaluation_id
0,USER100000,NaN,NaN,NaN,นาง,NaN,กนกพร,ตันวัฒนะ,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
1,USER100001,NaN,NaN,NaN,น.ส.,NaN,กนกภรณ์,ชูเชิด,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
2,USER100002,NaN,NaN,NaN,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
3,USER100003,NaN,NaN,NaN,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
4,USER100004,NaN,NaN,NaN,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,USER100606,NaN,NaN,NaN,NaN,ดร.,อาภรณ์,ส่งแสง,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
607,USER100607,NaN,NaN,NaN,NaN,รศ.ดร.,อาภาวรรณ,หนูคง,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
608,USER100608,NaN,NaN,NaN,คุณ,NaN,อารีย์,สุวรรณชาตรี,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
609,USER100609,NaN,NaN,NaN,NaN,ดร.,อารียา,จิระธนานุวัฒน์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN
610,USER100610,NaN,NaN,NaN,น.ส.,NaN,อารีรัตน์,กิตติศิริ,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,NaN,NaN,NaN,NaN

In [501]:
tb_user.isnull().sum()

user_id              0
user_image         621
user_username      621
user_password      621
user_prefix        191
user_title         312
user_fname           0
user_lname           0
user_birthdate     621
user_role          621
user_degrees       417
user_department    423
user_graduated     423
user_affiliated    589
user_status        621
user_createby        0
user_createdt        0
user_updateby        0
user_updatedt        0
contact_id         621
location_id        621
expertise_id       621
evaluation_id      621
dtype: int64

In [708]:
tb_user.columns

Index(['user_id', 'user_image', 'user_username', 'user_password',
       'user_prefix', 'user_title', 'user_fname', 'user_lname',
       'user_birthdate', 'user_role', 'user_degrees', 'user_department',
       'user_graduated', 'user_affiliated', 'user_status', 'user_createby',
       'user_createdt', 'user_updateby', 'user_updatedt', 'contact_id',
       'location_id', 'expertise_id', 'evaluation_id'],
      dtype='object')

In [709]:
prefix

['USER',
 'CONT',
 'LOCT',
 'EXPT',
 'EXSJ',
 'EXTG',
 'EXAR',
 'EXSK',
 'EVAL',
 'EVEX',
 'EVAP',
 'EVFW']

In [710]:
id = tb_user.index.to_list()
start = 100000
for item in id:
    index = start + int(item)
    value_con = prefix[1] + str(index)
    value_loc = prefix[2] + str(index)
    value_exp = prefix[3] + str(index)
    value_eva = prefix[8] + str(index)
    tb_user.iloc[id[int(item)], 19] = value_con
    tb_user.iloc[id[int(item)], 20] = value_loc
    tb_user.iloc[id[int(item)], 21] = value_exp
    tb_user.iloc[id[int(item)], 22] = value_eva

tb_user

,user_id,user_image,user_username,user_password,user_prefix,user_title,user_fname,user_lname,user_birthdate,user_role,...,user_affiliated,user_status,user_createby,user_createdt,user_updateby,user_updatedt,contact_id,location_id,expertise_id,evaluation_id
0,USER100000,NaN,NaN,NaN,นาง,NaN,กนกพร,ตันวัฒนะ,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100000,LOCT100000,EXPT100000,EVAL100000
1,USER100001,NaN,NaN,NaN,น.ส.,NaN,กนกภรณ์,ชูเชิด,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100001,LOCT100001,EXPT100001,EVAL100001
2,USER100002,NaN,NaN,NaN,คุณ,NaN,กนกรัตน์,กิตติวิวัฒน์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100002,LOCT100002,EXPT100002,EVAL100002
3,USER100003,NaN,NaN,NaN,NaN,ดร.,กนิษฐ์,ศรีเคลือบ,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100003,LOCT100003,EXPT100003,EVAL100003
4,USER100004,NaN,NaN,NaN,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100004,LOCT100004,EXPT100004,EVAL100004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,USER100616,NaN,NaN,NaN,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100616,LOCT100616,EXPT100616,EVAL100616
617,USER100617,NaN,NaN,NaN,คุณ,NaN,อุษา,อติโภคบูรณ์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100617,LOCT100617,EXPT100617,EVAL100617
618,USER100618,NaN,NaN,NaN,NaN,ผศ.ดร.,อุษา,อ้นทอง,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100618,LOCT100618,EXPT100618,EVAL100618
619,USER100619,NaN,NaN,NaN,น.ส.,ดร.,อุษารดี,ภู่มาลี,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100619,LOCT100619,EXPT100619,EVAL100619
620,USER100620,NaN,NaN,NaN,น.ส.,NaN,อุสมะห์,ลาเฮศักดิ์สิทธิ์,NaN,NaN,...,NaN,NaN,root,2022-12-31 02:51:25,root,2022-12-31 02:51:25,CONT100620,LOCT100620,EXPT100620,EVAL100620

#### tb_contact

In [502]:
tb_contact.columns

Index(['contact_id', 'contact_emailpersonal', 'contact_emailwork',
       'contact_telpersonal', 'contact_telwork', 'contact_line_id',
       'contact_fb_name', 'contact_createby', 'contact_createdt',
       'contact_updateby', 'contact_updatedt'],
      dtype='object')

Email Fix

In [503]:
temp_df = pd.DataFrame(columns={'id', 'emailP', 'emailW'})
temp_df['id'] = new_df['ID']
temp_df['emailP'] = new_df['อีเมล์']
temp_df = temp_df.explode('emailP').drop_duplicates().reset_index(drop=True)
temp_df

    emailW          id                      emailP
0      NaN  USER100000                         NaN
1      NaN  USER100001        chucherd_k@lycos.com
2      NaN  USER100002                         NaN
3      NaN  USER100003         ksriklaub@gmail.com
4      NaN  USER100004  kanittha.cha@mahidol.ac.th
..     ...         ...                         ...
635    NaN  USER100617                         NaN
636    NaN  USER100618      usaonthong@hotmail.com
637    NaN  USER100619       ploy_ku59@hotmail.com
638    NaN  USER100620        u.sama12@hotmail.com
639    NaN  USER100620    usama_saksit@hotmail.com

[640 rows x 3 columns]

In [504]:
temp_dup = temp_df[temp_df.duplicated(subset=['id'], keep=False)]
print(temp_dup)

    emailW          id                           emailP
6      NaN  USER100006       kamolphat@ihpp.thaigov.net
7      NaN  USER100006            kamolphat.m@gmail.com
116    NaN  USER100115              Nutta.T@chula.ac.th
117    NaN  USER100115  Nutta.taneepanichskul@gmail.com
122    NaN  USER100120            non_19240@hotmail.com
123    NaN  USER100120       natratanon_kan@dusit.ac.th
146    NaN  USER100143            tthongchai1@gmail.com
147    NaN  USER100143              ang.thong@gmail.com
151    NaN  USER100147      thana.sompornserm@gmail.com
152    NaN  USER100147                 thana.s@ku.ac.th
297    NaN  USER100292         peerawat@windowslive.com
298    NaN  USER100292       peerawat22@windowslive.com
364    NaN  USER100358             ao_oo_of@hotmail.com
365    NaN  USER100358     ratchaneekorn.tree@gmail.com
389    NaN  USER100382              primp1124@gmail.com
390    NaN  USER100382       prima_m_wannee@yahoo.co.th
432    NaN  USER100424             y_wilailak@yahoo.com
433    NaN  USER100424           y_wilailak@hotmail.com
484    NaN  USER100475                somnuk@mtec.or.th
485    NaN  USER100475   somnuk.sirisoonthorn@yahoo.com
489    NaN  USER100479          ssirikwanchai@yahoo.com
490    NaN  USER100479           sirikwanchai@gmail.com
499    NaN  USER100488              srawooth@tdri.or.th
500    NaN  USER100488           spaitoonpong@yahoo.com
564    NaN  USER100552           schariya@med.cmu.ac.th
565    NaN  USER100552            suwat@chiangmai.ac.th
570    NaN  USER100557             drsane2513@gmail.com
571    NaN  USER100557                   sanes@nu.ac.th
596    NaN  USER100582            okhongmalai@yahoo.com
597    NaN  USER100582                orapan@citu.ac.th
600    NaN  USER100585        arisara.lek@mahidol.ac.th
601    NaN  USER100585            drarisara@hotmail.com
616    NaN  USER100600          anyanitha@citu.tu.ac.th
617    NaN  USER100600              anyanitha@yahoo.com
622    NaN  USER100605            Artittaya12@gmail.com
623    NaN  USER100605            artittaya.w@gmail.com
638    NaN  USER100620             u.sama12@hotmail.com
639    NaN  USER100620         usama_saksit@hotmail.com

In [505]:
temp_ind = (temp_dup.index).to_list()
temp_ind = temp_ind[1::2]
temp_ind

[7,
 117,
 123,
 147,
 152,
 298,
 365,
 390,
 433,
 485,
 490,
 500,
 565,
 571,
 597,
 601,
 617,
 623,
 639]

In [506]:
for i in temp_ind:
    temp_df.iloc[int(i)-1, 0] = temp_df.iloc[i, 2]
for i in temp_ind:
    temp_df = temp_df.drop(i)
temp_df = temp_df.reset_index(drop=True)
print(temp_df)

                       emailW          id                      emailP
0                         NaN  USER100000                         NaN
1                         NaN  USER100001        chucherd_k@lycos.com
2                         NaN  USER100002                         NaN
3                         NaN  USER100003         ksriklaub@gmail.com
4                         NaN  USER100004  kanittha.cha@mahidol.ac.th
..                        ...         ...                         ...
616                       NaN  USER100616        O_SUKSAI@hotmail.com
617                       NaN  USER100617                         NaN
618                       NaN  USER100618      usaonthong@hotmail.com
619                       NaN  USER100619       ploy_ku59@hotmail.com
620  usama_saksit@hotmail.com  USER100620        u.sama12@hotmail.com

[621 rows x 3 columns]

Email injection

In [507]:
tb_contact['contact_emailwork'] = temp_df['emailW']
tb_contact['contact_emailpersonal'] = temp_df['emailP']
tb_contact

,contact_id,contact_emailpersonal,contact_emailwork,contact_telpersonal,contact_telwork,contact_line_id,contact_fb_name,contact_createby,contact_createdt,contact_updateby,contact_updatedt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,chucherd_k@lycos.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ksriklaub@gmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,kanittha.cha@mahidol.ac.th,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
616,NaN,O_SUKSAI@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,usaonthong@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaN,ploy_ku59@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,NaN,u.sama12@hotmail.com,usama_saksit@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Tel fix

In [508]:
temp_df = pd.DataFrame(columns={'id', 'telP'})
temp_df['id'] = new_df['ID']
temp_df['telP'] = new_df['โทรศัพท์มือถือ']
temp_df_fil = temp_df[temp_df['telP'].notnull()]
temp_df_fil = temp_df_fil.explode('telP').drop_duplicates()
temp_df_fil = temp_df_fil.drop_duplicates(subset=['id'], keep='last')

temp_df_fil

             id        telP
1    USER100001  0899241928
2    USER100002  0816237579
3    USER100003  0836157722
4    USER100004  0816511353
5    USER100005  0819220147
..          ...         ...
615  USER100615  0810907955
616  USER100616  0869792160
618  USER100618  0819654556
619  USER100619  0930238420
620  USER100620  0817385289

[413 rows x 2 columns]

In [509]:
temp_ind = (temp_df_fil.index).to_list()
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index()
temp_df

             id        telP
0    USER100000         NaN
1    USER100001  0899241928
2    USER100002  0816237579
3    USER100003  0836157722
4    USER100004  0816511353
..          ...         ...
616  USER100616  0869792160
617  USER100617         NaN
618  USER100618  0819654556
619  USER100619  0930238420
620  USER100620  0817385289

[621 rows x 2 columns]

tel injection

In [510]:
tb_contact['contact_telpersonal'] = temp_df['telP']
tb_contact

,contact_id,contact_emailpersonal,contact_emailwork,contact_telpersonal,contact_telwork,contact_line_id,contact_fb_name,contact_createby,contact_createdt,contact_updateby,contact_updatedt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,chucherd_k@lycos.com,NaN,0899241928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,0816237579,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ksriklaub@gmail.com,NaN,0836157722,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,kanittha.cha@mahidol.ac.th,NaN,0816511353,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
616,NaN,O_SUKSAI@hotmail.com,NaN,0869792160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,usaonthong@hotmail.com,NaN,0819654556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaN,ploy_ku59@hotmail.com,NaN,0930238420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
620,NaN,u.sama12@hotmail.com,usama_saksit@hotmail.com,0817385289,NaN,NaN,NaN,NaN,NaN,NaN,NaN

tel work fix

In [511]:
temp_df = pd.DataFrame(columns={'id', 'telW'})
temp_df['id'] = new_df['ID']
temp_df['telW'] = new_df['โทรศัพท์']
temp_df_fil = temp_df[temp_df['telW'].notnull()]
temp_df_fil = temp_df_fil.explode('telW').drop_duplicates()
temp_df_fil = temp_df_fil.drop_duplicates(subset=['id'], keep='last')
temp_ind = (temp_df_fil.index).to_list()
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index()
temp_df

             id        telW
0    USER100000         NaN
1    USER100001         NaN
2    USER100002         NaN
3    USER100003         NaN
4    USER100004   023548536
..          ...         ...
616  USER100616  0869792160
617  USER100617         NaN
618  USER100618         NaN
619  USER100619  0930238420
620  USER100620         NaN

[621 rows x 2 columns]

tel work injection

In [512]:
tb_contact['contact_telwork'] = temp_df['telW']
tb_contact

,contact_id,contact_emailpersonal,contact_emailwork,contact_telpersonal,contact_telwork,contact_line_id,contact_fb_name,contact_createby,contact_createdt,contact_updateby,contact_updatedt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,chucherd_k@lycos.com,NaN,0899241928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,0816237579,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ksriklaub@gmail.com,NaN,0836157722,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,kanittha.cha@mahidol.ac.th,NaN,0816511353,023548536,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
616,NaN,O_SUKSAI@hotmail.com,NaN,0869792160,0869792160,NaN,NaN,NaN,NaN,NaN,NaN
617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,usaonthong@hotmail.com,NaN,0819654556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
619,NaN,ploy_ku59@hotmail.com,NaN,0930238420,0930238420,NaN,NaN,NaN,NaN,NaN,NaN
620,NaN,u.sama12@hotmail.com,usama_saksit@hotmail.com,0817385289,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [513]:
tb_contact['contact_createby'] = 'root'
tb_contact['contact_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_contact['contact_updateby'] = 'root'
tb_contact['contact_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

In [514]:
tb_contact

,contact_id,contact_emailpersonal,contact_emailwork,contact_telpersonal,contact_telwork,contact_line_id,contact_fb_name,contact_createby,contact_createdt,contact_updateby,contact_updatedt
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
1,NaN,chucherd_k@lycos.com,NaN,0899241928,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
2,NaN,NaN,NaN,0816237579,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
3,NaN,ksriklaub@gmail.com,NaN,0836157722,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
4,NaN,kanittha.cha@mahidol.ac.th,NaN,0816511353,023548536,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
...,...,...,...,...,...,...,...,...,...,...,...
616,NaN,O_SUKSAI@hotmail.com,NaN,0869792160,0869792160,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
618,NaN,usaonthong@hotmail.com,NaN,0819654556,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
619,NaN,ploy_ku59@hotmail.com,NaN,0930238420,0930238420,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
620,NaN,u.sama12@hotmail.com,usama_saksit@hotmail.com,0817385289,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26

In [515]:
tb_contact = assign_id_tb(tb_contact, prefix[1])
tb_contact

621
621
621

,contact_id,contact_emailpersonal,contact_emailwork,contact_telpersonal,contact_telwork,contact_line_id,contact_fb_name,contact_createby,contact_createdt,contact_updateby,contact_updatedt
0,CONT100000,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
1,CONT100001,chucherd_k@lycos.com,NaN,0899241928,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
2,CONT100002,NaN,NaN,0816237579,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
3,CONT100003,ksriklaub@gmail.com,NaN,0836157722,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
4,CONT100004,kanittha.cha@mahidol.ac.th,NaN,0816511353,023548536,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
...,...,...,...,...,...,...,...,...,...,...,...
616,CONT100616,O_SUKSAI@hotmail.com,NaN,0869792160,0869792160,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
617,CONT100617,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
618,CONT100618,usaonthong@hotmail.com,NaN,0819654556,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
619,CONT100619,ploy_ku59@hotmail.com,NaN,0930238420,0930238420,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26
620,CONT100620,u.sama12@hotmail.com,usama_saksit@hotmail.com,0817385289,NaN,NaN,NaN,root,2022-12-31 02:51:26,root,2022-12-31 02:51:26

#### tb_location

In [516]:
tb_location.columns

Index(['location_id', 'location_number', 'location_road',
       'location_subdistrict', 'location_district', 'location_province',
       'location_zipcode', 'location_latitude', 'location_longtitude',
       'location_createby', 'location_createdt', 'location_updateby',
       'location_updatedt'],
      dtype='object')

In [517]:
temp_df = pd.DataFrame(columns={'id', 'address'})
temp_df['id'] = new_df['ID']
temp_df['address'] = new_df['ที่อยู่']
temp_df

             id                                            address
0    USER100000                                                NaN
1    USER100001  เลขที่ 119/36 ซอยท่าอิฐ หมู่บ้านมณียา ถนนรัตนา...
2    USER100002  สาขาพัฒนาสังคม คณะมนุษยศาสตร์และสังคมศาสตร์ มห...
3    USER100003  ภาควิชาวิจัยและจิตวิทยาการศึกษา คณะครุศาสตร์ จ...
4    USER100004  ภาควิชาอนามัยครอบครัว คณะสาธารณสุขศาสตร์ มหาวิ...
..          ...                                                ...
616  USER100616  เลขที่ 5/231 ม.ประชานิเวศน์ 2ระยะ 3 ซ. สามัคคี...
617  USER100617                                                NaN
618  USER100618  เลขที่ 140 ถนนกาญจนวานิช ต.เขารูปช้าง อ.เมือง ...
619  USER100619  คณะวนศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ เลขที่ 50 ถ...
620  USER100620  เลขที่ 8 ซอยวิภาวดีรังสิต แขวงลาดยาว เขตจตุจัก...

[621 rows x 2 columns]

In [518]:
from dotenv import load_dotenv
from pathlib import Path
import os

dotenv_path = Path('.env')
load_dotenv(dotenv_path=dotenv_path)

True

In [519]:
DOTENV_FILE = '.env'
env_config = Config(RepositoryEnv(DOTENV_FILE))
AUTH_KEY=env_config.get('Map_Geo_Coding_API_KEY')
AUTH_KEY

'AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q'

In [520]:
# https://developers.google.com/maps/documentation/geocoding/intro
base_url= "https://maps.googleapis.com/maps/api/geocode/json?"

In [521]:
def reversegeo(address):
    parameters = {"address": address, "key": AUTH_KEY}
    
    try:
        global r
        r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
    except requests.exceptions.HTTPError as errh:
        print ("Http Error:",errh)
    except requests.exceptions.ConnectionError as errc:
        print ("Error Connecting:",errc)
    except requests.exceptions.Timeout as errt:
        print ("Timeout Error:",errt)
    except requests.exceptions.RequestException as err:
        print ("OOps: Something Else",err)
    
    data = json.loads(r.content)
#     return data.get("results")

    return [data.get("results")[0].get("geometry").get("location").get("lat") ,data.get("results")[0].get("geometry").get("location").get("lng")] if len(data.get("results")) != 0 else []

In [522]:
def reversegeo_address(address):
    parameters = {"address": address, "key": AUTH_KEY}
    
    try:
        global r
        r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
    except requests.exceptions.HTTPError as errh:
        print ("Http Error:",errh)
    except requests.exceptions.ConnectionError as errc:
        print ("Error Connecting:",errc)
    except requests.exceptions.Timeout as errt:
        print ("Timeout Error:",errt)
    except requests.exceptions.RequestException as err:
        print ("OOps: Something Else",err)
    
    data = json.loads(r.content)
#     return data.get("results")

    try :
        test = data.get("results")[1].get("address_components")
    except :
        if len(data.get("results")) != 0: 
            test = data.get("results")[0].get("address_components")
        else : test = []

    location_number = ''
    location_road = ''
    location_subdistrict = ''
    location_district = ''
    location_province = ''
    location_zipcode = ''

    for addres in test:
        if len(addres['types']) == 0:
            break

        elif addres['types'][-1] == 'street_number':
            location_road = addres['long_name']

        elif addres['types'][-1] == "subpremise":
            location_number = addres['long_name']

        elif addres['types'][-1] == "sublocality_level_2":
            location_subdistrict = addres['long_name']

        elif addres['types'][-1] == "sublocality_level_1":
            location_district = addres['long_name']

        elif addres['types'][-1] == "political":
            if addres['types'][-2] == "administrative_area_level_1":
                location_province = addres['long_name']

        elif addres['types'][-1] == "postal_code":
            location_zipcode = addres['long_name']


    return [location_number, location_road, location_subdistrict, location_district, location_province, location_zipcode]

In [523]:
# set up your search parameters - address and API key
parameters = {"address": "เลขที่ 2044/23 ซอยเพชรบุรีตัดใหม่ แขวงห้วยขวาง เขตห้วยขวาง กรุงเทพฯ 10310", "key": AUTH_KEY}

#urllib.parse.urlencode turns parameters into url
print(f"{base_url}{urllib.parse.urlencode(parameters)}")

r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
data = json.loads(r.content)
data
len(data.get("results"))
data.get("results")[0].get("geometry").get("location").get("lat")
data.get("results")[0].get("geometry").get("location").get("lng")

https://maps.googleapis.com/maps/api/geocode/json?address=%E0%B9%80%E0%B8%A5%E0%B8%82%E0%B8%97%E0%B8%B5%E0%B9%88+2044%2F23+%E0%B8%8B%E0%B8%AD%E0%B8%A2%E0%B9%80%E0%B8%9E%E0%B8%8A%E0%B8%A3%E0%B8%9A%E0%B8%B8%E0%B8%A3%E0%B8%B5%E0%B8%95%E0%B8%B1%E0%B8%94%E0%B9%83%E0%B8%AB%E0%B8%A1%E0%B9%88+%E0%B9%81%E0%B8%82%E0%B8%A7%E0%B8%87%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%82%E0%B8%A7%E0%B8%B2%E0%B8%87+%E0%B9%80%E0%B8%82%E0%B8%95%E0%B8%AB%E0%B9%89%E0%B8%A7%E0%B8%A2%E0%B8%82%E0%B8%A7%E0%B8%B2%E0%B8%87+%E0%B8%81%E0%B8%A3%E0%B8%B8%E0%B8%87%E0%B9%80%E0%B8%97%E0%B8%9E%E0%B8%AF+10310&key=AIzaSyAmhnfkyDkMfhDdoTQEjeC6T3VFRdB_Z5Q

100.5774363

Extract thai address

In [524]:
import json

f = open('subdistrict.json')
data = json.load(f)
f.close()

subdis = []
for s in data:
    sp = str(list(s.values())).split(', ')
    sp[0] = sp[0][2:]
    sp[3] = sp[3][:-2]
    subdis.append(sp)

subdis_df = pd.DataFrame(subdis, columns=["ตำบล","อำเภอ","จังหวัด","รหัสไปรษณีย์"])
subdis_df.head()

             ตำบล                 อำเภอ        จังหวัด รหัสไปรษณีย์
0      คลองมหานาค  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
1        บ้านบาตร  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
2        ป้อมปราบ  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
3  วัดเทพศิรินทร์  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100
4       วัดโสมนัส  เขตป้อมปราบศัตรูพ่าย  กรุงเทพมหานคร        10100

In [525]:
def isNaN(num):
    return num != num

def findAddress(add, key_df):
    #declare variable
    no = ''
    soi = ''
    road = ''
    subdistrict = ''
    district = ''
    province = ''
    zipcode = ''

    #split address
    if isNaN(add):
        return [no, soi, road, subdistrict, district, province, zipcode]
    address = add.split(' ')
    address = [a.lstrip() for a in address]

    for i in range(len(address)):
        if address[i] == 'เลขที่':
            no = address[i+1]

        if 'ซอย' in address[i][:3]:
            soi = address[i][3:]
        if 'ซ.' in address[i][:2]:
            soi = address[i][2:]

        if 'ถนน' in address[i][:3]:
            road = address[i][3:]
        if 'ถ.' in address[i]:
            road = address[i][2:]
        
        if 'แขวง' in address[i][:4]:
            subdistrict = address[i][4:]
        if 'ตำบล' in address[i][:4]:
            subdistrict = address[i][4:]
        if 'ต.' in address[i][:2]:
            subdistrict = address[i][2:]

    if subdistrict == '':
        if len(address[-1]) == 5:
            zipcode = address[-1]
            key = key_df[key_df['รหัสไปรษณีย์'] == zipcode].values.tolist()[0]
            district = key[1]
            province = key[2]
            if province == 'กรุงเทพมหานคร':
                subdistrict = ''
    else:
        if len(address[-1]) == 5:
            zipcode = address[-1]
            key = key_df.loc[(key_df['ตำบล'] == subdistrict) & (key_df['รหัสไปรษณีย์'] == zipcode)]
            province = key['จังหวัด'].values[0]
            district = key['อำเภอ'].values[0]

    return [no, road, subdistrict, district, province, zipcode]


sample = 'สมาคมสร้างสรรค์และพัฒนานวัตกรรมเพื่อการพัฒนาประเทศไทย​ เลขที่ 69/4 ต.กำโลน อ.​ลานสกา​ จ.นครศรีธรรมราช​ 80230'

print(findAddress(sample, subdis_df))

['69/4', '', 'กำโลน', 'อำเภอลานสกา', 'นครศรีธรรมราช', '80230']

In [526]:
test = temp_df[['id','address']].values.tolist()
locat = []
for item in test:
    locat.append([item[0], findAddress(item[1], subdis_df)])

locat_df = pd.DataFrame(locat, columns=['ID','ที่อยู่'])
loc = pd.DataFrame(locat_df['ที่อยู่'].tolist(), columns=['เลขที่',"ถนน","ตำบล","อำเภอ","จังหวัด","รหัสไปรษณีย์", 'U'])
locat_df = pd.concat([locat_df['ID'], loc], axis=1)
locat_df.drop('U', axis=1, inplace=True)
locat_df.head()

,ID,เลขที่,ถนน,ตำบล,อำเภอ,จังหวัด,รหัสไปรษณีย์
0,USER100000,,,,,,
1,USER100001,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000
2,USER100002,,,,อำเภอเมืองพะเยา,พะเยา,56000
3,USER100003,,,,,,
4,USER100004,,,,,,

Get LAT LONG

In [527]:
temp_df['lat-lng'] = temp_df['address'].apply(reversegeo)

latlng = temp_df['lat-lng'].values.tolist()
latlng = pd.DataFrame(latlng, columns=['latitude','longtitude'])
locat_df = pd.concat([locat_df, latlng], axis=1)
locat_df.head()

,ID,เลขที่,ถนน,ตำบล,อำเภอ,จังหวัด,รหัสไปรษณีย์,latitude,longtitude
0,USER100000,,,,,,,NaN,NaN
1,USER100001,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000,13.880611,100.454377
2,USER100002,,,,อำเภอเมืองพะเยา,พะเยา,56000,16.747911,100.191934
3,USER100003,,,,,,,13.737285,100.528447
4,USER100004,,,,,,,13.766235,100.534207

locat injection

In [528]:
tb_location.columns

Index(['location_id', 'location_number', 'location_road',
       'location_subdistrict', 'location_district', 'location_province',
       'location_zipcode', 'location_latitude', 'location_longtitude',
       'location_createby', 'location_createdt', 'location_updateby',
       'location_updatedt'],
      dtype='object')

In [529]:
tb_location['location_number'] = locat_df['เลขที่']
tb_location['location_road'] = locat_df['ถนน']
tb_location['location_subdistrict'] = locat_df['ตำบล']
tb_location['location_district'] = locat_df['อำเภอ']
tb_location['location_province'] = locat_df['จังหวัด']
tb_location['location_zipcode'] = locat_df['รหัสไปรษณีย์']
tb_location['location_latitude'] = locat_df['latitude']
tb_location['location_longtitude'] = locat_df['longtitude']
tb_location['location_createby'] = 'root'
tb_location['location_createdate'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_location['location_updateby'] = 'root'
tb_location['location_updatedate'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_location

,location_id,location_number,location_road,location_subdistrict,location_district,location_province,location_zipcode,location_latitude,location_longtitude,location_createby,location_createdt,location_updateby,location_updatedt,location_createdate,location_updatedate
0,NaN,,,,,,,NaN,NaN,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
1,NaN,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000,13.880611,100.454377,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
2,NaN,,,,อำเภอเมืองพะเยา,พะเยา,56000,16.747911,100.191934,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
3,NaN,,,,,,,13.737285,100.528447,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
4,NaN,,,,,,,13.766235,100.534207,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,NaN,5/231,สามัคคี,บางตลาด,อำเภอปากเกร็ด,นนทบุรี,11120,13.881477,100.544001,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
617,NaN,,,,,,,NaN,NaN,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
618,NaN,140,กาญจนวานิช,เขารูปช้าง,อำเภอเมืองสงขลา,สงขลา,90000,7.162949,100.609099,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
619,NaN,50,งามวงศ์วาน,ลาดยาว,,,,13.845684,100.574300,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
620,NaN,8,,ลาดยาว,เขตจตุจักร,กรุงเทพมหานคร,10900,13.799199,100.561488,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29

In [530]:
tb_location = assign_id_tb(tb_location, prefix[2])
tb_location

621
621
621

,location_id,location_number,location_road,location_subdistrict,location_district,location_province,location_zipcode,location_latitude,location_longtitude,location_createby,location_createdt,location_updateby,location_updatedt,location_createdate,location_updatedate
0,LOCT100000,,,,,,,NaN,NaN,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
1,LOCT100001,119/36,รัตนาธิเบศร์,ไทรม้า,อำเภอเมืองนนทบุรี,นนทบุรี,11000,13.880611,100.454377,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
2,LOCT100002,,,,อำเภอเมืองพะเยา,พะเยา,56000,16.747911,100.191934,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
3,LOCT100003,,,,,,,13.737285,100.528447,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
4,LOCT100004,,,,,,,13.766235,100.534207,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,LOCT100616,5/231,สามัคคี,บางตลาด,อำเภอปากเกร็ด,นนทบุรี,11120,13.881477,100.544001,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
617,LOCT100617,,,,,,,NaN,NaN,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
618,LOCT100618,140,กาญจนวานิช,เขารูปช้าง,อำเภอเมืองสงขลา,สงขลา,90000,7.162949,100.609099,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
619,LOCT100619,50,งามวงศ์วาน,ลาดยาว,,,,13.845684,100.574300,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29
620,LOCT100620,8,,ลาดยาว,เขตจตุจักร,กรุงเทพมหานคร,10900,13.799199,100.561488,root,NaN,root,NaN,2022-12-31 02:53:29,2022-12-31 02:53:29

#### tb_expertise

In [531]:
tb_expertise.columns

Index(['expertise_id', 'expertise_quality', 'expertise_descriptive',
       'expertise_analytical', 'expertise_experimental', 'expertise_createby',
       'expertise_createdt', 'expertise_updateby', 'expertise_updatedt'],
      dtype='object')

In [532]:
tb_expertise['expertise_quality'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ']
tb_expertise['expertise_descriptive'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study']
tb_expertise['expertise_analytical'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study']
tb_expertise['expertise_experimental'] = new_df['ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study']
tb_expertise['expertise_createby'] = 'root'
tb_expertise['expertise_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise['expertise_updateby'] = 'root'
tb_expertise['expertise_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise

,expertise_id,expertise_quality,expertise_descriptive,expertise_analytical,expertise_experimental,expertise_createby,expertise_createdt,expertise_updateby,expertise_updatedt
0,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
1,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
2,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
3,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
4,NaN,มาก,มากที่สุด,มากที่สุด,มากที่สุด,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
...,...,...,...,...,...,...,...,...,...
616,NaN,มากที่สุด,มาก,มาก,มาก,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
617,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
618,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
619,NaN,มาก,มากที่สุด,มากที่สุด,มาก,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
620,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29

In [533]:
tb_expertise = assign_id_tb(tb_expertise, prefix[3])
tb_expertise

621
621
621

,expertise_id,expertise_quality,expertise_descriptive,expertise_analytical,expertise_experimental,expertise_createby,expertise_createdt,expertise_updateby,expertise_updatedt
0,EXPT100000,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
1,EXPT100001,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
2,EXPT100002,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
3,EXPT100003,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
4,EXPT100004,มาก,มากที่สุด,มากที่สุด,มากที่สุด,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
...,...,...,...,...,...,...,...,...,...
616,EXPT100616,มากที่สุด,มาก,มาก,มาก,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
617,EXPT100617,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
618,EXPT100618,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
619,EXPT100619,มาก,มากที่สุด,มากที่สุด,มาก,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29
620,EXPT100620,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29

#### tb_expertise_subject

In [534]:
tb_expertise_subject.columns

Index(['expertise_subject_id', 'expertise_subject',
       'expertise_subject_createby', 'expertise_subject_createdt',
       'expertise_subject_updateby', 'expertise_subject_updatedt',
       'expertise_id'],
      dtype='object')

In [535]:
temp_df = pd.DataFrame(columns={'subject', 'expt_id'})
temp_df['subject'] = new_df['ความเชี่ยวชาญ ด้านประเด็น']
temp_df['expt_id'] = tb_expertise['expertise_id']
temp_df

                                               subject     expt_id
0                                                  NaN  EXPT100000
1                                                  NaN  EXPT100001
2                                                  NaN  EXPT100002
3                                                  NaN  EXPT100003
4    [กลุ่มโรคไม่ติดต่อ, None, , , None, ระบบสุขภาพ...  EXPT100004
..                                                 ...         ...
616  [ระบบสุขภาพ, None, , , None, สุขภาพจิต, None, ...  EXPT100616
617                                                NaN  EXPT100617
618                                                NaN  EXPT100618
619       [สิ่งแวดล้อม, None, , , None, การพัฒนาชุมชน]  EXPT100619
620                                                NaN  EXPT100620

[621 rows x 2 columns]

In [536]:
temp_df_fil = temp_df[temp_df['subject'].notnull()]
temp_df_fil

                                               subject     expt_id
4    [กลุ่มโรคไม่ติดต่อ, None, , , None, ระบบสุขภาพ...  EXPT100004
6    [กลุ่มโรคไม่ติดต่อ, None, , , None, สิ่งแวดล้อ...  EXPT100006
9          [การศึกษา, None, , , None, สุขภาวะทางปัญญา]  EXPT100009
12   [ระบบสุขภาพ, None, , , None, ความไม่เท่าเทียมด...  EXPT100012
13                [สิ่งแวดล้อม, None, , , None, ชุมชน]  EXPT100013
..                                                 ...         ...
598  [การศึกษา, None, , , None, ระบบสุขภาพ, None, ,...  EXPT100598
605  [กลุ่มโรคไม่ติดต่อ, None, , , None, ระบบสุขภาพ...  EXPT100605
611            [ระบบสุขภาพ, None, , , None, แอลกอฮอล์]  EXPT100611
616  [ระบบสุขภาพ, None, , , None, สุขภาพจิต, None, ...  EXPT100616
619       [สิ่งแวดล้อม, None, , , None, การพัฒนาชุมชน]  EXPT100619

[194 rows x 2 columns]

In [537]:
temp_df_fil = temp_df_fil.explode('subject').drop_duplicates()
temp_df_fil.dropna(inplace=True)
temp_df_fil = temp_df_fil[temp_df_fil.subject != ', ']
temp_df_fil

                               subject     expt_id
4                    กลุ่มโรคไม่ติดต่อ  EXPT100004
4                           ระบบสุขภาพ  EXPT100004
4                        สุขภาวะทางเพศ  EXPT100004
6                    กลุ่มโรคไม่ติดต่อ  EXPT100006
6                          สิ่งแวดล้อม  EXPT100006
..                                 ...         ...
616                          สุขภาพจิต  EXPT100616
616                         อุบัติเหตุ  EXPT100616
616  รู้เท่าทันสื่อ/ สื่อเด็กและเยาวชน  EXPT100616
619                        สิ่งแวดล้อม  EXPT100619
619                      การพัฒนาชุมชน  EXPT100619

[684 rows x 2 columns]

In [538]:
temp_ind = set((temp_df_fil.index).to_list())
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index().reset_index(drop=True)
temp_df

            subject     expt_id
0               NaN  EXPT100000
1               NaN  EXPT100001
2               NaN  EXPT100002
3               NaN  EXPT100003
4     สุขภาวะทางเพศ  EXPT100004
...             ...         ...
1106            NaN  EXPT100617
1107            NaN  EXPT100618
1108  การพัฒนาชุมชน  EXPT100619
1109    สิ่งแวดล้อม  EXPT100619
1110            NaN  EXPT100620

[1111 rows x 2 columns]

In [539]:
tb_expertise_subject['expertise_subject'] = temp_df['subject']
tb_expertise_subject['expertise_id'] = temp_df['expt_id']
tb_expertise_subject['expertise_subject_createby'] = 'root'
tb_expertise_subject['expertise_subject_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_subject['expertise_subject_updateby'] = 'root'
tb_expertise_subject['expertise_subject_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_subject

,expertise_subject_id,expertise_subject,expertise_subject_createby,expertise_subject_createdt,expertise_subject_updateby,expertise_subject_updatedt,expertise_id
0,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100000
1,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100001
2,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100002
3,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100003
4,NaN,สุขภาวะทางเพศ,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100004
...,...,...,...,...,...,...,...
1106,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100617
1107,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100618
1108,NaN,การพัฒนาชุมชน,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100619
1109,NaN,สิ่งแวดล้อม,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100619
1110,NaN,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100620

In [540]:
tb_expertise_subject = assign_id_tb(tb_expertise_subject, prefix[4])
tb_expertise_subject

1111
1111
1111

,expertise_subject_id,expertise_subject,expertise_subject_createby,expertise_subject_createdt,expertise_subject_updateby,expertise_subject_updatedt,expertise_id
0,EXSJ100000,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100000
1,EXSJ100001,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100001
2,EXSJ100002,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100002
3,EXSJ100003,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100003
4,EXSJ100004,สุขภาวะทางเพศ,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100004
...,...,...,...,...,...,...,...
1106,EXSJ101106,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100617
1107,EXSJ101107,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100618
1108,EXSJ101108,การพัฒนาชุมชน,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100619
1109,EXSJ101109,สิ่งแวดล้อม,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100619
1110,EXSJ101110,NaN,root,2022-12-31 02:53:29,root,2022-12-31 02:53:29,EXPT100620

#### tb_expertise_target

In [541]:
tb_expertise_target.columns

Index(['expertise_target_id', 'expertise_target', 'expertise_target_createby',
       'expertise_target_createdt', 'expertise_target_updateby',
       'expertise_target_updatedt', 'expertise_id'],
      dtype='object')

In [542]:
temp_df = pd.DataFrame(columns={'target', 'expt_id'})
temp_df['target'] = new_df['ความเชี่ยวชาญ กลุ่มเป้าหมาย']
temp_df['expt_id'] = tb_expertise['expertise_id']
temp_df

                                                target     expt_id
0                                                  NaN  EXPT100000
1                                                  NaN  EXPT100001
2                                                  NaN  EXPT100002
3                                                  NaN  EXPT100003
4    [กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), None, , ,...  EXPT100004
..                                                 ...         ...
616  [เด็กปฐมวัย (0-5ปี), None, , , None, เด็กวัยเร...  EXPT100616
617                                                NaN  EXPT100617
618                                                NaN  EXPT100618
619  [กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), None, , ,...  EXPT100619
620                                                NaN  EXPT100620

[621 rows x 2 columns]

In [543]:
temp_df_fil = temp_df[temp_df['target'].notnull()]
temp_df_fil

                                                target     expt_id
4    [กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), None, , ,...  EXPT100004
6    [เด็กวัยเรียน (5-14ปี), None, , , None, กลุ่มว...  EXPT100006
9    [เด็กปฐมวัย (0-5ปี), None, , , None, เด็กวัยเร...  EXPT100009
12   [กลุ่มผู้สูงอายุ (60 ปีขึ้นไป), None, , , None...  EXPT100012
13   [กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), None, , ,...  EXPT100013
..                                                 ...         ...
598  [กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), None, , ,...  EXPT100598
605  [เด็กปฐมวัย (0-5ปี), None, , , None, เด็กวัยเร...  EXPT100605
611  [กลุ่มวัยทำงาน (15-59ปี), None, , , None, กลุ่...  EXPT100611
616  [เด็กปฐมวัย (0-5ปี), None, , , None, เด็กวัยเร...  EXPT100616
619  [กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี), None, , ,...  EXPT100619

[193 rows x 2 columns]

In [544]:
temp_df_fil = temp_df_fil.explode('target').drop_duplicates()
temp_df_fil.dropna(inplace=True)
temp_df_fil = temp_df_fil[temp_df_fil.target != ', ']
temp_df_fil

                                 target     expt_id
4    กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี)  EXPT100004
4               กลุ่มวัยทำงาน (15-59ปี)  EXPT100004
4                        หลากหลายทางเพศ  EXPT100004
4                        แรงงานข้ามชาติ  EXPT100004
6                 เด็กวัยเรียน (5-14ปี)  EXPT100006
..                                  ...         ...
616                      กลุ่มด้อยโอกาส  EXPT100616
616   ชาติพันธุ์และผู้มีปัญหาสถานะบุคคล  EXPT100616
619  กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี)  EXPT100619
619             กลุ่มวัยทำงาน (15-59ปี)  EXPT100619
619       กลุ่มผู้สูงอายุ (60 ปีขึ้นไป)  EXPT100619

[664 rows x 2 columns]

In [545]:
temp_ind = set((temp_df_fil.index).to_list())
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index().reset_index(drop=True)
temp_df

                                  target     expt_id
0                                    NaN  EXPT100000
1                                    NaN  EXPT100001
2                                    NaN  EXPT100002
3                                    NaN  EXPT100003
4                         หลากหลายทางเพศ  EXPT100004
...                                  ...         ...
1087                                 NaN  EXPT100618
1088             กลุ่มวัยทำงาน (15-59ปี)  EXPT100619
1089  กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี)  EXPT100619
1090       กลุ่มผู้สูงอายุ (60 ปีขึ้นไป)  EXPT100619
1091                                 NaN  EXPT100620

[1092 rows x 2 columns]

In [546]:
tb_expertise_target['expertise_target'] = temp_df['target']
tb_expertise_target['expertise_id'] = temp_df['expt_id']
tb_expertise_target['expertise_target_createby'] = 'root'
tb_expertise_target['expertise_target_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_target['expertise_target_updateby'] = 'root'
tb_expertise_target['expertise_target_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_target

,expertise_target_id,expertise_target,expertise_target_createby,expertise_target_createdt,expertise_target_updateby,expertise_target_updatedt,expertise_id
0,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100000
1,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100001
2,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100002
3,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100003
4,NaN,หลากหลายทางเพศ,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100004
...,...,...,...,...,...,...,...
1087,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100618
1088,NaN,กลุ่มวัยทำงาน (15-59ปี),root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
1089,NaN,กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี),root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
1090,NaN,กลุ่มผู้สูงอายุ (60 ปีขึ้นไป),root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
1091,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100620

In [547]:
tb_expertise_target = assign_id_tb(tb_expertise_target, prefix[5])
tb_expertise_target

1092
1092
1092

,expertise_target_id,expertise_target,expertise_target_createby,expertise_target_createdt,expertise_target_updateby,expertise_target_updatedt,expertise_id
0,EXTG100000,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100000
1,EXTG100001,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100001
2,EXTG100002,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100002
3,EXTG100003,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100003
4,EXTG100004,หลากหลายทางเพศ,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100004
...,...,...,...,...,...,...,...
1087,EXTG101087,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100618
1088,EXTG101088,กลุ่มวัยทำงาน (15-59ปี),root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
1089,EXTG101089,กลุ่มเด็กวัยรุ่น/นักศึกษา(15-21ปี),root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
1090,EXTG101090,กลุ่มผู้สูงอายุ (60 ปีขึ้นไป),root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
1091,EXTG101091,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100620

#### tb_expertise_area

In [548]:
tb_expertise_area.columns

Index(['expertise_area_id', 'expertise_area', 'expertise_area_createby',
       'expertise_area_createdt', 'expertise_area_updateby',
       'expertise_area_updatedt', 'expertise_id'],
      dtype='object')

In [549]:
temp_df = pd.DataFrame(columns={'area', 'expt_id'})
temp_df['area'] = new_df['ความเชี่ยวชาญ พื้นที่ดำเนินการ']
temp_df['expt_id'] = tb_expertise['expertise_id']
temp_df

        expt_id area
0    EXPT100000  NaN
1    EXPT100001  NaN
2    EXPT100002  NaN
3    EXPT100003  NaN
4    EXPT100004  NaN
..          ...  ...
616  EXPT100616  NaN
617  EXPT100617  NaN
618  EXPT100618  NaN
619  EXPT100619  NaN
620  EXPT100620  NaN

[621 rows x 2 columns]

In [550]:
temp_df_fil = temp_df[temp_df['area'].notnull()]
temp_df_fil

        expt_id                                               area
6    EXPT100006  [โรงเรียน, None, , , None, มหาวิทยาลัย, None, ...
12   EXPT100012  [มหาวิทยาลัย, None, , , None, โรงพยาบาล, None,...
17   EXPT100017                                            [ชุมชน]
31   EXPT100031               [มหาวิทยาลัย, None, , , None, ชุมชน]
44   EXPT100044  [มหาวิทยาลัย, None, , , None, นอกโรงเรียน (กศน...
63   EXPT100063  [โรงเรียน, None, , , None, มหาวิทยาลัย, None, ...
108  EXPT100108  [มหาวิทยาลัย, None, , , None, อาชีวะ, None, , ...
115  EXPT100115  [มหาวิทยาลัย, None, , , None, ศูนย์เด็กเล็ก, N...
154  EXPT100154  [โรงเรียน, None, , , None, มหาวิทยาลัย, None, ...
156  EXPT100156  [มหาวิทยาลัย, None, , , None, นอกโรงเรียน (กศน...
162  EXPT100162  [รพสต./สถานีอนามัย, None, , , None, ชุมชน, Non...
184  EXPT100184  [มหาวิทยาลัย, None, , , None, ชุมชน, None, , ,...
217  EXPT100217  [โรงเรียน, None, , , None, มหาวิทยาลัย, None, ...
240  EXPT100240  [โรงเรียน, None, , , None, มหาวิทยาลัย, None, ...
313  EXPT100313  [โรงพยาบาล, None, , , None, รพสต./สถานีอนามัย,...
326  EXPT100326  [ชุมชน, None, , , None, สถานประกอบการ/โรงงาน/บ...
327  EXPT100327  [โรงเรียน, None, , , None, โรงพยาบาล, None, , ...
402  EXPT100402  [โรงพยาบาล, None, , , None, รพสต./สถานีอนามัย,...
434  EXPT100434   [ชุมชน, None, , , None, องค์กร/หน่วยงานรัฐอื่นๆ]
445  EXPT100445                                            [ชุมชน]
461  EXPT100461                                      [ระดับนโยบาย]
504  EXPT100504         [รพสต./สถานีอนามัย, None, , , None, ชุมชน]
527  EXPT100527  [ชุมชน, None, , , None, องค์กร/หน่วยงานรัฐอื่น...
529  EXPT100529  [โรงเรียน, None, , , None, ศูนย์เด็กเล็ก, None...
544  EXPT100544     [โรงพยาบาล, None, , , None, รพสต./สถานีอนามัย]
548  EXPT100548  [มหาวิทยาลัย, None, , , None, ชุมชน, None, , ,...
550  EXPT100550                          [องค์กร/หน่วยงานรัฐอื่นๆ]
580  EXPT100580  [โรงพยาบาล, None, , , None, รพสต./สถานีอนามัย,...
591  EXPT100591  [มหาวิทยาลัย, None, , , None, ศาสนสถาน (วัด/โบ...

In [551]:
temp_df_fil = temp_df_fil.explode('area').drop_duplicates()
temp_df_fil.dropna(inplace=True)
temp_df_fil = temp_df_fil[temp_df_fil.area != ', ']
temp_df_fil

        expt_id                         area
6    EXPT100006                     โรงเรียน
6    EXPT100006                  มหาวิทยาลัย
6    EXPT100006                    โรงพยาบาล
6    EXPT100006            รพสต./สถานีอนามัย
6    EXPT100006                        ชุมชน
..          ...                          ...
580  EXPT100580             ศูนย์สุขภาพชุมชน
580  EXPT100580                        ชุมชน
580  EXPT100580      องค์กร/หน่วยงานรัฐอื่นๆ
591  EXPT100591                  มหาวิทยาลัย
591  EXPT100591  ศาสนสถาน (วัด/โบสถ์/มัสยิด)

[97 rows x 2 columns]

In [552]:
temp_ind = set((temp_df_fil.index).to_list())
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index().reset_index(drop=True)
temp_df

        expt_id area
0    EXPT100000  NaN
1    EXPT100001  NaN
2    EXPT100002  NaN
3    EXPT100003  NaN
4    EXPT100004  NaN
..          ...  ...
684  EXPT100616  NaN
685  EXPT100617  NaN
686  EXPT100618  NaN
687  EXPT100619  NaN
688  EXPT100620  NaN

[689 rows x 2 columns]

In [553]:
tb_expertise_area['expertise_area'] = temp_df['area']
tb_expertise_area['expertise_id'] = temp_df['expt_id']
tb_expertise_area['expertise_area_createby'] = 'root'
tb_expertise_area['expertise_area_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_area['expertise_area_updateby'] = 'root'
tb_expertise_area['expertise_area_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_area

,expertise_area_id,expertise_area,expertise_area_createby,expertise_area_createdt,expertise_area_updateby,expertise_area_updatedt,expertise_id
0,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100000
1,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100001
2,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100002
3,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100003
4,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100004
...,...,...,...,...,...,...,...
684,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100616
685,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100617
686,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100618
687,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
688,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100620

In [554]:
tb_expertise_area = assign_id_tb(tb_expertise_area, prefix[6])
tb_expertise_area

689
689
689

,expertise_area_id,expertise_area,expertise_area_createby,expertise_area_createdt,expertise_area_updateby,expertise_area_updatedt,expertise_id
0,EXAR100000,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100000
1,EXAR100001,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100001
2,EXAR100002,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100002
3,EXAR100003,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100003
4,EXAR100004,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100004
...,...,...,...,...,...,...,...
684,EXAR100684,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100616
685,EXAR100685,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100617
686,EXAR100686,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100618
687,EXAR100687,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100619
688,EXAR100688,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,EXPT100620

#### tb_expertise_skill

In [555]:
tb_expertise_skill.columns

Index(['expertise_skill_id', 'expertise_skill_name',
       'expertise_skill_createby', 'expertise_skill_createdt',
       'expertise_skill_updateby', 'expertise_skill_updatedt',
       'expertise_skill_id'],
      dtype='object')

In [556]:
temp_df = pd.DataFrame(columns={'skill', 'expt_id'})
temp_df['skill'] = new_df['ความเชี่ยวชาญ ทักษะ skill and competency']
temp_df['expt_id'] = tb_expertise['expertise_id']
temp_df

    skill     expt_id
0     NaN  EXPT100000
1     NaN  EXPT100001
2     NaN  EXPT100002
3     NaN  EXPT100003
4     NaN  EXPT100004
..    ...         ...
616   NaN  EXPT100616
617   NaN  EXPT100617
618   NaN  EXPT100618
619   NaN  EXPT100619
620   NaN  EXPT100620

[621 rows x 2 columns]

In [557]:
temp_df_fil = temp_df[temp_df['skill'].notnull()]
temp_df_fil

                                                 skill     expt_id
6    [ด้านเศรษฐศาสตร์, None, , , None, ระบบกลไก, No...  EXPT100006
12     [ด้านเศรษฐศาสตร์, None, , , None, ข้อมูลสุขภาพ]  EXPT100012
17   [การเปลี่ยนแปลงพฤติกรรม, None, , , None, การเร...  EXPT100017
28                                   [ด้านเศรษฐศาสตร์]  EXPT100028
31                                   [ด้านเศรษฐศาสตร์]  EXPT100031
44   [การเรียนรู้, None, , , None, การจัดการข้อมูล,...  EXPT100044
63      [การเรียนรู้, None, , , None, ด้านเศรษฐศาสตร์]  EXPT100063
108  [การเรียนรู้, None, , , None, การจัดการข้อมูล,...  EXPT100108
115  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, การจั...  EXPT100115
154  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, ด้านเ...  EXPT100154
156  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, การเร...  EXPT100156
162        [การจัดการข้อมูล, None, , , None, ระบบกลไก]  EXPT100162
167          [ด้านเศรษฐศาสตร์, None, , , None, นโยบาย]  EXPT100167
184  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, การเร...  EXPT100184
217  [การเรียนรู้, None, , , None, การจัดความรู้, N...  EXPT100217
240             [การจัดการข้อมูล, None, , , None, ICT]  EXPT100240
313        [การเรียนรู้, None, , , None, ข้อมูลสุขภาพ]  EXPT100313
326  [การจัดการข้อมูล, None, , , None, การสร้างระบบ...  EXPT100326
327  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, ด้านก...  EXPT100327
402  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, ข้อมู...  EXPT100402
434  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, ด้านเ...  EXPT100434
445            [ด้านเครือข่าย, None, , , None, นโยบาย]  EXPT100445
461            [การจัดความรู้, None, , , None, นโยบาย]  EXPT100461
504  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, การจั...  EXPT100504
527                                           [นโยบาย]  EXPT100527
529  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, การเร...  EXPT100529
544             [ข้อมูลสุขภาพ, None, , , None, นโยบาย]  EXPT100544
548  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, การเร...  EXPT100548
550  [ด้านเศรษฐศาสตร์, None, , , None, การจัดความรู...  EXPT100550
580  [ด้านเครือข่าย, None, , , None, การจัดการข้อมู...  EXPT100580
591  [การเปลี่ยนแปลงพฤติกรรม, None, , , None, ด้านก...  EXPT100591

In [558]:
temp_df_fil = temp_df_fil.explode('skill').drop_duplicates()
temp_df_fil.dropna(inplace=True)
temp_df_fil = temp_df_fil[temp_df_fil.skill != ', ']
temp_df_fil

                      skill     expt_id
6           ด้านเศรษฐศาสตร์  EXPT100006
6                  ระบบกลไก  EXPT100006
6                    นโยบาย  EXPT100006
12          ด้านเศรษฐศาสตร์  EXPT100012
12             ข้อมูลสุขภาพ  EXPT100012
..                      ...         ...
580                ระบบกลไก  EXPT100580
580            ข้อมูลสุขภาพ  EXPT100580
580                  นโยบาย  EXPT100580
591  การเปลี่ยนแปลงพฤติกรรม  EXPT100591
591          ด้านการสื่อสาร  EXPT100591

[97 rows x 2 columns]

In [559]:
temp_ind = set((temp_df_fil.index).to_list())
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index().reset_index(drop=True)
temp_df

    skill     expt_id
0     NaN  EXPT100000
1     NaN  EXPT100001
2     NaN  EXPT100002
3     NaN  EXPT100003
4     NaN  EXPT100004
..    ...         ...
682   NaN  EXPT100616
683   NaN  EXPT100617
684   NaN  EXPT100618
685   NaN  EXPT100619
686   NaN  EXPT100620

[687 rows x 2 columns]

In [560]:
tb_expertise_skill['expertise_skill_name'] = temp_df['skill']
tb_expertise_skill['expertise_id'] = temp_df['expt_id']
tb_expertise_skill['expertise_skill_createby'] = 'root'
tb_expertise_skill['expertise_skill_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_skill['expertise_skill_updateby'] = 'root'
tb_expertise_skill['expertise_skill_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_expertise_skill

,expertise_skill_id,expertise_skill_name,expertise_skill_createby,expertise_skill_createdt,expertise_skill_updateby,expertise_skill_updatedt,expertise_skill_id,expertise_id
0,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100000
1,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100001
2,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100002
3,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100003
4,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100004
...,...,...,...,...,...,...,...,...
682,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100616
683,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100617
684,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100618
685,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100619
686,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100620

In [561]:
id = tb_expertise_skill.index.to_list()
start = 100000
for item in id:
    index = start + int(item)
    value = prefix[7] + str(index)
    tb_expertise_skill.iloc[id[int(item)], 0] = value

tb_expertise_skill

,expertise_skill_id,expertise_skill_name,expertise_skill_createby,expertise_skill_createdt,expertise_skill_updateby,expertise_skill_updatedt,expertise_skill_id,expertise_id
0,EXSK100000,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100000
1,EXSK100001,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100001
2,EXSK100002,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100002
3,EXSK100003,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100003
4,EXSK100004,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100004
...,...,...,...,...,...,...,...,...
682,EXSK100682,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100616
683,EXSK100683,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100617
684,EXSK100684,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100618
685,EXSK100685,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100619
686,EXSK100686,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30,NaN,EXPT100620

#### tb_evaluation

In [562]:
tb_evaluation.columns

Index(['evaluation_id', 'evaluation_interests', 'evaluation_work',
       'evaluation_experience_id', 'evaluation_healthcare',
       'evaluation_understanding', 'evaluation_project', 'evaluation_position',
       'evaluation_createby', 'evaluation_createdt', 'evaluation_updateby',
       'evaluation_updatedt'],
      dtype='object')

In [563]:
tb_evaluation.drop(columns=['evaluation_understanding'], inplace=True)
tb_evaluation.drop(columns=['evaluation_project'], inplace=True)
tb_evaluation.columns

Index(['evaluation_id', 'evaluation_interests', 'evaluation_work',
       'evaluation_experience_id', 'evaluation_healthcare',
       'evaluation_position', 'evaluation_createby', 'evaluation_createdt',
       'evaluation_updateby', 'evaluation_updatedt'],
      dtype='object')

In [564]:
temp_df = pd.DataFrame(columns={'inter', 'work', 'exp_id', 'health', 'pos'})
temp_df['inter'] = new_df['ความสนใจด้านการประเมินผล']
temp_df['work'] = new_df['การทำงานด้านการประเมินผล']
temp_df['health'] = new_df['การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ']
temp_df['pos'] = new_df['ฐานะผู้ประเมิน']
temp_df

                                   pos health inter exp_id work
0                                  NaN    NaN   NaN    NaN  NaN
1                                  NaN    NaN   NaN    NaN  NaN
2                                  NaN    NaN   NaN    NaN  NaN
3                                  NaN    NaN   NaN    NaN  NaN
4                     ผู้ประเมินภายนอก    เคย  สนใจ    NaN  เคย
..                                 ...    ...   ...    ...  ...
616                   ผู้ประเมินภายนอก    เคย  สนใจ    NaN  เคย
617                                NaN    NaN   NaN    NaN  NaN
618                                NaN    NaN   NaN    NaN  NaN
619  ผู้ประเมินภายใน, ผู้ประเมินภายนอก    เคย  สนใจ    NaN  เคย
620                                NaN    NaN   NaN    NaN  NaN

[621 rows x 5 columns]

In [565]:
tb_evaluation['evaluation_interests'] = temp_df['inter']
tb_evaluation['evaluation_work'] = temp_df['work']
tb_evaluation['evaluation_healthcare'] = temp_df['health']
tb_evaluation['evaluation_position'] = temp_df['pos']
tb_evaluation['evaluation_createby'] = 'root'
tb_evaluation['evaluation_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation['evaluation_updateby'] = 'root'
tb_evaluation['evaluation_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation

,evaluation_id,evaluation_interests,evaluation_work,evaluation_experience_id,evaluation_healthcare,evaluation_position,evaluation_createby,evaluation_createdt,evaluation_updateby,evaluation_updatedt
0,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
1,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
2,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
3,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
4,NaN,สนใจ,เคย,NaN,เคย,ผู้ประเมินภายนอก,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
...,...,...,...,...,...,...,...,...,...,...
616,NaN,สนใจ,เคย,NaN,เคย,ผู้ประเมินภายนอก,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
617,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
618,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
619,NaN,สนใจ,เคย,NaN,เคย,"ผู้ประเมินภายใน, ผู้ประเมินภายนอก",root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
620,NaN,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30

In [566]:
tb_evaluation = assign_id_tb(tb_evaluation, prefix[8])
tb_evaluation

621
621
621

,evaluation_id,evaluation_interests,evaluation_work,evaluation_experience_id,evaluation_healthcare,evaluation_position,evaluation_createby,evaluation_createdt,evaluation_updateby,evaluation_updatedt
0,EVAL100000,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
1,EVAL100001,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
2,EVAL100002,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
3,EVAL100003,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
4,EVAL100004,สนใจ,เคย,NaN,เคย,ผู้ประเมินภายนอก,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
...,...,...,...,...,...,...,...,...,...,...
616,EVAL100616,สนใจ,เคย,NaN,เคย,ผู้ประเมินภายนอก,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
617,EVAL100617,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
618,EVAL100618,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
619,EVAL100619,สนใจ,เคย,NaN,เคย,"ผู้ประเมินภายใน, ผู้ประเมินภายนอก",root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
620,EVAL100620,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30

In [567]:
id = tb_evaluation.index.to_list()
start = 100000
for item in id:
    index = start + int(item)
    value = prefix[9] + str(index)
    tb_evaluation.iloc[id[int(item)], 3] = value

tb_evaluation

,evaluation_id,evaluation_interests,evaluation_work,evaluation_experience_id,evaluation_healthcare,evaluation_position,evaluation_createby,evaluation_createdt,evaluation_updateby,evaluation_updatedt
0,EVAL100000,NaN,NaN,EVEX100000,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
1,EVAL100001,NaN,NaN,EVEX100001,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
2,EVAL100002,NaN,NaN,EVEX100002,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
3,EVAL100003,NaN,NaN,EVEX100003,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
4,EVAL100004,สนใจ,เคย,EVEX100004,เคย,ผู้ประเมินภายนอก,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
...,...,...,...,...,...,...,...,...,...,...
616,EVAL100616,สนใจ,เคย,EVEX100616,เคย,ผู้ประเมินภายนอก,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
617,EVAL100617,NaN,NaN,EVEX100617,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
618,EVAL100618,NaN,NaN,EVEX100618,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
619,EVAL100619,สนใจ,เคย,EVEX100619,เคย,"ผู้ประเมินภายใน, ผู้ประเมินภายนอก",root,2022-12-31 02:53:30,root,2022-12-31 02:53:30
620,EVAL100620,NaN,NaN,EVEX100620,NaN,NaN,root,2022-12-31 02:53:30,root,2022-12-31 02:53:30

#### tb_evaluation_experience

In [676]:
tb_evaluation_experience.columns

Index(['evaluation_experience_id', 'evaluation_experience_impact',
       'evaluation_experience_output', 'evaluation_experience_outcome',
       'evaluation_experience_worthiness', 'evaluation_experience_createby',
       'evaluation_experience_createdt', 'evaluation_experience_updateby',
       'evaluation_experience_updatedt'],
      dtype='object')

In [677]:
temp_df = pd.DataFrame(columns={'exp', 'eval_id'})
temp_df['exp'] = new_df['ระดับประสบการณ์ด้านการประเมินผล']
temp_df['eval_id'] = tb_evaluation['evaluation_id']
temp_df

        eval_id  exp
0    EVAL100000  NaN
1    EVAL100001  NaN
2    EVAL100002  NaN
3    EVAL100003  NaN
4    EVAL100004  NaN
..          ...  ...
616  EVAL100616  NaN
617  EVAL100617  NaN
618  EVAL100618  NaN
619  EVAL100619  NaN
620  EVAL100620  NaN

[621 rows x 2 columns]

In [678]:
temp_df_fil = temp_df[temp_df['exp'].notnull()]
temp_df_fil

        eval_id                                                exp
6    EVAL100006  [Output, None, None, Outcome, None, , , None, ...
12   EVAL100012  [Output, None, None, Outcome, None, , , None, ...
17   EVAL100017  [Output, None, None, Outcome, None, , , None, ...
44   EVAL100044  [Output, None, None, Outcome, None, , , None, ...
63   EVAL100063                                      [ความคุ้มค่า]
108  EVAL100108  [Output, None, None, Outcome, None, , , None, ...
115  EVAL100115  [Output, None, None, Outcome, None, , , None, ...
154  EVAL100154                 [Outcome, None, None, ความคุ้มค่า]
156  EVAL100156  [Output, None, None, Outcome, None, , , None, ...
162  EVAL100162  [Output, None, None, Outcome, None, , , None, ...
184  EVAL100184  [Output, None, None, Outcome, None, , , None, ...
217  EVAL100217                                           [Impact]
240  EVAL100240                      [Output, None, None, Outcome]
313  EVAL100313                      [Output, None, None, Outcome]
326  EVAL100326                      [Outcome, None, None, Impact]
327  EVAL100327  [Output, None, None, Outcome, None, , , None, ...
402  EVAL100402                      [Output, None, None, Outcome]
434  EVAL100434  [Output, None, None, Outcome, None, , , None, ...
445  EVAL100445                                          [Outcome]
461  EVAL100461  [Output, None, None, Outcome, None, , , None, ...
504  EVAL100504                      [Outcome, None, None, Impact]
527  EVAL100527                      [Output, None, None, Outcome]
529  EVAL100529  [Output, None, None, Outcome, None, , , None, ...
544  EVAL100544                 [Outcome, None, None, ความคุ้มค่า]
548  EVAL100548  [Output, None, None, Outcome, None, , , None, ...
550  EVAL100550                                          [Outcome]
580  EVAL100580                      [Output, None, None, Outcome]
591  EVAL100591                      [Output, None, None, Outcome]

In [679]:
temp_df_fil = temp_df_fil.explode('exp').drop_duplicates()
temp_df_fil.dropna(inplace=True)
temp_df_fil = temp_df_fil[temp_df_fil.exp != ', ']
temp_df_fil

        eval_id      exp
6    EVAL100006   Output
6    EVAL100006  Outcome
6    EVAL100006   Impact
12   EVAL100012   Output
12   EVAL100012  Outcome
..          ...      ...
550  EVAL100550  Outcome
580  EVAL100580   Output
580  EVAL100580  Outcome
591  EVAL100591   Output
591  EVAL100591  Outcome

[71 rows x 2 columns]

In [680]:
temp_ind = set(temp_df_fil.index.to_list())
temp_df_pivot = temp_df_fil.pivot(index='eval_id', columns='exp', values='exp')
temp_df_pivot

exp         Impact  Outcome  Output  ความคุ้มค่า
eval_id
EVAL100006  Impact  Outcome  Output          NaN
EVAL100012  Impact  Outcome  Output  ความคุ้มค่า
EVAL100017  Impact  Outcome  Output          NaN
EVAL100044  Impact  Outcome  Output          NaN
EVAL100063     NaN      NaN     NaN  ความคุ้มค่า
EVAL100108  Impact  Outcome  Output          NaN
EVAL100115  Impact  Outcome  Output          NaN
EVAL100154     NaN  Outcome     NaN  ความคุ้มค่า
EVAL100156  Impact  Outcome  Output  ความคุ้มค่า
EVAL100162  Impact  Outcome  Output  ความคุ้มค่า
EVAL100184  Impact  Outcome  Output          NaN
EVAL100217  Impact      NaN     NaN          NaN
EVAL100240     NaN  Outcome  Output          NaN
EVAL100313     NaN  Outcome  Output          NaN
EVAL100326  Impact  Outcome     NaN          NaN
EVAL100327  Impact  Outcome  Output          NaN
EVAL100402     NaN  Outcome  Output          NaN
EVAL100434  Impact  Outcome  Output  ความคุ้มค่า
EVAL100445     NaN  Outcome     NaN          NaN
EVAL100461     NaN  Outcome  Output  ความคุ้มค่า
EVAL100504  Impact  Outcome     NaN          NaN
EVAL100527     NaN  Outcome  Output          NaN
EVAL100529  Impact  Outcome  Output          NaN
EVAL100544     NaN  Outcome     NaN  ความคุ้มค่า
EVAL100548  Impact  Outcome  Output  ความคุ้มค่า
EVAL100550     NaN  Outcome     NaN          NaN
EVAL100580     NaN  Outcome  Output          NaN
EVAL100591     NaN  Outcome  Output          NaN

In [681]:
temp_df_pivot = temp_df_pivot.reset_index()
temp_df_pivot = temp_df_pivot.rename(index=dict(zip(temp_df_pivot.index, temp_ind)))
temp_df_pivot.fillna('ไม่มี', inplace=True)
temp_df_pivot.replace('Impact', 'มี', inplace=True)
temp_df_pivot.replace('Outcome', 'มี', inplace=True)
temp_df_pivot.replace('Output', 'มี', inplace=True)
temp_df_pivot.replace('ความคุ้มค่า', 'มี', inplace=True)
temp_df_pivot

exp     eval_id Impact Outcome Output ความคุ้มค่า
6    EVAL100006     มี      มี     มี       ไม่มี
12   EVAL100012     มี      มี     มี          มี
527  EVAL100017     มี      มี     มี       ไม่มี
17   EVAL100044     มี      มี     มี       ไม่มี
402  EVAL100063  ไม่มี   ไม่มี  ไม่มี          มี
529  EVAL100108     มี      มี     มี       ไม่มี
154  EVAL100115     มี      มี     มี       ไม่มี
156  EVAL100154  ไม่มี      มี  ไม่มี          มี
544  EVAL100156     มี      มี     มี          มี
162  EVAL100162     มี      มี     มี          มี
548  EVAL100184     มี      มี     มี       ไม่มี
550  EVAL100217     มี   ไม่มี  ไม่มี       ไม่มี
44   EVAL100240  ไม่มี      มี     มี       ไม่มี
434  EVAL100313  ไม่มี      มี     มี       ไม่มี
184  EVAL100326     มี      มี  ไม่มี       ไม่มี
313  EVAL100327     มี      มี     มี       ไม่มี
445  EVAL100402  ไม่มี      มี     มี       ไม่มี
63   EVAL100434     มี      มี     มี          มี
580  EVAL100445  ไม่มี      มี  ไม่มี       ไม่มี
326  EVAL100461  ไม่มี      มี     มี          มี
327  EVAL100504     มี      มี  ไม่มี       ไม่มี
461  EVAL100527  ไม่มี      มี     มี       ไม่มี
591  EVAL100529     มี      มี     มี       ไม่มี
217  EVAL100544  ไม่มี      มี  ไม่มี          มี
108  EVAL100548     มี      มี     มี          มี
240  EVAL100550  ไม่มี      มี  ไม่มี       ไม่มี
115  EVAL100580  ไม่มี      มี     มี       ไม่มี
504  EVAL100591  ไม่มี      มี     มี       ไม่มี

In [682]:
temp_df = pd.DataFrame(columns={'eval_id', 'Impact', 'Outcome', 'Output', 'ความคุ้มค่า'})
temp_df['eval_id'] = tb_evaluation['evaluation_id']

for item in temp_ind:
    temp_df = temp_df.drop(item)

temp_df = pd.concat([temp_df, temp_df_pivot], ignore_index=False, axis=0)
temp_df = temp_df.sort_index().reset_index(drop=True)
temp_df.iloc[6:20, :]

       eval_id Impact Output Outcome ความคุ้มค่า
6   EVAL100006     มี     มี      มี       ไม่มี
7   EVAL100007    NaN    NaN     NaN         NaN
8   EVAL100008    NaN    NaN     NaN         NaN
9   EVAL100009    NaN    NaN     NaN         NaN
10  EVAL100010    NaN    NaN     NaN         NaN
11  EVAL100011    NaN    NaN     NaN         NaN
12  EVAL100012     มี     มี      มี          มี
13  EVAL100013    NaN    NaN     NaN         NaN
14  EVAL100014    NaN    NaN     NaN         NaN
15  EVAL100015    NaN    NaN     NaN         NaN
16  EVAL100016    NaN    NaN     NaN         NaN
17  EVAL100044     มี     มี      มี       ไม่มี
18  EVAL100018    NaN    NaN     NaN         NaN
19  EVAL100019    NaN    NaN     NaN         NaN

In [684]:
tb_evaluation_experience['evaluation_experience_impact'] = temp_df['Impact']
tb_evaluation_experience['evaluation_experience_outcome'] = temp_df['Outcome']
tb_evaluation_experience['evaluation_experience_output'] = temp_df['Output']
tb_evaluation_experience['evaluation_experience_worthiness'] = temp_df['ความคุ้มค่า']
tb_evaluation_experience['evaluation_experience_createby'] = 'root'
tb_evaluation_experience['evaluation_experience_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation_experience['evaluation_experience_updateby'] = 'root'
tb_evaluation_experience['evaluation_experience_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation_experience

,evaluation_experience_id,evaluation_experience_impact,evaluation_experience_output,evaluation_experience_outcome,evaluation_experience_worthiness,evaluation_experience_createby,evaluation_experience_createdt,evaluation_experience_updateby,evaluation_experience_updatedt
0,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
1,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
2,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
3,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
4,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
...,...,...,...,...,...,...,...,...,...
616,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
617,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
618,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
619,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
620,NaN,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34

In [686]:
tb_evaluation_experience = assign_id_tb(tb_evaluation_experience, prefix[9])
tb_evaluation_experience

621
621
621

,evaluation_experience_id,evaluation_experience_impact,evaluation_experience_output,evaluation_experience_outcome,evaluation_experience_worthiness,evaluation_experience_createby,evaluation_experience_createdt,evaluation_experience_updateby,evaluation_experience_updatedt
0,EVEX100000,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
1,EVEX100001,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
2,EVEX100002,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
3,EVEX100003,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
4,EVEX100004,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
...,...,...,...,...,...,...,...,...,...
616,EVEX100616,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
617,EVEX100617,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
618,EVEX100618,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
619,EVEX100619,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34
620,EVEX100620,NaN,NaN,NaN,NaN,root,2022-12-31 03:29:34,root,2022-12-31 03:29:34

#### tb_evaluation_approches

In [687]:
tb_evaluation_approaches.columns

Index(['evaluation_approaches_id', 'evaluation_approaches_name',
       'evaluation_approaches_detail', 'evaluation_approaches_createby',
       'evaluation_approaches_createdt', 'evaluation_approaches_updateby',
       'evaluation_approaches_updatedt', 'evaluation_id'],
      dtype='object')

In [688]:
new_df.columns

Index(['ID', 'คำนำหน้า', 'ตำแหน่ง', 'ชื่อ', 'นามสกุล', 'ที่อยู่', 'โทรศัพท์',
       'โทรศัพท์มือถือ', 'อีเมล์', 'ด้านการศึกษา ระดับการศึกษา',
       'ด้านการศึกษา สาขาที่จบ (สูงสุด)',
       'ด้านการศึกษา สถาบันการศึกษาที่จบ (สูงสุด)', 'หน่วยงานที่สังกัด',
       'ความสนใจด้านการประเมินผล', 'การทำงานด้านการประเมินผล',
       'ประสบการณ์ด้านการประเมินผล', 'ระดับประสบการณ์ด้านการประเมินผล',
       'การทำงานด้านประเมินผลงานสร้างเสริมสุขภาพ',
       'กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล',
       'รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล',
       'ฐานะผู้ประเมิน', 'เคยประเมินผลให้กับหน่วยงานอื่น',
       'ความเชี่ยวชาญ ด้านประเด็น', 'ความเชี่ยวชาญ กลุ่มเป้าหมาย',
       'ความเชี่ยวชาญ พื้นที่ดำเนินการ',
       'ความเชี่ยวชาญ ทักษะ skill and competency',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงคุณภาพ',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ descriptive study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ analytical study',
       'ความเชี่ยวชาญด้านการวิเคราะห์ข้อมูล เชิงปริมาณแบบ experimental study'],
      dtype='object')

In [690]:
temp_df = pd.DataFrame(columns={'app_n', 'eval_id'})
temp_df['app_n'] = new_df['รูปแบบดำเนินการ (Evaluation approaches) ที่ใช้ประเมินผล']
temp_df['eval_id'] = tb_evaluation['evaluation_id']
temp_df

                                                 app_n     eval_id
0                                                  NaN  EVAL100000
1                                                  NaN  EVAL100001
2                                                  NaN  EVAL100002
3                                                  NaN  EVAL100003
4    [Outcome evaluation, None, , , None, Result-ba...  EVAL100004
..                                                 ...         ...
616  [EE, None, , , None, Outcome evaluation, None,...  EVAL100616
617                                                NaN  EVAL100617
618                                                NaN  EVAL100618
619                          [ARE, None, , , None, EE]  EVAL100619
620                                                NaN  EVAL100620

[621 rows x 2 columns]

In [691]:
temp_df_fil = temp_df[temp_df['app_n'].notnull()]
temp_df_fil

                                                 app_n     eval_id
4    [Outcome evaluation, None, , , None, Result-ba...  EVAL100004
6    [Developmental evaluation (DE), None, , , None...  EVAL100006
9    [ARE,DE, None, , , None, Stake's Countenance M...  EVAL100009
12                           [Theory-based evaluation]  EVAL100012
13                        [ARE,DE, None, , , None, EE]  EVAL100013
..                                                 ...         ...
598                           [DE, None, , , None, EE]  EVAL100598
605                                              [ARE]  EVAL100605
611           [DE, None, , , None, Outcome evaluation]  EVAL100611
616  [EE, None, , , None, Outcome evaluation, None,...  EVAL100616
619                          [ARE, None, , , None, EE]  EVAL100619

[192 rows x 2 columns]

In [692]:
temp_df_fil = temp_df_fil.explode('app_n').drop_duplicates()
temp_df_fil.dropna(inplace=True)
temp_df_fil = temp_df_fil[temp_df_fil.app_n != ', ']
temp_df_fil

                        app_n     eval_id
4          Outcome evaluation  EVAL100004
4     Result-based evaluation  EVAL100004
4     Theory-based evaluation  EVAL100004
4         Strategy evaluation  EVAL100004
4          Process evaluation  EVAL100004
..                        ...         ...
616                        EE  EVAL100616
616        Outcome evaluation  EVAL100616
616  Participatory evaluation  EVAL100616
619                       ARE  EVAL100619
619                        EE  EVAL100619

[660 rows x 2 columns]

In [693]:
temp_ind = set((temp_df_fil.index).to_list())
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index().reset_index(drop=True)
temp_df

                        app_n     eval_id
0                         NaN  EVAL100000
1                         NaN  EVAL100001
2                         NaN  EVAL100002
3                         NaN  EVAL100003
4     Theory-based evaluation  EVAL100004
...                       ...         ...
1084                      NaN  EVAL100617
1085                      NaN  EVAL100618
1086                      ARE  EVAL100619
1087                       EE  EVAL100619
1088                      NaN  EVAL100620

[1089 rows x 2 columns]

In [694]:
tb_evaluation_approaches['evaluation_approaches_name'] = temp_df['app_n']
tb_evaluation_approaches['evaluation_approaches_createby'] = 'root'
tb_evaluation_approaches['evaluation_approaches_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation_approaches['evaluation_approaches_updateby'] = 'root'
tb_evaluation_approaches['evaluation_approaches_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation_approaches

,evaluation_approaches_id,evaluation_approaches_name,evaluation_approaches_detail,evaluation_approaches_createby,evaluation_approaches_createdt,evaluation_approaches_updateby,evaluation_approaches_updatedt,evaluation_id
0,NaN,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1,NaN,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
2,NaN,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
3,NaN,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
4,NaN,Theory-based evaluation,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
...,...,...,...,...,...,...,...,...
1084,NaN,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1085,NaN,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1086,NaN,ARE,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1087,NaN,EE,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1088,NaN,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN

In [695]:
tb_evaluation_approaches = assign_id_tb(tb_evaluation_approaches, prefix[10])
tb_evaluation_approaches

1089
1089
1089

,evaluation_approaches_id,evaluation_approaches_name,evaluation_approaches_detail,evaluation_approaches_createby,evaluation_approaches_createdt,evaluation_approaches_updateby,evaluation_approaches_updatedt,evaluation_id
0,EVAP100000,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1,EVAP100001,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
2,EVAP100002,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
3,EVAP100003,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
4,EVAP100004,Theory-based evaluation,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
...,...,...,...,...,...,...,...,...
1084,EVAP101084,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1085,EVAP101085,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1086,EVAP101086,ARE,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1087,EVAP101087,EE,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN
1088,EVAP101088,NaN,NaN,root,2022-12-31 03:35:29,root,2022-12-31 03:35:29,NaN

#### tb_evaluation_framework

In [696]:
tb_evaluation_framework.columns

Index(['evaluation_framework_id', 'evaluation_framework_name',
       'evaluation_framework_detail', 'evaluation_framework_createby',
       'evaluation_framework_createdt', 'evaluation_framework_updateby',
       'evaluation_framework_updatedt', 'evaluation_id'],
      dtype='object')

In [698]:
temp_df = pd.DataFrame(columns={'frame', 'eval_id'})
temp_df['frame'] = new_df['กรอบการประเมินผล (Evaluation frameworks) ที่ใช้ประเมินผล']
temp_df['eval_id'] = tb_evaluation['evaluation_id']
temp_df

                                                 frame     eval_id
0                                                  NaN  EVAL100000
1                                                  NaN  EVAL100001
2                                                  NaN  EVAL100002
3                                                  NaN  EVAL100003
4    [CIPP, None, , , None, Logic Model, None, , , ...  EVAL100004
..                                                 ...         ...
616  [CIPP, None, , , None, PRECEDE-PROCEED, None, ...  EVAL100616
617                                                NaN  EVAL100617
618                                                NaN  EVAL100618
619                [CIPP, None, , , None, Logic Model]  EVAL100619
620                                                NaN  EVAL100620

[621 rows x 2 columns]

In [700]:
temp_df_fil = temp_df[temp_df['frame'].notnull()]
temp_df_fil

                                                 frame     eval_id
4    [CIPP, None, , , None, Logic Model, None, , , ...  EVAL100004
6    [CIPP, None, , , None, Logic Model, None, , , ...  EVAL100006
9                                               [CIPP]  EVAL100009
12                 [CIPP, None, , , None, Logic Model]  EVAL100012
13   [CIPP, None, , , None, Logic Model, None, , , ...  EVAL100013
..                                                 ...         ...
598  [CIPP, None, , , None, Logic Model, None, , , ...  EVAL100598
605                [CIPP, None, , , None, Logic Model]  EVAL100605
611               [Logic Model, None, , , None, REAIM]  EVAL100611
616  [CIPP, None, , , None, PRECEDE-PROCEED, None, ...  EVAL100616
619                [CIPP, None, , , None, Logic Model]  EVAL100619

[192 rows x 2 columns]

In [701]:
temp_df_fil = temp_df_fil.explode('frame').drop_duplicates()
temp_df_fil.dropna(inplace=True)
temp_df_fil = temp_df_fil[temp_df_fil.frame != ', ']
temp_df_fil

                frame     eval_id
4                CIPP  EVAL100004
4         Logic Model  EVAL100004
4    Theory of change  EVAL100004
6                CIPP  EVAL100006
6         Logic Model  EVAL100006
..                ...         ...
616              CIPP  EVAL100616
616   PRECEDE-PROCEED  EVAL100616
616   outcome mapping  EVAL100616
619              CIPP  EVAL100619
619       Logic Model  EVAL100619

[453 rows x 2 columns]

In [702]:
temp_ind = set((temp_df_fil.index).to_list())
for i in temp_ind:
    temp_df = temp_df.drop(i)

temp_df = pd.concat([temp_df, temp_df_fil], ignore_index=False, axis=0)
temp_df = temp_df.sort_index().reset_index(drop=True)
temp_df

                frame     eval_id
0                 NaN  EVAL100000
1                 NaN  EVAL100001
2                 NaN  EVAL100002
3                 NaN  EVAL100003
4    Theory of change  EVAL100004
..                ...         ...
877               NaN  EVAL100617
878               NaN  EVAL100618
879       Logic Model  EVAL100619
880              CIPP  EVAL100619
881               NaN  EVAL100620

[882 rows x 2 columns]

In [703]:
tb_evaluation_framework['evaluation_framework_name'] = temp_df['frame']
tb_evaluation_framework['evaluation_framework_createby'] = 'root'
tb_evaluation_framework['evaluation_framework_createdt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation_framework['evaluation_framework_updateby'] = 'root'
tb_evaluation_framework['evaluation_framework_updatedt'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
tb_evaluation_framework

,evaluation_framework_id,evaluation_framework_name,evaluation_framework_detail,evaluation_framework_createby,evaluation_framework_createdt,evaluation_framework_updateby,evaluation_framework_updatedt,evaluation_id
0,NaN,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
1,NaN,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
2,NaN,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
3,NaN,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
4,NaN,Theory of change,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
...,...,...,...,...,...,...,...,...
877,NaN,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
878,NaN,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
879,NaN,Logic Model,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
880,NaN,CIPP,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
881,NaN,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN

In [704]:
tb_evaluation_framework = assign_id_tb(tb_evaluation_framework, prefix[11])
tb_evaluation_framework

882
882
882

,evaluation_framework_id,evaluation_framework_name,evaluation_framework_detail,evaluation_framework_createby,evaluation_framework_createdt,evaluation_framework_updateby,evaluation_framework_updatedt,evaluation_id
0,EVFW100000,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
1,EVFW100001,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
2,EVFW100002,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
3,EVFW100003,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
4,EVFW100004,Theory of change,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
...,...,...,...,...,...,...,...,...
877,EVFW100877,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
878,EVFW100878,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
879,EVFW100879,Logic Model,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
880,EVFW100880,CIPP,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN
881,EVFW100881,NaN,NaN,root,2022-12-31 03:38:13,root,2022-12-31 03:38:13,NaN

## Insert to databases

In [706]:
from sqlalchemy import create_engine
import json
import pymysql

f = open('db_pass.json', 'r')
db_pass = json.load(f)
f.close()

user = db_pass['user']
password = db_pass['password']
host = db_pass['host']
port = db_pass['port']
dbname = db_pass['db']

engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{dbname}', encoding='utf-8')

conn = engine.connect()

In [711]:
tables = [tb_user, tb_contact, tb_location, tb_expertise,
    tb_expertise_subject, tb_expertise_target, tb_expertise_area, tb_expertise_skill,
    tb_evaluation, tb_evaluation_experience, tb_evaluation_approaches, tb_evaluation_framework]

In [713]:
col = 0
for tb in tables:
    tb.to_sql(tb_col_name[col], engine, if_exists='replace', index=False)
    col += 1

In [715]:
pd.read_sql('''SELECT * FROM tb_user 
join tb_contact on tb_user.contact_id = tb_contact.contact_id
join tb_location on tb_user.location_id = tb_location.location_id''', engine)

Exception during reset or similar
Traceback (most recent call last):
  File "/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 757, in _finalize_fairy
    fairy._reset(pool, transaction_was_reset)
  File "/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/sqlalchemy/pool/base.py", line 1016, in _reset
    pool._dialect.do_rollback(self)
  File "/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
  File "/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pymysql/connections.py", line 480, in rollback
    self._read_ok_packet()
  File "/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pymysql/connections.py", line 443, in _read_ok_packet
    pkt = self._read_packet()
  File "/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pymysql/connections.py", line 692, in _read_packet
    packet_header = self._read_bytes(4)
  File "/Users/cusniwtt/opt/miniconda3/lib/python3.9/site-packages/pymysql/connections.py", line 748, in _read_bytes
    raise err.OperationalError(
pymysql.err.OperationalError: (2013, 'Lost connection to MySQL server during query')

,user_id,user_image,user_username,user_password,user_prefix,user_title,user_fname,user_lname,user_birthdate,user_role,...,location_province,location_zipcode,location_latitude,location_longtitude,location_createby,location_createdt,location_updateby,location_updatedt,location_createdate,location_updatedate
0,USER100000,None,None,None,นาง,None,กนกพร,ตันวัฒนะ,None,None,...,,,NaN,NaN,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
1,USER100001,None,None,None,น.ส.,None,กนกภรณ์,ชูเชิด,None,None,...,นนทบุรี,11000,13.880611,100.454377,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
2,USER100002,None,None,None,คุณ,None,กนกรัตน์,กิตติวิวัฒน์,None,None,...,พะเยา,56000,16.747911,100.191934,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
3,USER100003,None,None,None,None,ดร.,กนิษฐ์,ศรีเคลือบ,None,None,...,,,13.737285,100.528447,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
4,USER100004,None,None,None,นาง,รศ.ดร.,กนิษฐา,จำรูญสวัสดิ์,None,None,...,,,13.766235,100.534207,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616,USER100616,None,None,None,นาง,รศ.ดร.,อุษา,บิ้กกิ้นส์,None,None,...,นนทบุรี,11120,13.881477,100.544001,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
617,USER100617,None,None,None,คุณ,None,อุษา,อติโภคบูรณ์,None,None,...,,,NaN,NaN,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
618,USER100618,None,None,None,None,ผศ.ดร.,อุษา,อ้นทอง,None,None,...,สงขลา,90000,7.162949,100.609099,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
619,USER100619,None,None,None,น.ส.,ดร.,อุษารดี,ภู่มาลี,None,None,...,,,13.845684,100.574300,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29
620,USER100620,None,None,None,น.ส.,None,อุสมะห์,ลาเฮศักดิ์สิทธิ์,None,None,...,กรุงเทพมหานคร,10900,13.799199,100.561488,root,None,root,None,2022-12-31 02:53:29,2022-12-31 02:53:29